<!-- intro -->
<div class="detail-intro" data-component="detail-intro">
	<img class="intro-background" src="{{ pathToAssets }}images/bmw-i3/bmw-i3-dashboard.png" alt="BMW i3 dashboard" />
	<section class="intro-content max-width-centered">
		<article class="intro-text" data-intro-text>
			<header>
				<img itemprop="image" class="intro-title-image" src="{{ pathToAssets }}images/bmw-i3/bmw-i3-small.png" alt="BMW i3 small" />
				<h1 itemprop="name">
					BMW i3
					<span class="subtitle">Business model 1.5 TDI</span>
				</h1>
				<p itemprop="description">
					Introtekst over de nieuwe BMW i3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa orem psum dolor sit.
				</p>
				<aside class="social-buttons">
					<p>Deze test delen via</p>
					<a class="social-button button-facebook" href="#">Facebook</a>
					<a class="social-button button-twitter" href="#">Twitter</a>
					<a class="social-button button-gplus" href="#" onclick="javascript:this.href='https://plus.google.com/share?url='+window.location.href;window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">Google Plus</a>
				</aside>
			</header>
		</article><!--
		--><div class="widget-score-block">
			{% include "components/widget-score/_widget-score.html" %}
		</div>
	</section>
</div>
<!-- /intro -->
