<!-- widget-score -->
<div class="widget-score" data-component="widget-score">
	<div class="score-overview" data-widget-score-overview>
		<header>
			<span class="icon icon-gauge{{ content.widgetScore.score | gauge }}"></span>
			<span class="score">{{ content.widgetScore.score }}</span>
			<span class="icon icon-arrow-down" data-score-header-arrow></span>
		</header>
		<ul>
			{% for property, value in content.widgetScore.scoreDetails %}
			<li>
				<a href="#{{ property }}">
					<span class="label">{{ property | capitalize }}</span>
					<span class="value">{{ value.score }}</span>
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="score-summary">
		<ul>
			{% for goodText in content.widgetScore.summary.good %}
				<li><span class="icon icon-plus"></span>{{ goodText }}</li>
			{% endfor %}
		</ul>
		<ul>
			{% for badText in content.widgetScore.summary.bad %}
				<li><span class="icon icon-min-dark-grey"></span>{{ badText }}</li>
			{% endfor %}
		</ul>
	</div>
</div>
<!-- /widget-score -->
