{% macro widgetScore(item) %}
<!-- widget-score -->
<div class="widget-score" data-component="widget-score">
	<div class="score-overview" data-widget-score-overview>
		<header>
			<span class="icon icon-gauge{{ item.gauge_score }}"></span>
			<span class="score">{{ item.score }}</span> 
			<span class="icon icon-arrow-down" data-score-header-arrow></span>
		</header>
		<ul>
			{% for widget_score in item.widget_score %}
			<li>
				<a href="#{{ widget_score.name }}" tabindex="-1">
					<span class="label">{{ widget_score.name }}</span>
					<span class="value">{{ widget_score.score }}</span>
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="score-summary">
		<ul>
			{% for points in item.positive_points %}
				<li><span class="icon icon-plus"></span>{{ points.point }}</li>
			{% endfor %}
		</ul>
		<ul>
			{% for points in item.negative_points %}
				<li><span class="icon icon-min-red"></span>{{ points.point }}</li>
			{% endfor %}  
		</ul>
	</div>
</div>
<!-- /widget-score -->
{% endmacro %}

{%
	set content = {
		pageUrl: 'http://www.carui.info/bmw-i3-nl/',
		backgroundImage: pathToAssets + 'images/bmw-i3-nl/bmw-i3-dashboard.jpg',
		backgroundImageAlt: 'BMW i3 dashboard',
		titleImage: pathToAssets + 'images/bmw-i3-nl/bmw-i3-small.jpg',
		titleImageAlt: 'BMW i3 small',
		title: 'BMW i3',
		subtitle: 'Business model 1.5 TDI',
		description: 'Introtekst over de nieuwe BMW i3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa orem psum dolor sit.',
		testTagline: 'Getest op 12 juni 2014 door Hylke van Maaren en Miranda Schenkel',
		widgetScore: {
			score: '8,5',
			scoreDetails: {
				uitstraling: {
					score: '4',
					description: 'De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.'
				},
				contrast: {
					score: '5',
					description: 'De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.'
				},
				focus: {
					score: '4',
					description: 'De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.'
				},
				usability: {
					score: '4',
					description: 'De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.'
				},
				features: {
					score: '3',
					description: 'De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.'
				}
			},
			summary: {
				good: [
					'De UI is contrastrijk',
					'Hardware knop'
				],
				bad: [
					'De inputmethode',
					'Navigatie viel tegen'
				]
			}
		},
		socialSharing: {
			twitter: 'Twitter - share text',
			facebook: 'Facebook - share text'
		}
	}
%}
{{ widgetScore(item) }}