@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* widget-score component */

$headerHeight: 		80px;

.widget-score {
	background-color: $medium-grey;
	overflow: hidden;
	position: relative;
	min-height: 220px;

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	.score-overview {
		@include box-shadow(0px 0px 2px 1px $dark-grey);
		@include transition(box-shadow .2s ease-out, height .5s ease-out);

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: $headerHeight;
		background-color: $yellow;
		overflow: hidden;

		&:hover {
			@include box-shadow(0px 0px 15px 1px $dark-grey);
			@include transition(box-shadow .2s ease-out, height .5s ease-out);
		}

		&.expanded {
			height: 100%;
		}

		header {
			cursor: pointer;
		}

		.score {
			color: $black;
			line-height: 80px;
		}
	}

	.score-summary {
		margin-top: $headerHeight;
		background-color: $medium-grey;
	}
}