<!-- widget-score -->
<div class="widget-score" data-component="widget-score">
	<div class="score-overview">
		<header>
			<span class="icon icon-meter"></span>
			<span class="score">{{ content.widgetScore.score }}</span>
			<span class="icon icon-arrow-down"></span>
		</header>
		<ul>
			{% for property, value in content.widgetScore.scoreDetails %}
			<li>
				<a href="#presence">
					<span class="label">{{ property | capitalize }}</span>
					<span class="value">{{ value }}</span>
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div class="score-summary">
		<ul>
			{% for goodText in content.widgetScore.summary.good %}
				<li><span class="icon icon-plus"></span>{{ goodText }}</li>
			{% endfor %}
		</ul>
		<ul>
			{% for badText in content.widgetScore.summary.bad %}
				<li><span class="icon icon-min"></span>{{ badText }}</li>
			{% endfor %}
		</ul>
	</div>
</div>
<!-- /widget-score -->
