{% macro textImage(content) %}
<!-- text-image -->
<div class="text-image" data-component="text-image">
	<section class="max-width-centered">
		<h1>{{ content.title }}</h1>
		<div class="text-image-content">
			<div class="text-image-block {% if not content.visuals %} medium-width {% else %} half-width {% endif %}">
				{% if content.visuals %}
				<div class="inline-visual">
					{% for visual in content.visuals %}
					<img src="{{ visual.visual.url }}" alt="" />
					{% endfor %}
				</div>
				{% endif %}
				<p>{{ content.text|safe }}</p>
			</div>
		</div>
	</section>
</div>
<!-- /text-image -->
{% endmacro %}
