{% macro summaryBlock(content) %}
<!-- summary -->
<div class="summary" data-component="summary">
	<section class="max-width-centered">
		<h1>DE TEST</h1>
		<div class="summary-content">
			<div class="summary-text">
				<h2>{{ content.title }}</h2>
				<p>{{ content.text }}</p>
			</div>
			<img src="{{ content.visual }}" alt="{{ content.title }}"/>
		</div>
	</section>
</div>
<!-- /summary -->
{% endmacro %}

{%
	set summaryContent = {
		title: 'Het UI design vormt één geheel met het design van het interieur van de auto',
		text: 'Dit nieuwe model van BMW heeft twee grote beeldschermen Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa orem psum dolor sit.<br/><br/>Nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa orem psum dolor sit amet, consectetur adipisicing elit.',
		visual: pathToAssets + 'images/bmw-i3-nl/bmw-i3-summary.png'
	}
%}
{{ summaryBlock(summaryContent) }}