<!-- header -->
<header class="header" data-component="header">
	<div class="header-content">
		<div class="logo-area">
			<a href="/" class="logo icon-car-ux-logo">CAR UX</a>
		</div>
		<nav>
			<ul>
				<li class="active-nav-item"><a href="/">Home</a>
				</li>
				<li><a href="#">Reviews</a>
				</li>
				<li><a href="#">Over<span class="nav-text-large"> Car UX</span></a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="header-background-left"></div>
	<div class="header-background-right"></div>
</header>
<!-- /header -->