



<!-- bulletpoints -->
<div class="bulletpoints" data-component="bulletpoints">
	<ul>
		
		<li>
			<span class="icon icon-plus"></span>
			Hanteer een consistent en duidelijk mentaal model voor navigatie door je hele applicatie
		</li>
		
		<li>
			<span class="icon icon-plus"></span>
			Maak gebruik van duidelijk herkenbare knoppen, lijsten en andere interactie elementen
		</li>
		
		<li>
			<span class="icon icon-plus"></span>
			Ken je gebruiker en ken de toptaken. Voor wie ontwerp je het en wat willen ze?
		</li>
		
		<li>
			<span class="icon icon-plus"></span>
			Creëer een gedachte achter het gebruik van kleuren en pas dit consistent en logisch toe
		</li>
		
		<li>
			<span class="icon icon-plus"></span>
			Houdt rekening met contrast en leesafstand
		</li>
		
		<li>
			<span class="icon icon-plus"></span>
			Geef duidelijke visuele feedback na een actie
		</li>
		
		<li>
			<span class="icon icon-plus"></span>
			Het material design van Google is een resultaat van de evolutie in digitaal UI design. Hier kunnen slimme oplossingen uit gebruikt worden.
		</li>
		
		<li>
			<span class="icon icon-plus"></span>
			Pas ‘rijkheid’ (extra design uitwerking toepassen op zaken die dat vanuit de functie niet direct nodig hebben) en extra beleving slim toe.
		</li>
		
	</ul>
</div>
<!-- /bulletpoints -->
