<!-- home-intro -->
<div class="home-intro" data-component="home-intro">
	<img class="home-intro-background" src="assets/images/home/home-intro.png" alt="" />
	<section class="home-intro-content max-width-centered">
		<h1 itemprop="name">
			WAAR GAAT DIT OVER?
		</h1>
		<p itemprop="description">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor et dolore magna aliqua.
		</p>
		<a></a>
	</section>
</div>
<!-- /home-intro -->