



<!-- text-image -->
<div class="text-image" data-component="text-image">
	<section class="max-width-centered">
		<h1>EEN STAPJE TERUG IN DE TIJD</h1>
		<div class="text-image-content">
			
			<div class="text-image-block  half-width ">
				
				<div class="inline-visual">
					
					<img src="/assets/images/about/4.jpg" alt="" />
					
					<img src="/assets/images/about/5.jpg" alt="" />
					
				</div>
				
				<p>Dat er in de digitale auto schermen van tegenwoordig veel problemen opgelost moeten worden door de vele functionaliteiten is duidelijk. De vraag is: Hoe zijn we hier gekomen en waarom dit nu opeens een zoveel besproken onderwerp? Wat is nu eigenlijk het probleem en waarom bemoeien wij ons daar nu mee?
					<br/><br/>De geautomatiseerde auto industrie zoals we die kennen is toch al snel een ruime 100 jaar oud (Ford model T) en het model van <a target="_blank" href="http://en.wikipedia.org/wiki/Planned_obsolescence">'planned obsolensce'</a> is er sinds het begin van WW2. Een model dat er voor zorgt dat er ieder jaar model aanpassingen komen zodat er vraag blijft bestaan naar vernieuwing en mensen hun producten blijven vervangen. Maar het ontwerpen en produceren van auto's begint al in 1888 door onder andere Karl Benz.
					<br/><br/><b>Identiteit, emotie en design</b>
					<br/><br/>Op de automarkt ontstond in de eerste helft van de 20e eeuw steeds meer concurrentie doordat er ook steeds meer merken kwamen. Hiermee verschoof de focus op techniek steeds meer naar de identiteit als merk en de emotie die een auto uit moest stralen. Stoer en krachtig of stijlvol en elegant. Of goedkoop en functioneel tegenover luxe en passievol. Het werd steeds belangrijker om als merk een duidelijk herkenbare signatuur mee te geven in het design van de auto om zo herkent te worden op straat.
					<br/><br/>Deze facetten kwamen naast de altijd aanwezige functionaliteit samen in het dashboard. Deze moest een geheel vormen met het design van de buitenkant en een gevoel van luxe, ingetogenheid of sportiviteit uit stralen. En dit werd in veel gevallen ook doorgevoerd in de knoppen op het dashboard. Helemaal bij de premium merken, zoals Audi, Mercedes, Jaguar en BMW, waar kwaliteit en vakmanschap in het interieur net zo belangrijk was als de emotie aan de buitenkant.</p>

				
			</div>
			
			<div class="text-image-block  half-width ">
				
				<div class="inline-visual">
					
					<img src="/assets/images/about/6.jpg" alt="" />
					
					<img src="/assets/images/about/7.jpg" alt="" />
					
					<img src="/assets/images/about/8.jpg" alt="" />
					
				</div>
				
				<p><b>Evolutie van het dashboard</b>
					<br/><br/>In die tijd was het nog wel hard werken en goed op letten voor de bestuurder. Kennis van alle hendels, knoppen en schuifjes was een vereiste om het gevaarte in beweging te krijgen, rijdende te houden en op tijd weer af te laten remmen. Er waren vele hendels binnen en buiten de auto die op verschillende momenten bediend moesten worden en soms veel kracht vereiste. Maar gaande weg toen de auto's ook steeds sneller gingen rijden werd het ook steeds belangrijker dat de bestuurder zijn concentratie op de weg kon houden. Dit zorgde er voor dat het dashboard en de bediening van alle functionaliteiten steeds intuïtiever moest worden. Zodat de bestuurder vanuit een natuurlijke impuls kon anticiperen op situaties die zich voor doen in het verkeer.
					<br/><br/>Het design en de uitwerking van het dashboard in de auto heeft zijn evolutie doorlopen. Functionaliteit, intuitiviteit, identiteit en uitstraling gaan allemaal hand in hand. Nu kunnen we dan ook concluderen dat aan een aantal vereiste eigenlijk altijd wel kan worden voldaan.</p>

				
					
						
						
<!-- bulletpoints -->
<div class="bulletpoints" data-component="bulletpoints">
	<ul>
		
		<li>
			<span class="icon icon-plus"></span>
			De bediening kan op functie gegroepeerd worden en daarom vrijwel blind gevonden worden. Alles omtrent klimaat zit bij elkaar, net als verlichting en radio
		</li>
		
		<li>
			<span class="icon icon-plus"></span>
			Knoppen zijn intuitief. Draai schakelaars en schakelaars communiceren visueel wat de verwachte actie is. Men snapt dat een draaiknop een andere handeling vereist dan dat een flip-schakelaar
		</li>
		
		<li>
			<span class="icon icon-plus"></span>
			De 'klasse' van de auto kan gevoeld en beleefd worden aan de knoppen door het gebruik van materiaal, detail in design en de fysieke feedback (De weerstand die een draai schakelaar geeft of de schakelaar die een lampje in zich heeft)
		</li>
		
		<li>
			<span class="icon icon-plus"></span>
			Er kan focus worden gecreëerd op primaire taken door de plaatsing, gebruik van kleur en verschil in formaat van de bediening.
		</li>
		
	</ul>
</div>
<!-- /bulletpoints -->

					
				
			</div>
			
			<div class="text-image-block  medium-width ">
				
				<p>Maar er zijn natuurlijk ook wel nadelen aan een fysieke wereld van knoppen in het dashboard. De ruimte is natuurlijk beperkt. En hoe meer functionaliteiten er in de auto komen, hoe meer knoppen er dan bij komen. En opeens moeten de knoppen dan allemaal kleiner worden en kunnen ze ook niet meer blind bediend worden. Een fenomeen dat tot ongeveer 2010 steeds meer voor kwam in de auto.</p>

				
			</div>
			
		</div>
	</section>
</div>
<!-- /text-image -->
