{% extends "templates/partials/base.html" %}

{% block content %}
<div class="home-intro" data-component="home-intro">
  <img class="home-intro-background" src="{{ cms.home.intro_background_image|imageSize() }}" alt="{{ cms.home.intro_background_image_alt_text }}" />
  <section class="home-intro-content">
    <h1 itemprop="name">
      {{ cms.home.name }}
    </h1>
    <p itemprop="description">
      {{ cms.home.description }}
    </p>
    <a href="{{ cms.home.preview_url }}" class="about-button ui-button-secondary">More about Car UI</a>
  </section>
  <div class="triangle"></div>
</div>
<!-- home-main -->
<main class="home-main" data-component="home-main">
  <div class="featured" data-component="featured">
    <section class="max-width-centered">
      <h1>{{ cms.home.featured_title }}</h1>
      {% for review in cms.home.featured_review %}    
      <a href="{{ content.url }}" class="featured-content">
        <img src="http://car-ux.webhook.org{{ review.summary_visual.url }}" alt="{{ review.title + ' ' + review.subTitle }}"/>

        <div class="featured-content-wrapper">
          <time>{{ review.date }}</time>
          <h2>
            {{ review.title }}
            <span class="subtitle">{{ review.sub_title }}</span>
          </h2>
          <div class="featured-score">
            <span class="icon icon-gauge{{ review.gauge_score }}"></span>
            {{ review.score }}
          </div>
          <hr/>
          <ul>
            {% for points in review.positive_points %}
              <li><span class="icon icon-plus"></span>{{ points.point }}</li>
            {% endfor %}
          </ul>
          <ul>
            {% for points in review.negative_points %}
              <li><span class="icon icon-min-red"></span>{{ points.point }}</li>
            {% endfor %}  
          </ul>
        </div>
      </a>
      {% endfor %}
    </section>
  </div>
  <!-- shortlist -->
  <div class="shortlist" data-component="shortlist">
    <section class="max-width-centered">
      <h1>{{ cms.home.shortlist_title }}</h1>
      {% for review in cms.home.shortlist_review %}<!--
      --><a class="shortlist-product" href="{{ product.url }}">
      <img src="http://car-ux.webhook.org{{ review.related_visual.url }}" alt="{{ review.title  + ' - ' + review.sub_title }}" />
      <div class="equalHeight" data-equal-height>
        <div class="shortlist-title">
          <h2>{{ review.title }}<span>{{ review.sub_title }}</span></h2>
          <span class="shortlist-score">{{ review.score }}</span>
        </div>
        <div class="shortlist-summary">
          <hr/>
          <ul>
            {% for points in review.positive_points %}
              <li><span class="icon icon-plus"></span>{{ points.point }}</li>
            {% endfor %}
          </ul>
          <ul>
            {% for points in review.negative_points %}
              <li><span class="icon icon-min-red"></span>{{ points.point }}</li>
            {% endfor %}  
          </ul>
          <hr/>
          <time>{{ review.date }}</time>
        </div>
      </div>
    </a><!--
    -->{% endfor %}
    </section>
  </div>
  <!-- /shortlist -->
</main>

{% endblock %}