<!-- home-main -->
<main class="home-main" data-component="home-main">
	
	

	
<!-- featured -->
<div class="featured" data-component="featured">
	<section class="max-width-centered">
		<h1></h1>
		<div class="featured-content">
			<img src="" alt="undefined undefined"/>

			<div class="featured-content-wrapper">
				<time></time>
				<h2>
					<a href="">
						
						<span class="subtitle"></span>
					</a>
				</h2>
				<div class="featured-score">
					<span class="icon icon-gauge1"></span>
					
				</div>
				<hr/>
				<ul>
					
				</ul><!--
				--><ul>
					
				</ul>
			</div>

		</div>
	</section>
</div>
<!-- /featured -->


	
<!-- shortlist -->
<div class="shortlist" data-component="shortlist">
	<section class="max-width-centered">
		<h1></h1>
		
	</section>
</div>
<!-- /shortlist -->

</main>
<!-- /home-main -->
