<!-- score -->
<section class="score" data-component="score">
	<h1>De scores</h1>
	<div data-expandible
		 data-expandible-open-on-focus="true"
		 data-expandible-close-on-blur="true">
		<h2 class="score-title"
			data-expandible-handle="toggle">
			<a href="#">Uitstraling<span class="arrow-box"></span></a>
		</h2>
		<div class="score-content" data-expandible-content>
			<div class="score-img" ></div>
			<p>
				De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de
				interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI
				als in het dashboard achter de UI. De backlights van de knoppen om de UI heen zijn niet
				blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar
				dit stoort niet.
			</p>
		</div>
	</div>
	<div data-expandible
		 data-expandible-open-on-focus="true"
		 data-expandible-close-on-blur="true">
		<h2 class="score-title"
			data-expandible-handle="toggle">
			<a href="#">Uitstraling<span class="arrow-box"></span></a>
		</h2>
		<div class="score-content" data-expandible-content>
			<div class="score-img" ></div>
			<p>
				De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de
				interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI
				als in het dashboard achter de UI. De backlights van de knoppen om de UI heen zijn niet
				blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar
				dit stoort niet.
			</p>
		</div>
	</div>
</section>
<!-- /score -->
