{% macro scoreExpandible(content) %}
	{% for property, value in content.widgetScore.scoreDetails %}
	<div class="score-item {% if loop.first %} is-expanded {% endif %}"
		 data-expandible
		 data-expandible-open-on-focus="true"><!--data-expandible-close-on-blur="true"-->
		<a href="#"
		   name="{{ property }}"
		   class="score-title"
		   data-expandible-handle="toggle">
			<h2>{{ property | capitalize }}</h2>
			<span class="arrow-box"><span data-icon-arrow class="icon {% if loop.first %} icon-arrow-up {% else %} icon-arrow-down {% endif %}"></span></span>
		</a>
		<div class="score-content" data-expandible-content>
			<div class="score-box">
				<span class="score-number">{{ value.score }}</span>
				<span class="score-icon icon icon-gauge3"></span></span>
			</div>
			<p>
				{{ value.description }}
			</p>
		</div>
	</div>
	{% endfor %}
{% endmacro %}

<!-- score -->
<section class="score" data-component="score">
	<div class="score-heading">
		<h1>DE SCORES</h1>
		<span class="testing-date-person">{{ content.testTagline }}</span>
	</div>
	{{ scoreExpandible(content) }}
</section>
<!-- /score -->
