@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* shortlist component */

.shortlist {
	padding-left:30px;
	padding-right: 30px;

	h1 {
		margin: 0;
	}

	.shortlist-product {
		border: none;
		display: none;
		vertical-align: top;
		width: 100%;

		// Show only the first two items
		&:nth-of-type(1),
		&:nth-of-type(2) {
			display: inline-block;
		}

		@include min-screen($break-small) {
			width: 48%;

			&:nth-of-type(1) {
				margin-right: 4%;
			}
		}

		@include min-screen($break-large) {
			display: inline-block; // Show all the items
			width: 31.33%;
			margin-left: 3%;

			&:nth-of-type(1) {
				margin: 0;
			}
		}

		&:hover {
			.shortlist-score {
				color: $black;
			}
		}

		img {
			vertical-align: bottom;
			width: 100%;
		}

		.shortlist-title {
			background-color: $white;
			margin-bottom: 20px;
			position: relative;

			@include min-screen($break-small) {
				min-height: 130px;
			}

			h2 {
				margin: 0;
				padding: 25px 30px 35px 30px;

				span {
					display: block;
					font-weight: normal;
				}
			}

			.shortlist-score {
				display: block;
				background-color: $yellow;
				padding: 10px;
				position: absolute;
				bottom: 100%;
				right: 0;
			}
		}
	}

}