{%
	set navigation = [
		{
			label: 'Home',
			href: hrefPrefix + '/modules/views/home/home.html',
			active: true
		},
		{
			label: 'Reviews',
			href: hrefPrefix + '/modules/views/reviews/reviews.html',
			active: false
		},
		{
			label: 'About<span class="nav-text-large">&nbsp;Car UI</span>',
			href: hrefPrefix + '/modules/views/about/about.html',
			active: false
		}
	]
%}

{%
	set homeIntroContent = {
		url: hrefPrefix + '/modules/views/about/about.html',
		backgroundImage: pathToAssets + 'images/home/home-intro.jpg',
		backgroundImageAlt: '',
		title: 'THE \'WHY\' OF CAR UI',
		description: 'In the Car UI Test initiative, judging from our digital design experience, we assess existing and new cars on their digital displays and associated controls.  '
	}
%}

{%
	set featuredContent = {
		mainTitle: 'DOING IT RIGHT',
		title: 'Audi A3 e-tron',
		subTitle: 'Sportback 1.4 Attraction Pro Line Plus',
		score: '87',
		date: '10-12-2014',
		url: hrefPrefix + '/modules/views/audi-a3-etron/audi-a3-etron.html',
		visual: pathToAssets + 'images/audi-a3-etron/audi_a3_etron_summary.jpg',
		summary: {
            good: [
                'Clear, high resolution display',
				'Consistent layouts and use of colour',
				'Easy control, even while driving'
            ],
            bad: [
				'Control knob rotates in the wrong direction'
            ]
		}
	}
%}

{%
	set shortlistContent = {
		mainTitle: 'HIGHEST RANKED',
		products: [
            {
				title: 'Audi A3 e-tron',
				subTitle: 'Sportback 1.4 Attraction Pro Line Plus',
				score: '87',
				visual: pathToAssets + 'images/related/audi-a3-etron.jpg',
				url: hrefPrefix + '/modules/views/audi-a3-etron/audi-a3-etron.html',
				date: '10-12-2014',
				summary: {
					good: [
						'Clear, high resolution display',
						'Consistent layouts and use of colour',
						'Easy control, even while driving'
					],
					bad: [
						'Control knob rotates in the wrong direction'
					]
				}
			},
			{
				title: 'BMW i3',
				subTitle: 'Full Electric',
				score: '85',
				visual: pathToAssets + 'images/related/bmw-i3.jpg',
				url: hrefPrefix + '/modules/views/bmw-i3-nl/bmw-i3-nl.html',
				date: '18-07-2014',
				summary: {
					good: [
						'UI fits with the interior and works like a charm',
						'The control wheel is within reach'
					],
						bad: [
						'The navigation does not help with electric driving',
						'Navigation is devious'
					]
				}
			},
			{
				title: 'Nissan Qashqai',
				subTitle: 'Tekna 1.5 dCi',
				score: '80',
				visual: pathToAssets + 'images/related/nissan-qashqai.jpg',
				url: hrefPrefix + '/modules/views/nissan-qashqai-tekna-1-5-dci-nl/nissan-qashqai-tekna-1-5-dci-nl.html',
				date: '15-05-2014',
				summary: {
					good: [
                        'No nonsense interface',
                        'Consistent application of the visual style'
					],
						bad: [
                        'Sometimes a bit of a dull interface',
                        'Display not readable with direct sun froom the glass roof'
					]
				}
			}
		]
	}
%}


{% extends "views/_base-view/base-view.html" %}
{% import  "components/home-intro/_home-intro.html" as homeIntro %}

{% block content %}

{{ homeIntro.homeIntro(homeIntroContent) }}
{% include "components/home-main/_home-main.html" %}

{% endblock %}