{%
	set shortlistContent = [
		{
			title: 'Nissan Quashqai Tekna Opique',
			subTitle: 'Si4 4WD Dynamic',
			score: '4.5',
			visual: pathToAssets + 'images/related/nissan-quashqai-tekna-opique.png',
			url: '#',
			date: '02-02-2014',
			summary: {
				good: [
					'De UI is contrastrijk',
					'Hardware knop'
				],
					bad: [
					'De inputmethode',
					'Navigatie viel tegen'
				]
			}
		},
		{
			title: 'Opel Insignia',
			subTitle: 'Business Edition',
			score: '2',
			visual: pathToAssets + 'images/related/opel-insignia-business-edition.png',
			url: '#',
			date: '02-02-2014',
			summary: {
				good: [
					'De UI is contrastrijk',
					'Hardware knop'
				],
					bad: [
					'De inputmethode',
					'Navigatie viel tegen'
				]
			}
		},
		{
			title: 'Citroën C4 Picasso',
			subTitle: 'Business Edition',
			score: '5.5',
			visual: pathToAssets + 'images/related/citroen-c4-picasso.png',
			url: '#',
			date: '02-02-2014',
			summary: {
				good: [
					'De UI is contrastrijk',
					'Hardware knop'
				],
					bad: [
					'De inputmethode',
					'Navigatie viel tegen'
				]
			}
		}
	]
%}


{% extends "views/_base-view/base-view.html" %}

{% block content %}

{% include "components/home-intro/_home-intro.html" %}
{% include "components/home-main/_home-main.html" %}

{% endblock %}