<!DOCTYPE html>
<html class="no-js">

<head>
    <title>
        Related (preview) Related | car-ux
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="description" content="Car UX" />
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <base href="http://voorhoede.github.io/car-ux/" />
    <link rel="shortcut icon" href="../../../assets/images/favicons/favicon.ico" type="image/ico" />
    <link rel="apple-touch-icon" sizes="57x57" href="../../../assets/images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../../assets/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../../assets/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../../assets/images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../../assets/images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../../assets/images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../../assets/images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../../assets/images/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../../assets/images/favicons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="../../../assets/images/favicons/favicon-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="../../../assets/images/favicons/favicon-160x160.png" sizes="160x160">
    <link rel="icon" type="image/png" href="../../../assets/images/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="../../../assets/images/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="../../../assets/images/favicons/favicon-32x32.png" sizes="32x32">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="../../../assets/images/favicons/mstile-144x144.png">
    <script>
        (function(e) {
            e.className = e.className.replace('no-js', 'js');
        }(document.documentElement));
    </script>
    <script>
        /* grunticon Stylesheet Loader | https://github.com/filamentgroup/grunticon | (c) 2012 Scott Jehl, Filament Group, Inc. | MIT license. */
        window.grunticon = function(e) {
            if (e && 3 === e.length) {
                var t = window,
                    n = !(!t.document.createElementNS || !t.document.createElementNS(
                            "http://www.w3.org/2000/svg", "svg").createSVGRect || !document.implementation
                        .hasFeature("http://www.w3.org/TR/SVG11/feature#Image", "1.1") ||
                        window.opera && -1 === navigator.userAgent.indexOf("Chrome")),
                    o = function(o) {
                        var r = t.document.createElement("link"),
                            a = t.document.getElementsByTagName("script")[0];
                        r.rel = "stylesheet", r.href = e[o && n ? 0 : o ? 1 : 2], a.parentNode.insertBefore(
                            r, a)
                    },
                    r = new t.Image;
                r.onerror = function() {
                        o(!1)
                    }, r.onload = function() {
                        o(1 === r.width && 1 === r.height)
                    }, r.src =
                    "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="
            }
        };
        grunticon(["../../../assets/images/grunticon-output/icons.data.svg.css",
            "../../../assets/images/grunticon-output/icons.data.png.css",
            "../../../assets/images/grunticon-output/icons.fallback.css"
        ]);
    </script>
    <noscript>
        <link rel="stylesheet" href="../../../assets/images/grunticon-output/icons.fallback.css" />
    </noscript>
    <link rel="stylesheet" href="../../../assets/style/main.css" />
    <link rel="stylesheet" href="../../../assets/style/main.css">
</head>

<body>
    <!-- use data attributes to target in JS -->
    <div id="page">
        <!-- related -->
        <div class="related" data-component="related">
            <section class="max-width-centered">
                <h1>GERELATEERDE TESTS</h1>
                <!--
		-->
                <a class="related-product" href="#">
                    <img src="assets/images/related/nissan-quashqai-tekna-opique.png" alt="Nissan Quashqai Tekna Opique - Si4 4WD Dynamic"
                    />
                    <div class="related-title">
                        <h2>Nissan Quashqai Tekna Opique<span>Si4 4WD Dynamic</span></h2>
                        <span class="related-score">4.5</span>
                    </div>
                </a>
                <!--
		-->
                <!--
		-->
                <a class="related-product" href="#">
                    <img src="assets/images/related/opel-insignia-business-edition.png" alt="Opel Insignia - Business Edition"
                    />
                    <div class="related-title">
                        <h2>Opel Insignia<span>Business Edition</span></h2>
                        <span class="related-score">2</span>
                    </div>
                </a>
                <!--
		-->
                <!--
		-->
                <a class="related-product" href="#">
                    <img src="assets/images/related/citroen-c4-picasso.png" alt="Citroën C4 Picasso - Business Edition" />
                    <div class="related-title">
                        <h2>Citroën C4 Picasso<span>Business Edition</span></h2>
                        <span class="related-score">5.5</span>
                    </div>
                </a>
                <!--
		-->
            </section>
        </div>
        <!-- /related -->
        <script src="../../../assets/scripts/vendor.js"></script>
        <script src="../../../assets/scripts/main.js"></script>
        <script src="../../../guide/vendor/prismjs/prism.js"></script>
    </div>
</body>

</html>