{%
	set navigation = [
		{
			label: 'Home',
			href: hrefPrefix + '/modules/views/home/home.html',
			active: false
		},
		{
			label: 'Reviews',
			href: hrefPrefix + '/modules/views/reviews/reviews.html',
			active: true
		},
		{
			label: 'About<span class="nav-text-large">&nbsp;Car UI</span>',
			href: hrefPrefix + '/modules/views/about/about.html',
			active: false
		}
	]
%}

{% extends "views/_base-view/base-view.html" %}
{% import  "components/detail-intro/_detail-intro.html" as intro %}
{% import  "components/related/_related.html" as related %}

{% block content %}
	{{ intro.detailIntro(item) }}

	{% include "components/detail-main/_detail-main.html" %}

	{% include "components/comments/_comments.html" %}

	{{ related.related(item) }}

{% endblock %}
