@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* text-image component */

.text-image {

	h1 {
		margin-left: 30px;

		@include min-screen($break-large) {
			margin-left: 0;
		}
	}

	.text-image-content {
		background-color: $white;
		padding: 30px 40px;
	}

	.text-image-block {
		@include clearfix;

		margin-top: 30px;

		&:first-child {
			margin-top: 0;
		}

		&.half-width .inline-visual {
			@include min-screen($break-small) {
				width: 50%;
			}
		}

		p {
			width: 75%;
		}
	}

	.inline-visual {
		text-align: center;

		@include min-screen($break-small) {
			float: right;
		}


		img {
			max-width: 100%;
			padding-bottom: 30px;

			&:first-child {
				padding-top: 20px;
			}

			&:last-child {
				padding-bottom: 0;
			}

			@include min-screen($break-small) {
				display: block;
				padding: 0 0 30px 30px;
			}
		}
	}
}