<!DOCTYPE html>
<html class="no-js">
<head>
	<title>
		
Quote (preview) 
		Quote | car-ux
		

	</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

	<meta name="description" content="Car UX" />
	<meta name="viewport" content="width=device-width initial-scale=1" />
	<base href="http://voorhoede.github.io/car-ux/" />

	<link rel="shortcut icon" href="../../..//assets/images/favicons/favicon.ico" type="image/ico" />
	<link rel="apple-touch-icon" sizes="57x57" href="../../..//assets/images/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../../..//assets/images/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../../..//assets/images/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../../..//assets/images/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../../..//assets/images/favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../../..//assets/images/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../../..//assets/images/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../../..//assets/images/favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../../..//assets/images/favicons/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="../../..//assets/images/favicons/favicon-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="../../..//assets/images/favicons/favicon-160x160.png" sizes="160x160">
	<link rel="icon" type="image/png" href="../../..//assets/images/favicons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="../../..//assets/images/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="../../..//assets/images/favicons/favicon-32x32.png" sizes="32x32">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="../../..//assets/images/favicons/mstile-144x144.png">

	<script>
		(function (e) {
			e.className = e.className.replace('no-js','js');
		}(document.documentElement));
	</script>
	
	<script>
		/* grunticon Stylesheet Loader | https://github.com/filamentgroup/grunticon | (c) 2012 Scott Jehl, Filament Group, Inc. | MIT license. */
		window.grunticon=function(e){if(e&&3===e.length){var t=window,n=!(!t.document.createElementNS||!t.document.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect||!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1")||window.opera&&-1===navigator.userAgent.indexOf("Chrome")),o=function(o){var r=t.document.createElement("link"),a=t.document.getElementsByTagName("script")[0];r.rel="stylesheet",r.href=e[o&&n?0:o?1:2],a.parentNode.insertBefore(r,a)},r=new t.Image;r.onerror=function(){o(!1)},r.onload=function(){o(1===r.width&&1===r.height)},r.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="}};
		grunticon(["../../..//assets/images/grunticon-output/icons.data.svg.css?"+new Date().getTime(), "../../..//assets/images/grunticon-output/icons.data.png.css?"+new Date().getTime(), "../../..//assets/images/grunticon-output/icons.fallback.css?"+new Date().getTime()]);
	</script>
	<noscript>
		<link rel="stylesheet" href="../../..//assets/images/grunticon-output/icons.fallback.css" />
	</noscript>
	
	

<link rel="stylesheet" href="../../..//assets/style/main.css">
<!--<link rel="stylesheet" href="../../..//guide//voorhoede-core-styles.css">-->
<!--<link rel="stylesheet" href="../../..//guide//core-layout.css">-->
<link rel="stylesheet" href="../../..//guide/guide.css">

<link rel="stylesheet" href="../../..//guide/vendor/prismjs/prism.css">





<link rel="stylesheet" href="../../..//assets/style/main.css">




</head>
<body>
	<!-- use data attributes to target in JS -->
	<div id="page">
		

		
<div class="page">
	<div class="core-layout">
		<header class="app-guide-content">
			<img src="../../..//guide/images/voorhoede-logo.svg"
			     onerror="this.src='../../..//guide/images/voorhoede-logo.min.png'"
			     alt="De Voorhoede"
			     height="75" width="75"/>
				<h1>car-ux</h1>
				<h2>Front-end guide for car-ux by de Voorhoede</h2>
		</header>

		

<main class="app-guide-main">
	<script>window.testApp = {}; // namespace to register modules for testing</script>
	<h1 class="section-title">Quote</h1>
	<div class="app-guide-content language-markdown">
		<!--
Add an optional short description here for `quote` component.
Or delete this file if not applicable.
-->
	</div>

	
	<div class="resize-buttons">
		<button id="desktop">desktop</button>
		<button id="phone">phone</button>
		<button id="tablet">tablet</button>
	</div>

	<p>Or set your own width in px:</p>
	<form id="resize-form">
		<label>
			<span>Width</span>
			<input type="number" name="width" id="resize-width" required/>
		</label>
		<button type="submit">Set!</button>
	</form>

	<iframe id="preview-iframe" src="object.html" width="100%" height="400px"></iframe>
	

	
	
	

	

	<section id="section-code" class="app-guide-section">
		<h2 class="app-guide-section-title">
			Code 
<a href="#section-code"
   class="app-guide-permalink app-guide-icon"
   title="permalink to this section"></a>

		</h2>
		

		
		<section id="section-code-html">
			<h3 class="app-guide-section-title">
				HTML 
<a href="#section-code-html"
   class="app-guide-permalink app-guide-icon"
   title="permalink to this section"></a>

			</h3>
			<div class="app-guide-code">
				<pre class="language-markup"><code>&lt;!-- quote -->
&lt;div class="quote" data-component="quote">
	&lt;section class="max-width-centered">
		&lt;blockquote>Iconen zijn op meerdere plekken terug te vinden. Het zijn allemaal lijniconen, maar voelen niet altijd als onderdeel van dezelfde serie.&lt;/blockquote>
	&lt;/section>
&lt;/div>
&lt;!-- /quote --></code></pre>
				<ul class="app-guide-code-options">
					<li><a class="app-guide-icon app-guide-icon-code" href="_quote.html" title="view source HTML"></a></li>
					<li><a class="app-guide-icon app-guide-icon-download" href="_quote.html" download="_quote.html" title="download HTML"></a></li>
				</ul>
			</div>
		</section>
		

		
		<section id="section-code-css">
			<h3 class="app-guide-section-title">
				CSS 
<a href="#section-code-css"
   class="app-guide-permalink app-guide-icon"
   title="permalink to this section"></a>

			</h3>
			<div class="app-guide-code">
				<pre class="language-css"><code>/* quote component */
.quote {
  padding-bottom: 40px;
}
.quote blockquote {
  color: #ffffff;
  position: relative;
  font-size: 26px;
  padding: 0 20px 0 40px;
  margin: 0 10px;
}
@media screen and (min-width: 620px) {
  .quote blockquote {
    padding: 0 40px;
  }
}
@media screen and (min-width: 920px) {
  .quote blockquote {
    font-size: 36px;
    padding: 0 0 0 50px;
  }
}
.quote blockquote:before, .quote blockquote:after {
  position: absolute;
  font-size: 100px;
}
.quote blockquote:before {
  left: 0;
  top: -48px;
  content: '\2018';
}
@media screen and (min-width: 920px) {
  .quote blockquote:before {
    left: -10px;
  }
}
.quote blockquote:after {
  right: 0;
  bottom: -42px;
  content: '\201A';
}
@media screen and (min-width: 920px) {
  .quote blockquote:after {
    right: -10px;
  }
}

/*# sourceMappingURL=_quote.css.map */
</code></pre>
				<ul class="app-guide-code-options">
					<li><a class="app-guide-icon app-guide-icon-code" href="_quote.css" title="view source CSS"></a></li>
					<li><a class="app-guide-icon app-guide-icon-download" href="_quote.css" download="_quote.css" title="download CSS"></a></li>
				</ul>
			</div>
		</section>
		

		

	</section>
</main>


	</div>

</div>



		
<footer class="app-guide-footer">
	This page is generated using <a href="http://voorhoede.nl">De Voorhoede</a>'s template builder
</footer>



		

		

		<script src="../../..//assets/scripts/vendor.js"></script>
		<script src="../../..//assets/scripts/main.js"></script>
		
<script src="../../..//guide/vendor/prismjs/prism.js"></script>


<script>

	(function(){
		var iframe = document.getElementById('preview-iframe'),
			widthInput = document.getElementById('resize-width');

		iframe.addEventListener('load', function(){
			widthInput.value = parseInt(window.getComputedStyle(iframe).width);
			iframe.height = iframe.contentWindow.document.body.clientHeight + 10;
		}, false);

		window.onresize = function () {
			widthInput.value = parseInt(window.getComputedStyle(iframe).width);
		};

		document.getElementById('desktop').addEventListener("click", function () {
			iframe.width = "1224px";
		}, false);

		document.getElementById('phone').addEventListener("click", function () {
			iframe.width = "320px";
		}, false);

		document.getElementById('tablet').addEventListener("click", function () {
			iframe.width = "1024px";
		}, false);

		iframe.addEventListener('transitionend', function () {
			iframe.height = iframe.contentWindow.document.body.clientHeight + 10;
			widthInput.value = parseInt(window.getComputedStyle(iframe).width);
		}, false);

		document.getElementById('resize-form').addEventListener('submit', function (event) {
			event.preventDefault();
			iframe.width = widthInput.value + 'px';
		}, false);

	}());

</script>








	</div>
</body>
</html>
