@import 'core/colors';

//
// Global variables
//
// This file doesn't output any CSS rules, so you can import it as often as needed without sending
// duplicate styles to the browser.
//

//Font variables
$helvetica-nue-fallback: 	Helvetica, Arial, sans-serif;

$helvetica-nue-bold: 		'Helvetica Nue Bold', $helvetica-nue-fallback;
$helvetica-nue: 			'Helvetica Nue', $helvetica-nue-fallback;
$helvetica-nue-regular: 	'Helvetica Nue Regular', $helvetica-nue-fallback;

// Paths

$path-fonts: 				'../fonts/';
$path-images: 				'../images/';

// Widths
$max-width-tablet: 			900px;

// Break points
$break-extra-small: 		500px;
$break-small: 				620px;
$break-medium: 				900px;
$break-large: 				920px;

// Intro and summary overlap size
$intro-summary-overlap: 	45%;
