@import 'core/colors';
@import 'core/fonts';

//
// Global variables
//
// This file doesn't output any CSS rules, so you can import it as often as needed without sending
// duplicate styles to the browser.
//

// Paths

$path-fonts: 				'../fonts/';
$path-images: 				'../images/';

// Widths
$max-width-tablet: 		900px;