{%
	set navigation = [
		{
			label: 'Home',
			href: hrefPrefix + '/modules/views/home/home.html',
			active: false
		},
		{
			label: 'Reviews',
			href: hrefPrefix + '/modules/views/reviews/reviews.html',
			active: true
		},
		{
			label: 'About<span class="nav-text-large">&nbsp;Car UI</span>',
			href: hrefPrefix + '/modules/views/about/about.html',
			active: false
		}
	]
%}

{% block content %}
	<section class="view-reviews">
		{% import "components/shortlist/_shortlist.html" as shortlist %}
		{{ shortlist.shortlist(shortlistContent) }}
	</section>
{% endblock %}

{%
	set shortlistContent = {
		mainTitle: 'REVIEWS',
		products: [
			{
				title: 'Skoda Octavia',
				subTitle: '1.6 Greenline Business',
				score: '68',
				visual: pathToAssets + 'images/related/skoda-octavia.jpg',
				url: hrefPrefix + '/modules/views/skoda-octavia/skoda-octavia.html',
				date: '22-09-2014',
				summary: {
					good: [
						'Screen proximity detection',
						'Brand identity match in design'
					],
					bad: [
						'Inconsistent methods of control',
						'Random use of icons'
					]
				}
			},
			{
				title: 'Nissan Qashqai',
				subTitle: 'Tekna 1.5 dCi',
				score: '80',
				visual: pathToAssets + 'images/related/nissan-qashqai.jpg',
				url: hrefPrefix + '/modules/views/nissan-qashqai-tekna-1-5-dci-nl/nissan-qashqai-tekna-1-5-dci-nl.html',
				date: '15-05-2014',
				summary: {
					good: [
						'No nonsense interface',
						'Consistent application of the visual style'
					],
					bad: [
						'Sometimes a bit of a dull interface',
						'Display not readable with direct sun froom the glass roof'
					]
				}
			},
			{
				title: 'Opel Insignia',
				subTitle: 'Sports Tourer Business+ 2.0 CDTI',
				score: '50',
				visual: pathToAssets + 'images/related/opel-insignia-business-edition.jpg',
				url: hrefPrefix + '/modules/views/opel-insignia-tourer-bplus-2-0-d-nl/opel-insignia-tourer-bplus-2-0-d-nl.html',
				date: '15-05-2014',
				summary: {
					good: [
						'Switching from light to dark environment',
						'Love the size of the screen'
					],
					bad: [
						'Confirm the input of the touchpad',
						'The brightness of the design functions as a \'lamp\''
					]
				}
			},
			{
				title: 'Citroën C4 Picasso',
				subTitle: 'Business Edition',
				score: '65',
				visual: pathToAssets + 'images/related/citroen-c4-picasso.jpg',
				url: hrefPrefix + '/modules/views/citroen-c4-picasso-business-nl/citroen-c4-picasso-business-nl.html',
				date: '05-05-2014',
				summary: {
					good: [
						'Buttons are neatly mounted in the dashboard',
						'Simple (Clear / Clean) icons'
					],
					bad: [
						'Different designs for two different displays',
						'Navigation map looks old fashioned'
					]
				}
			},
			{
				title: 'Mercedes-Benz C-Klasse',
				subTitle: 'C220 CDI Ambition Comfort',
				score: '75',
				visual: pathToAssets + 'images/related/mercedes-c220.jpg',
				url: hrefPrefix + '/modules/views/mercedes-c2-2-nl/mercedes-c2-2-nl.html',
				date: '05-05-2014',
				summary: {
					good: [
						'UI fits with the interior',
						'Legible and clear screen'
					],
					bad: [
						'Dashboard screen feels cheap',
						'Use of color is not always consistent'
					]
				}
			},

			{
				title: 'BMW i3',
				subTitle: 'Full Electric',
				score: '85',
				visual: pathToAssets + 'images/related/bmw-i3.jpg',
				url: hrefPrefix + '/modules/views/bmw-i3-nl/bmw-i3-nl.html',
				date: '18-07-2014',
				summary: {
					good: [
						'UI fits with the interior and works like a charm',
						'The control wheel is within reach'
					],
					bad: [
						'The input method',
						'Navigation is not ready for electric driving'
					]
				}
			}
		]
	}
%}

{% extends "views/_base-view/base-view.html" %}

{% block content %}
<section class="view-reviews">
	{% import "components/shortlist/_shortlist.html" as shortlist %}
	{{ shortlist.shortlist(shortlistContent) }}
</section>
{% endblock %}