{%
	set navigation = [
		{
			label: 'Home',
			href: hrefPrefix + '/modules/views/home/home.html',
			active: false
		},
		{
			label: 'Reviews',
			href: hrefPrefix + '/modules/views/reviews/reviews.html',
			active: true
		},
		{
			label: 'Over<span class="nav-text-large"> Car UI</span>',
			href: hrefPrefix + '/modules/views/about/about.html',
			active: false
		}
	]
%}

{% block content %}
	<section class="view-reviews">
		{% import "components/shortlist/_shortlist.html" as shortlist %}
		{{ shortlist.shortlist(shortlistContent) }}
	</section>
{% endblock %}

{%
	set shortlistContent = {
		mainTitle: 'REVIEWS',
		products: [
			{
				title: 'Nissan Qashqai',
				subTitle: 'Tekna 1.5 dCi',
				score: '80',
				visual: pathToAssets + 'images/related/nissan-qashqai.png',
				url: hrefPrefix + '/modules/views/nissan-qashqai-tekna-1-5-dci-nl/nissan-qashqai-tekna-1-5-dci-nl.html',
				date: '15-05-2014',
				summary: {
					good: [
						'No nonsense interface',
						'Consistente toepassing van de visuele stijl'
					],
					bad: [
						'Soms wel wat saaie interface',
						'Display niet leesbaar met dak open'
					]
				}
			},
			{
				title: 'Opel Insignia',
				subTitle: 'Sports Tourer Business+ 2.0 CDTI',
				score: '50',
				visual: pathToAssets + 'images/related/opel-insignia-business-edition.png',
				url: hrefPrefix + '/modules/views/opel-insignia-tourer-bplus-2-0-d-nl/opel-insignia-tourer-bplus-2-0-d-nl.html',
				date: '15-05-2014',
				summary: {
					good: [
						'Schakelen van licht naar donker',
						'Mooi groot scherm'
					],
					bad: [
						'Invoer van het touchpad bevestigen',
						'Lichte design werkt als een \'lamp\''
					]
				}
			},
			{
				title: 'Citroën C4 Picasso',
				subTitle: 'Business Edition',
				score: '65',
				visual: pathToAssets + 'images/related/citroen-c4-picasso.png',
				url: hrefPrefix + '/modules/views/citroen-c4-picasso-business-nl/citroen-c4-picasso-business-nl.html',
				date: '05-05-2014',
				summary: {
					good: [
						'Knoppen mooi verwerkt in dashboard',
						'Eenvoudige pictogrammen'
					],
					bad: [
						'Verschillende ontwerpen voor de twee displays',
						'Navigatiekaart oogt ouderwets'
					]
				}
			},
			{
				title: 'Mercedes-Benz C-Klasse',
				subTitle: 'C220 CDI Ambition Comfort',
				score: '75',
				visual: pathToAssets + 'images/related/mercedes-c220.png',
				url: hrefPrefix + '/modules/views/mercedes-c2-2-nl/mercedes-c2-2-nl.html',
				date: '05-05-2014',
				summary: {
					good: [
						'Past goed bij het interieur',
						'Leesbaar en helder scherm'
					],
					bad: [
						'De navigatie houdt geen rekening met electrisch rijden',
						'Navigatie werkt omslachtig'
					]
				}
			},

			{
				title: 'BMW i3',
				subTitle: 'Full Electric',
				score: '85',
				visual: pathToAssets + 'images/related/bmw-i3.png',
				url: hrefPrefix + '/modules/views/bmw-i3-nl/bmw-i3-nl.html',
				date: '18-07-2014',
				summary: {
					good: [
						'UI past goed bij interieur en werkt soepel',
						'Bedieningsknop binnen handbereik'
					],
					bad: [
						'De invoermethode',
						'Navigatie werkt omslachtig'
					]
				}
			}
		]
	}
%}

{% extends "views/_base-view/base-view.html" %}

{% block content %}
<section class="view-reviews">
	{% import "components/shortlist/_shortlist.html" as shortlist %}
	{{ shortlist.shortlist(shortlistContent) }}
</section>
{% endblock %}