{%
	set navigation = [
		{
			label: 'Home',
			href: hrefPrefix + '/modules/views/home/home.html',
			active: false
		},
		{
			label: 'Reviews',
			href: hrefPrefix + '/modules/views/reviews/reviews.html',
			active: true
		},
		{
			label: 'Over<span class="nav-text-large"> Car UX</span>',
			href: hrefPrefix + '/modules/views/about/about.html',
			active: false
		}
	]
%}

{% block content %}
	<section class="view-reviews">
		{% import "components/shortlist/_shortlist.html" as shortlist %}
		{{ shortlist.shortlist(shortlistContent) }}
	</section>
{% endblock %}

{%
	set shortlistContent = {
		mainTitle: 'REVIEWS',
		products: [
			{
				title: 'Nissan Qashqai',
				subTitle: 'Tekna 1.5 DCI',
				score: '4.5',
				visual: pathToAssets + 'images/related/nissan-quashqai-tekna-opique.png',
				url: hrefPrefix + '/modules/views/nissan-qashqai-tekna-1-5-dci-nl/nissan-qashqai-tekna-1-5-dci-nl.html',
				date: '02-02-2014',
				summary: {
					good: [
						'De UI is contrastrijk',
						'Hardware knop'
					],
					bad: [
						'De inputmethode',
						'Navigatie viel tegen'
					]
				}
			},
			{
				title: 'Opel Insignia',
				subTitle: 'Tourer Business+ 2.0D',
				score: '2',
				visual: pathToAssets + 'images/related/opel-insignia-business-edition.png',
				url: hrefPrefix + '/modules/views/opel-insignia-tourer-bplus-2-0-d-nl/opel-insignia-tourer-bplus-2-0-d-nl.html',
				date: '02-02-2014',
				summary: {
					good: [
						'De UI is contrastrijk',
						'Hardware knop'
					],
					bad: [
						'De inputmethode',
						'Navigatie viel tegen'
					]
				}
			},
			{
				title: 'Citroën C4 Picasso',
				subTitle: 'Business',
				score: '5.5',
				visual: pathToAssets + 'images/related/citroen-c4-picasso.png',
				url: hrefPrefix + '/modules/views/citroen-c4-picasso-business-nl/citroen-c4-picasso-business-nl.html',
				date: '02-02-2014',
				summary: {
					good: [
						'De UI is contrastrijk',
						'Hardware knop'
					],
					bad: [
						'De inputmethode',
						'Navigatie viel tegen'
					]
				}
			},
			{
				title: 'Mercedes',
				subTitle: 'C2.2',
				score: '2',
				visual: pathToAssets + 'images/related/opel-insignia-business-edition.png',
				url: hrefPrefix + '/modules/views/mercedes-c2-2-nl/mercedes-c2-2-nl.html',
				date: '02-02-2014',
				summary: {
					good: [
						'De UI is contrastrijk',
						'Hardware knop'
					],
					bad: [
						'De inputmethode',
						'Navigatie viel tegen'
					]
				}
			},
			{
				title: 'Audi',
				subTitle: 'A3',
				score: '5.5',
				visual: pathToAssets + 'images/related/citroen-c4-picasso.png',
				url: hrefPrefix + '/modules/views/audi-a3-nl/audi-a3-nl.html',
				date: '02-02-2014',
				summary: {
					good: [
						'De UI is contrastrijk',
						'Hardware knop'
					],
					bad: [
						'De inputmethode',
						'Navigatie viel tegen'
					]
				}
			},
			{
				title: 'BMW i3',
				subTitle: 'Business model 1.5 TDI',
				score: '5.5',
				visual: pathToAssets + 'images/related/citroen-c4-picasso.png',
				url: hrefPrefix + '/modules/views/bmw-i3-nl/bmw-i3-nl.html',
				date: '02-02-2014',
				summary: {
					good: [
						'De UI is contrastrijk',
						'Hardware knop'
					],
					bad: [
						'De inputmethode',
						'Navigatie viel tegen'
					]
				}
			}
		]
	}
%}

{% extends "views/_base-view/base-view.html" %}

{% block content %}
<section class="view-reviews">
	{% import "components/shortlist/_shortlist.html" as shortlist %}
	{{ shortlist.shortlist(shortlistContent) }}
</section>
{% endblock %}