<!-- related -->
<div class="related" data-component="related">
	<section class="max-width-centered">
		<h1>GERELATEERDE TESTS</h1>
		<!--
		-->
		<a class="related-product" href="#">
			<img src="/assets/images/related/nissan-quashqai-tekna-opique.png" alt="Nissan Quashqai Tekna Opique - Si4 4WD Dynamic" />
			<div class="related-title">
				<h2>Nissan Quashqai Tekna Opique<span>Si4 4WD Dynamic</span></h2>
				<span class="related-score">4.5</span>
			</div>
		</a>
		<!--
		-->
		<!--
		-->
		<a class="related-product" href="#">
			<img src="/assets/images/related/opel-insignia-business-edition.png" alt="Opel Insignia - Business Edition" />
			<div class="related-title">
				<h2>Opel Insignia<span>Business Edition</span></h2>
				<span class="related-score">2</span>
			</div>
		</a>
		<!--
		-->
		<!--
		-->
		<a class="related-product" href="#">
			<img src="/assets/images/related/citroen-c4-picasso.png" alt="Citroën C4 Picasso - Business Edition" />
			<div class="related-title">
				<h2>Citroën C4 Picasso<span>Business Edition</span></h2>
				<span class="related-score">5.5</span>
			</div>
		</a>
		<!--
		-->
	</section>
</div>
<!-- /related -->