{%
	set navigation = [
		{
			label: 'Home',
			href: hrefPrefix + '/modules/views/home/home.html',
			active: false
		},
		{
			label: 'Reviews',
			href: hrefPrefix + '/modules/views/reviews/reviews.html',
			active: true
		},
		{
			label: 'Over<span class="nav-text-large"> Car UI</span>',
			href: hrefPrefix + '/modules/views/about/about.html',
			active: false
		}
	]
		%}

	{%
		set content = {
		pageUrl: 'http://www.car-ux.com/opel-insignia-tourer-bplus-2-0-d-nl/opel-insignia-tourer-bplus-2-0-d-nl.html',
		backgroundImage: pathToAssets + 'images/opel-insignia-nl/opel-insignia-dashboard.png',
		backgroundImageAlt: 'Opel Insignia dashboard',
		titleImage: pathToAssets + 'images/opel-insignia-nl/opel-insignia-small.png',
		titleImageAlt: 'Opel Insignia small',
		title: 'Opel Insignia',
		subtitle: 'Sports Tourer Business+ 2.0 CDTI',
		description: 'De Opel Insignia is de praalwagen van Opel. Het veelbelovende exterieur van de auto maakte ons van UNITiD nieuwsgierig naar de rest van van de auto. Is de interface ook zo mooi en goed? We gingen eropuit om de Insignia te verkennen.',
		testTagline: 'Getest op 15 mei 2014 door Hylke van Maaren, Helder Mota en Robbert Ouwerkerk',
		widgetScore: {
			score: '50',
			scoreDetails: {
				identity: {
					score: '60',
					description: 'Het scherm is goed geïntegreerd in de middenconsole, wat zorgt voor een mooi geheel. De kleine digitale display die is geïntegreerd in het dashboard, sluit goed aan op de analoge snelheid- en brandstofindicatoren. Het touchscreen voelt helaas goedkoop aan en hij werkt traag. We hadden meer verwacht van een mid-range auto van Opel. <br/><br/><b>Ontwerp</b><br/>De knoppen die je in het scherm ziet zijn inconsistent: sommige knoppen zijn in een box geplaatst en andere knoppen niet. Ook verschillen de groottes. Dit in combinatie met gebrek aan een logische visualisatie van je handeling is het onduidelijk welke functies of toetsen je aan het gebruiken bent. Op die manier moet je eerst het hele scherm uitpluizen om te begrijpen wat er gebeurt, om vervolgens naar de volgende stap te gaan.',
                    visual: pathToAssets + 'images/opel-insignia-nl/opel-insignia-identiteit.png'
				},
				hardware: {
					score: '65',
					description: 'Het scherm zelf is goed leesbaar. Het enige probleem is dat het scherm diep in de console zit verwerkt: twee tot drie centimeter diep. Dit belemmert het zicht op de knoppen, die dicht bij de randen zijn geplaatst. De knop \'Favorieten\' die in de rechteronderhoek zit kun je zelfs niet meer zien zodra je laag zit of iets bukt. <br/><br/><b>Nachtmodus</b><br/>De display schakelt over naar de nachtmodus bij het binnenkomen van tunnels. We nemen aan dat dit ook \'s nachts gebeurt. De zwarte achtergrond met lichte letters is ideaal voor rijden in het donker. Wel duurt het lang voordat de nachtmodus wordt ingeschakeld: tussen de vier en vijf seconden. Hierdoor word je verblind door de display bij het binnenkomen van tunnels, en als je weer uit de tunnel bent duurt het even voordat je weer iets kunt lezen. Het schakelen van licht naar donker gaat  direct en niet geleidelijk. Dit is erg opvallend en storend tijdens het rijden. ',
                    visual: pathToAssets + 'images/opel-insignia-nl/opel-insignia-hardware.png'
				},
				toptasks: {
					score: '45',
					description: 'De items in het hoofdmenu zijn \‘audio\’, \‘navigatie\’ en \‘telefoon\’. Bij het openen van een van deze items verdwaal je al snel in de grote hoeveelheid opties, bedieningselementen en knoppen. Hiërarchie ontbreekt hier. Zo is er bijvoorbeeld geen focus op top- of subtaken en zelfs de \'volgende\' en \'vorige\' opties worden niet consequent gebruikt. De \'back\'-knop varieert bijvoorbeeld van rechtsonder naar linksboven, afhankelijk van het menu waar je je in bevindt. Dit zorgt ervoor dat je als gebruiker niet op een logische en natuurlijke manier het systeem kunt bedienen.',
                    visual: pathToAssets + 'images/opel-insignia-nl/opel-insignia-toptaken.png'
				},
				usability: {
					score: '50',
					description: 'Er is een teveel aan bedieningsmethoden die verschillend werken. Dit werkt helaas erg verwarrend. De middenconsole kan worden bediend met touch, maar heeft een inconsistent gebruik van knoppen en knopgroottes. Ook zijn sommige knoppen niet geschikt voor touch tijdens het rijden, zoals het toetsenbord voor de telefoon. Ook valt de bediening soms wat tegen: je kan bijvoorbeeld niet swipen door een lange lijst. Als gebruiker word je daardoor gedwongen om de pijlen te gebruiken om van boven naar beneden te navigeren. Het volume regelen kan ook alleen door een knop lang in te drukken. </br></br><b>Functionaliteit</b><br/>De labels zijn verwarrend. Op het beginscherm staan twee items, die allebei het label \'telefoon\' hebben, terwijl ze een verschillende functie hebben. Voor het instellen van een radiozender moet je eerst de handleiding lezen. En zelfs die is niet duidelijk genoeg.',
                    visual: pathToAssets + 'images/opel-insignia-nl/opel-insignia-usability.png'
				},
				technology: {
					score: '40',
					description: 'De Insigina beschikt over een touchpad die bij het middenconsole hoort. Deze bevindt zich naast de handrem. Het touchpad kan worden gebruikt als \'tekenblok\' voor het invoeren van tekst of cijfers. Je activeert hem met een knop die ernaast zit. Elke actie met het touchpad zorgt voor tekstinvoer bij bijvoorbeeld navigatiebestemmingen. Hoewel de letterherkenning redelijk werkt, vergt het tekenen van letters nogal wat inspanning en tijd. Het feit dat er geen ondersteuning wordt geboden, in de vorm van voorspellende resultaten of filters op basis van de huidige input, maakt deze invoermethode erg tijdrovend en foutgevoelig. Een andere ergernis is dat het touchpad niet beschikt over een \'enter\'- of \'ok\'-optie. Hierdoor moet je alsnog het scherm aanraken om door te gaan naar de volgende stap. Het toetsenbord op het scherm werkt dus eigenlijk veel sneller en makkelijker als je iets wilt invoeren.',
                    visual: pathToAssets + 'images/opel-insignia-nl/opel-insignia-technologie.png'
				}
			},
			summary: {
				good: [
					'Switching from light to dark environment',
					'Love the size of the screen'
				],
				bad: [
					'Confirm the input of the touchpad',
					'Icon style',
                    'The brightness of the design functions as a \'lamp\''
				]
			}
		},
		socialSharing: {
			twitter: 'Twitter - share text',
			facebook: 'Facebook - share text'
		}
	}
		%}

	{%
		set summaryContent = {
		title: 'Het scherm behoort tot de auto',
		text: 'Na het instappen kan je bijna niet langs het scherm kijken. Het is een flinke jongen die een prominente positie centraal op het dashboard in neemt. De knoppen zijn allemaal mooi rond en onder de display gepositioneerd. Gelukkig zijn dit er een stuk minder dan in de vorige versie van de Insignia. Dit maakt het geheel een stuk rustiger voor de inzittende. Zo prominent en groot als de centrale display is, zo iellig komen de analoge meters voor toeren en snelheid over. Ze zijn wel mooie, maar ook erg klein. Soms moesten we wel even goed kijken wat de huidige snelheid nu was, als deze niet op het kleine display weer gegeven werd.
        <br/></br>De informatie op het dashboardscherm is duidelijk. Het brandstofverbruik en -bereik worden weergegeven in submenu\’s. Die zijn toegankelijk met bedieningsknoppen op het stuur. Dat de menu structuren zowel verticaal als horizontaal ingedeeld zijn geeft soms wat verwarring binnen zo een klein schermpje. Voelt niet altijd even logisch. Er worden helaas geen waarschuwingen op het scherm weergegeven. 
        </br></br>Het aanraken van het scherm werkt matig. Dit komt doordat de knoppen niet allemaal doeltreffend zijn. De draaiknop werkt prima, maar vergt veel concentratie. Je moet lang op het scherm kijken vanwege de onlogische opbouw van opties. De knoppen op het stuur werken, maar zijn verwarrend met wat er vervolgens in het menu gebeurt. Het touchpad dat bij de middenconsole hoort is bedoeld om makkelijker informatie in te voeren. Hiermee kun je bijvoorbeeld cijfers tekenen. Toch vraagt dit veel aandacht van de bestuurder, waardoor het meer een grappige gadget is dan een functionele toevoeging die je vaak zult gebruiken.',
		visual: pathToAssets + 'images/opel-insignia-nl/opel-insignia-summary.png'
	}
		%}

	{%
		set quote = 'Ik moet het scherm scannen en begrijpen wat er aan de hand is om naar de volgende stap te gaan.'
		%}

	{%
		set highlightContent = {
		title: 'Iconen',
		text: 'Er is geen consistent gebruik van de stijlen van de iconen: je komt zowel platte als rijkelijk vormgegeven iconen tegen: van dunne lijniconen naar dikke lijniconen en pictogrammen met schuine randen, verlopen en schaduwen. In de kleuren van de iconen zit ook geen eenheid. Daarnaast wordt er een andere set van iconen gebruikt voor de hardware-knoppen.',
		visual: pathToAssets + 'images/opel-insignia-nl/opel-insignia-highlight.png'
	}
		%}

	{%
		set relatedContent = [
		{
			title: 'Mercedes-Benz C-Klasse',
			subTitle: 'C220 CDI Ambition Comfort',
			score: '75',
			visual: pathToAssets + 'images/related/mercedes-c220.png',
			url: hrefPrefix + '/modules/views/mercedes-c2-2-nl/mercedes-c2-2-nl.html'
		},
		{
			title: 'BMW i3',
			subTitle: 'Full Electric',
			score: '85',
			visual: pathToAssets + 'images/related/bmw-i3.png',
			url: hrefPrefix + '/modules/views/bmw-i3-nl/bmw-i3-nl.html'
		},
		{
			title: 'Citroën C4 Picasso',
			subTitle: 'Business Edition',
			score: '65',
			visual: pathToAssets + 'images/related/citroen-c4-picasso.png',
			url: hrefPrefix + '/modules/views/citroen-c4-picasso-business-nl/citroen-c4-picasso-business-nl.html'
		}
	]
%}

{% extends "views/_base-view/base-view.html" %}
{% import  "components/detail-intro/_detail-intro.html" as intro %}
{% import  "components/related/_related.html" as related %}

{% block content %}
	{{ intro.detailIntro(content) }}

	{% include "components/detail-main/_detail-main.html" %}

	{% include "components/comments/_comments.html" %}

	{{ related.related(relatedContent) }}

{% endblock %}