



<!-- header -->
<header class="header" data-component="header">
	<div class="header-content">
		<div class="logo-area">
			<a href="/" class="logo icon-car-ux-logo">CAR UX</a>
		</div>
		<nav>
			<ul>
				
				<li class="">
					<a href="/">Home</a>
				</li>
				
				<li class=" active-nav-item ">
					<a href="/reviews/">Reviews</a>
				</li>
				
				<li class="">
					<a href="#over">Over<span class="nav-text-large"> Car UX</span></a>
				</li>
				
			</ul>
		</nav>
	</div>
	<div class="header-background-left"></div>
	<div class="header-background-right"></div>
</header>
<!-- /header -->
