{%
	set navigation = [
		{
			label: 'Home',
			href: hrefPrefix + '/modules/views/home/home.html',
			active: false
		},
		{
			label: 'Reviews',
			href: hrefPrefix + '/modules/views/reviews/reviews.html',
			active: false
		},
		{
			label: 'Over<span class="nav-text-large"> Car UI</span>',
			href: hrefPrefix + '/modules/views/about/about.html',
			active: true
		}
	]
%}

{%
	set content = {
		backgroundImage: pathToAssets + 'images/about/3.jpg',
		backgroundImageAlt: 'The Why of \'Car UI\'',
		title: 'The Why of \'Car UI\'',
		subtitle: 'Welkom op wederom een website die gaat over het design van digitale auto interfaces.',
		description: 'Hier zijn er al een aantal van te vinden van op het web, maar wij willen al die interfaces niet alleen op hun uiterlijk beoordelen en bekritiseren. We hebben allemaal meningen over de verschillende interfaces van alle auto merken. Maar waar zijn die meningen nu eigenlijk op gebaseerd? Heel vaak toch wel op smaak. Dat kan en dat mag, maar we zouden toch graag een wat gestructureerde mening willen geven. Helemaal omdat onze achtergrond in het digitale interface design ligt willen we onze mening goed onderbouwen, net zoals we dat doen in ons eigen vakgebied. Wij zijn van mening dat je eerst kennis op moet doen van de context waarin en waarvoor een interface gemaakt is.
		<br/><br/><b>Het CAR UI test centrum</b>
		<br/>Voor ons is het beste middel om ergens een mening over te vormen door het zelf te ervaren en te testen. Daarom hebben we besloten om het CAR UI test centrum op te zetten. Een test centrum waarin we alle huidige en nieuwe digitale auto interfaces het vuur aan de schenen leggen en ons ongezouten oordeel er op los laten. Maar testen moet je wel doen met een duidelijk doel, en vanuit de essentie van de functionaliteit die vormgegeven is. Daarom hebben we besloten, mede door de grote hoeveelheid functionaliteiten die te bedienen zijn vanuit de vele schermen, om dit te doen vanuit verschillende perspectieven. Denk hierbij aan de identiteit en uistraling van een merk, de kwaliteit van het digitale scherm en de manieren om het te bedienen. En niet geheel onbelangrijk: vanuit vooraf gedefinieerde top-taken. Top-taken zijn de handelingen die het meest voor komen bij het gebruik van een interface, en welke je logischerwijs makkelijk bereikbaar wilt maken.
		<br/><br/><b>Top-taken</b>
		<br/>De verschillende top-taken zijn gedefinieerd vanuit onderzoek met twintig gebruikers en onze eigen ervaring. Er zijn namelijk altijd een aantal zaken die iedereen wil of moet kunnen tijdens het rijden zonder al te lang hun blik af te moeten wenden van de weg. Denk hierbij aan zaken als het instellen van de temperatuur of het bedienen van een radio. Maar ook zaken die iedereen in het algemeen vrij simpel zou moeten kunnen bedienen zonder een universitaire opleiding te hebben genoten. En tegenwoordig horen daar ook zaken als navigatie en hulp bij parkeren bij.',
		inlineVisual: pathToAssets + 'images/about/2.jpg'
	}
%}

{%
	set summaryContent = {
		title: 'De intrede van de schermen',
		text: 'De laatste paar jaren heeft het digitale scherm zijn weg gevonden in het dashboard van de auto. Eerst om informatie van de boordcomputer weer te geven tussen de primaire klokken. Maar later ook in de midden-console voor navigatie en muziek. En in sommige merken groeien deze schermen steeds meer naar elkaar toe. Maar ze herbergen ook steeds meer functionaliteiten nu er meer techniek in de auto komt en de producenten de fysieke knoppen in het dashboard steeds vaker willen laten verdwijnen. Alle kennis die de afgelopen 100 jaar opgedaan is in het ontwerpen van het dashboard kan dan ook uit het raam gegooid worden. Want digitale user interface design is toch een heel ander vakgebied, met hele andere oplossingen voor dezelfde problemen dan in de fysieke wereld.
			<br/><br/>En hiermee hebben de auto producenten zich eigenlijk een heleboel extra verantwoordelijkheid en uitdagingen op de hals genomen. En laten we wel zijn, die hebben ze nog niet opgelost. Vaak stappen ze ook in de val van de visuele mogelijkheden die de schermen nu bieden en pakken ze daarmee flink uit. Om tegelijkertijd de functionaliteit, identiteit en het intuïtieve gedrag uit het oog te verliezen. In veel gevallen is ook de klasse uitstraling van het merk en model niet meer terug te vinden in de digitale UI. En dit zie je vaak in het C, D en E segment. De interfaces lijken door hele andere afdelingen gemaakt te zijn dan de mensen die het interieur hebben ontworpen. Ze vormen geen geheel met de design taal van het interieur en het exterieur. Ze komen vaak erg technisch over, zitten hiërarchisch slecht in elkaar en ook hebben de schermen een lage kwaliteit.
			<br/><br/>Dit alles zorgt er voor dat de problemen eigenlijk alleen nog maar groter worden en dat de gemiddelde bestuurder een flinke leercurve nodig heeft om zijn of haar eigen auto ten volle te kunnen gebruiken. Maar ook dat het gevaarlijke situaties op kan leveren tijdens het rijden omdat top-taken niet logisch te vinden of te bedienen zijn.
			<br/><br/>Ook kan het een nadelige uitwerking hebben op de merk beleving als een merk pretendeert ‘premium’ te zijn, maar de interface onverzorgd en goedkoop over komt. De emotie, esthetiek, finesse en het spelen met het lijnenspel dat komt kijken bij het ontwerpen van een auto, wordt in de meeste gevallen duidelijk niet toegepast in het ontwerpen van de interfaces.
			<br/><br/><img src="' + pathToAssets + 'images/about/9.jpg" alt="Dashboard" />',
		visual: pathToAssets + 'images/about/10.jpg',
		inlineVisual: pathToAssets + 'images/about/1.jpg'
	}
%}

{%
	set textImageContent = {
		title: 'EEN STAPJE TERUG IN DE TIJD',
		content: [
			{
				text: 'Dat er in de digitale auto schermen van tegenwoordig veel problemen opgelost moeten worden door de vele functionaliteiten is duidelijk. De vraag is: Hoe zijn we hier gekomen en waarom dit nu opeens een zoveel besproken onderwerp? Wat is nu eigenlijk het probleem en waarom bemoeien wij ons daar nu mee?
					<br/><br/>De geautomatiseerde auto industrie zoals we die kennen is toch al snel een ruime 100 jaar oud (Ford model T) en het model van <a target="_blank" href="http://en.wikipedia.org/wiki/Planned_obsolescence">\'planned obsolensce\'</a> is er sinds het begin van WW2. Een model dat er voor zorgt dat er ieder jaar model aanpassingen komen zodat er vraag blijft bestaan naar vernieuwing en mensen hun producten blijven vervangen. Maar het ontwerpen en produceren van auto\'s begint al in 1888 door onder andere Karl Benz.
					<br/><br/><b>Identiteit, emotie en design</b>
					<br/><br/>Op de automarkt ontstond in de eerste helft van de 20e eeuw steeds meer concurrentie doordat er ook steeds meer merken kwamen. Hiermee verschoof de focus op techniek steeds meer naar de identiteit als merk en de emotie die een auto uit moest stralen. Stoer en krachtig of stijlvol en elegant. Of goedkoop en functioneel tegenover luxe en passievol. Het werd steeds belangrijker om als merk een duidelijk herkenbare signatuur mee te geven in het design van de auto om zo herkent te worden op straat.
					<br/><br/>Deze facetten kwamen naast de altijd aanwezige functionaliteit samen in het dashboard. Deze moest een geheel vormen met het design van de buitenkant en een gevoel van luxe, ingetogenheid of sportiviteit uit stralen. En dit werd in veel gevallen ook doorgevoerd in de knoppen op het dashboard. Helemaal bij de premium merken, zoals Audi, Mercedes, Jaguar en BMW, waar kwaliteit en vakmanschap in het interieur net zo belangrijk was als de emotie aan de buitenkant.',
				visuals: [
					pathToAssets + 'images/about/4.jpg',
					pathToAssets + 'images/about/5.jpg'
				]
			},
			{
				text: '<b>Evolutie van het dashboard</b>
						<br/><br/>In die tijd was het nog wel hard werken en goed op letten voor de bestuurder. Kennis van alle hendels, knoppen en schuifjes was een vereiste om het gevaarte in beweging te krijgen, rijdende te houden en op tijd weer af te laten remmen. Er waren vele hendels binnen en buiten de auto die op verschillende momenten bediend moesten worden en soms veel kracht vereiste. Maar gaande weg toen de auto\'s ook steeds sneller gingen rijden werd het ook steeds belangrijker dat de bestuurder zijn concentratie op de weg kon houden. Dit zorgde er voor dat het dashboard en de bediening van alle functionaliteiten steeds intuïtiever moest worden. Zodat de bestuurder vanuit een natuurlijke impuls kon anticiperen op situaties die zich voor doen in het verkeer.
						<br/><br/>Het design en de uitwerking van het dashboard in de auto heeft zijn evolutie doorlopen. Functionaliteit, intuitiviteit, identiteit en uitstraling gaan allemaal hand in hand. Nu kunnen we dan ook concluderen dat aan een aantal vereiste eigenlijk altijd wel kan worden voldaan.',
				visuals: [
					pathToAssets + 'images/about/6.jpg',
					pathToAssets + 'images/about/7.jpg',
					pathToAssets + 'images/about/8.jpg'
				],
				component: {
					bulletpoints: {
						content: [
							'De bediening kan op functie gegroepeerd worden en daarom vrijwel blind gevonden worden. Alles omtrent klimaat zit bij elkaar, net als verlichting en radio',
							'Knoppen zijn intuitief. Draai schakelaars en schakelaars communiceren visueel wat de verwachte actie is. Men snapt dat een draaiknop een andere handeling vereist dan dat een flip-schakelaar',
							'De \'klasse\' van de auto kan gevoeld en beleefd worden aan de knoppen door het gebruik van materiaal, detail in design en de fysieke feedback (De weerstand die een draai schakelaar geeft of de schakelaar die een lampje in zich heeft)',
							'Er kan focus worden gecreëerd op primaire taken door de plaatsing, gebruik van kleur en verschil in formaat van de bediening.'
						]
					}
				}
			},
			{
				text: 'Maar er zijn natuurlijk ook wel nadelen aan een fysieke wereld van knoppen in het dashboard. De ruimte is natuurlijk beperkt. En hoe meer functionaliteiten er in de auto komen, hoe meer knoppen er dan bij komen. En opeens moeten de knoppen dan allemaal kleiner worden en kunnen ze ook niet meer blind bediend worden. Een fenomeen dat tot ongeveer 2010 steeds meer voor kwam in de auto.'
			}
		]
	}
%}

{%
	set relatedContent = [
		{
			title: 'Nissan Qashqai',
			subTitle: 'Tekna 1.5 dCi',
			score: '8',
			visual: pathToAssets + 'images/related/nissan-qashqai.png',
			url: hrefPrefix + '/modules/views/nissan-qashqai-tekna-1-5-dci-nl/nissan-qashqai-tekna-1-5-dci-nl.html'
		},
		{
			title: 'Opel Insignia',
			subTitle: 'Sports Tourer Business+ 2.0 CDTI',
			score: '5',
			visual: pathToAssets + 'images/related/opel-insignia-business-edition.png',
			url: hrefPrefix + '/modules/views/opel-insignia-tourer-bplus-2-0-d-nl/opel-insignia-tourer-bplus-2-0-d-nl.html'
		},
		{
			title: 'Citroën C4 Picasso',
			subTitle: 'Business Edition',
			score: '6.5',
			visual: pathToAssets + 'images/related/citroen-c4-picasso.png',
			url: hrefPrefix + '/modules/views/citroen-c4-picasso-business-nl/citroen-c4-picasso-business-nl.html'
		}
	]
%}

{%
	set textImageContent2 = {
		title: 'MAAR HOE MOET HET DAN WEL?',
		content: [
			{
				text: 'Dat weten wij ook niet precies. Via ons CAR UI test centrum proberen we hier een beeld van te schetsen voor ons zelf. Wel zijn er lessen te leren uit de principes die toegepast worden, en waar rekening mee gehouden moet worden in het ontwerpen van interfaces voor websites en apps.',
				component: {
					bulletpoints: {
						content: [
							'Hanteer een consistent en duidelijk mentaal model voor navigatie door je hele applicatie',
							'Maak gebruik van duidelijk herkenbare knoppen, lijsten en andere interactie elementen',
							'Ken je gebruiker en ken de toptaken. Voor wie ontwerp je het en wat willen ze?',
							'Creëer een gedachte achter het gebruik van kleuren en pas dit consistent en logisch toe',
							'Houdt rekening met contrast en leesafstand',
							'Geef duidelijke visuele feedback na een actie',
							'Het material design van Google is een resultaat van de evolutie in digitaal UI design. Hier kunnen slimme oplossingen uit gebruikt worden.',
							'Pas ‘rijkheid’ (extra design uitwerking toepassen op zaken die dat vanuit de functie niet direct nodig hebben) en extra beleving slim toe.'
						]
					}
				}
			},
			{
				text: '<b>WAT BIEDT DE TOEKOMST ONS</b>
						<br/>Blabla .... dingen als open source, flexibel, modulair, skinnable, zelf lerend en relevant. Mogelijk een mix fysiek en digitaal'
			}
		]
	}
%}

{%
	set sourceList = {
		title: 'Bronnen',
		sources: [
			{
				label: 'History of the automobile',
				url: 'http://en.wikipedia.org/wiki/History_of_the_automobile'
			},
			{
				label: 'Automotive design',
				url: 'http://en.wikipedia.org/wiki/Automotive_design'
			},
			{
				label: 'Car design history',
				url: 'http://www.diseno-art.com/car_design_history.html'
			},
			{
				label: 'What web designers can learn from Google’s Material Design',
				url: 'http://www.webdesignerdepot.com/2014/10/what-web-designers-can-learn-from-googles-material-design/'
			},
			{
				url: 'http://youtu.be/i3GC4dQ7Cs8?list=FLt5EQDiHorFm9HCLwSSBRRw'
			},
			{
				url: 'http://youtu.be/Vhygzio7oA0?list=FLt5EQDiHorFm9HCLwSSBRRw'
			}
		]
	}
%}

{% extends "views/_base-view/base-view.html" %}

{% import  "components/detail-intro/_detail-intro.html" as intro %}
{% import  "components/text-image/_text-image.html" as textImage %}
{% import  "components/summary/_summary.html" as summaryBlock %}
{% import  "components/bibliography/_bibliography.html" as bibliography %}
{% import  "components/related/_related.html" as related %}

{% block content %}
<div class="about">
	{{ intro.detailIntro(content) }}
	<section class="max-width-centered">
		{{ textImage.textImage(textImageContent) }}
		{{ summaryBlock.summaryBlock(summaryContent, false) }}
		{{ textImage.textImage(textImageContent2) }}
		{{ bibliography.bibliography(sourceList) }}
		{{ related.related(relatedContent) }}
	</section>
</div>
{% endblock %}