<!DOCTYPE html>
<html class="no-js">
<head>
	<title>
		
Score (preview) 
		Score | car-ux
		

	</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

	<meta name="description" content="Car UX" />
	<meta name="viewport" content="width=device-width initial-scale=1" />

	<link rel="shortcut icon" href="../../..//assets/images/favicons/favicon.ico" type="image/ico" />
	<link rel="apple-touch-icon" sizes="57x57" href="../../..//assets/images/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../../..//assets/images/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../../..//assets/images/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../../..//assets/images/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../../..//assets/images/favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../../..//assets/images/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../../..//assets/images/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../../..//assets/images/favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../../..//assets/images/favicons/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="../../..//assets/images/favicons/favicon-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="../../..//assets/images/favicons/favicon-160x160.png" sizes="160x160">
	<link rel="icon" type="image/png" href="../../..//assets/images/favicons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="../../..//assets/images/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="../../..//assets/images/favicons/favicon-32x32.png" sizes="32x32">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="../../..//assets/images/favicons/mstile-144x144.png">

	<script>
		(function (e) {
			e.className = e.className.replace('no-js','js');
		}(document.documentElement));
	</script>
	
	<script>
		/* grunticon Stylesheet Loader | https://github.com/filamentgroup/grunticon | (c) 2012 Scott Jehl, Filament Group, Inc. | MIT license. */
		window.grunticon=function(e){if(e&&3===e.length){var t=window,n=!(!t.document.createElementNS||!t.document.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect||!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1")||window.opera&&-1===navigator.userAgent.indexOf("Chrome")),o=function(o){var r=t.document.createElement("link"),a=t.document.getElementsByTagName("script")[0];r.rel="stylesheet",r.href=e[o&&n?0:o?1:2],a.parentNode.insertBefore(r,a)},r=new t.Image;r.onerror=function(){o(!1)},r.onload=function(){o(1===r.width&&1===r.height)},r.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="}};
		grunticon(["../../..//assets/images/grunticon-output/icons.data.svg.css", "../../..//assets/images/grunticon-output/icons.data.png.css", "../../..//assets/images/grunticon-output/icons.fallback.css"]);
	</script>
	<noscript>
		<link rel="stylesheet" href="../../..//assets/images/grunticon-output/icons.fallback.css" />
	</noscript>
	
	

<link rel="stylesheet" href="../../..//assets/style/main.css">
<!--<link rel="stylesheet" href="../../..//guide//voorhoede-core-styles.css">-->
<!--<link rel="stylesheet" href="../../..//guide//core-layout.css">-->
<link rel="stylesheet" href="../../..//guide/guide.css">

<link rel="stylesheet" href="../../..//guide/vendor/prismjs/prism.css">





<link rel="stylesheet" href="../../..//assets/style/main.css">




</head>
<body>
	<!-- use data attributes to target in JS -->
	<div id="page">
		

		
<div class="page">
	<div class="core-layout">
		<header class="app-guide-content app-guide-header">
			<img src="../../..//assets/images/grunticon-svgs/car-ux-logo.svg" alt="Car UX logo" class="app-guide-logo app-guide-logo-box-1"/>
				<h1>car-ux</h1>
				<h2 class="app-guide-subtitle">Front-end guide for car-ux by De Voorhoede</h2>
		</header>

		

<main class="app-guide-main">
	<script>window.testApp = {}; // namespace to register modules for testing</script>
	<h1 class="section-title app-guide-content">Score</h1>
	<div class="app-guide-content app-guide-markdown language-markdown">
		<!--
Add an optional short description here for `score` component.
Or delete this file if not applicable.
-->
	</div>

	
	<div class="resize-buttons">
		<button id="desktop">desktop</button>
		<button id="phone">phone</button>
		<button id="tablet">tablet</button>
	</div>

	<p>Or set your own width in px:</p>
	<form id="resize-form">
		<label>
			<span>Width</span>
			<input type="number" name="width" id="resize-width" required/>
		</label>
		<button type="submit">Set!</button>
	</form>

	<iframe id="preview-iframe" src="object.html" width="100%" height="400px"></iframe>
	

	
	
	

	

	<section id="section-code" class="app-guide-section app-guide-content">
		<h2 class="app-guide-section-title">
			Code 
<a href="#section-code"
   class="app-guide-permalink app-guide-icon"
   title="permalink to this section"></a>

		</h2>
		

		
		<section id="section-code-html">
			<h3 class="app-guide-section-title">
				HTML 
<a href="#section-code-html"
   class="app-guide-permalink app-guide-icon"
   title="permalink to this section"></a>

			</h3>
			<div class="app-guide-code">
				<pre class="language-markup"><code>&lt;!-- score -->
&lt;section class="score" data-component="score">
	&lt;div class="score-heading">
		&lt;h1>DE SCORES&lt;/h1>
		&lt;span class="testing-date-person">Getest op 12 juni 2014 door Hylke van Maaren en Miranda Schenkel&lt;/span>
	&lt;/div>

	&lt;div class="score-item is-expanded" data-expandible data-expandible-open-on-focus="true">
		&lt;!--data-expandible-close-on-blur="true"-->
		&lt;a href="#0" name="uitstraling" class="score-title" data-expandible-handle="toggle">
			&lt;h2>Uitstraling&lt;/h2>
			&lt;span class="arrow-box">&lt;span class="score-read-more">Lees meer&lt;/span>&lt;span data-icon-arrow class="icon  icon-arrow-up ">&lt;/span>&lt;/span>
		&lt;/a>
		&lt;div class="score-content has-visual" data-expandible-content>
			&lt;div class="score-box-wrapper">
				&lt;div class="score-box">
					&lt;span class="score-number">4&lt;/span>
					&lt;span class="score-icon icon icon-gauge2">&lt;/span>
				&lt;/div>
			&lt;/div>
			&lt;!--
			-->
			&lt;p>
				De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen
				zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.
			&lt;/p>
			&lt;!--
			-->&lt;img class="score-content-visual" src="/assets/images/bmw-i3-nl/bmw-i3-small.png" alt="Uitstraling" />
		&lt;/div>
	&lt;/div>

	&lt;div class="score-item " data-expandible data-expandible-open-on-focus="true">
		&lt;!--data-expandible-close-on-blur="true"-->
		&lt;a href="#0" name="contrast" class="score-title" data-expandible-handle="toggle">
			&lt;h2>Contrast&lt;/h2>
			&lt;span class="arrow-box">&lt;span class="score-read-more">Lees meer&lt;/span>&lt;span data-icon-arrow class="icon  icon-arrow-down ">&lt;/span>&lt;/span>
		&lt;/a>
		&lt;div class="score-content " data-expandible-content>
			&lt;div class="score-box-wrapper">
				&lt;div class="score-box">
					&lt;span class="score-number">5&lt;/span>
					&lt;span class="score-icon icon icon-gauge3">&lt;/span>
				&lt;/div>
			&lt;/div>
			&lt;!--
			-->
			&lt;p>
				De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen
				zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.
			&lt;/p>
		&lt;/div>
	&lt;/div>

	&lt;div class="score-item " data-expandible data-expandible-open-on-focus="true">
		&lt;!--data-expandible-close-on-blur="true"-->
		&lt;a href="#0" name="focus" class="score-title" data-expandible-handle="toggle">
			&lt;h2>Focus&lt;/h2>
			&lt;span class="arrow-box">&lt;span class="score-read-more">Lees meer&lt;/span>&lt;span data-icon-arrow class="icon  icon-arrow-down ">&lt;/span>&lt;/span>
		&lt;/a>
		&lt;div class="score-content " data-expandible-content>
			&lt;div class="score-box-wrapper">
				&lt;div class="score-box">
					&lt;span class="score-number">4&lt;/span>
					&lt;span class="score-icon icon icon-gauge2">&lt;/span>
				&lt;/div>
			&lt;/div>
			&lt;!--
			-->
			&lt;p>
				De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen
				zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.
			&lt;/p>
		&lt;/div>
	&lt;/div>

	&lt;div class="score-item " data-expandible data-expandible-open-on-focus="true">
		&lt;!--data-expandible-close-on-blur="true"-->
		&lt;a href="#0" name="usability" class="score-title" data-expandible-handle="toggle">
			&lt;h2>Usability&lt;/h2>
			&lt;span class="arrow-box">&lt;span class="score-read-more">Lees meer&lt;/span>&lt;span data-icon-arrow class="icon  icon-arrow-down ">&lt;/span>&lt;/span>
		&lt;/a>
		&lt;div class="score-content " data-expandible-content>
			&lt;div class="score-box-wrapper">
				&lt;div class="score-box">
					&lt;span class="score-number">4&lt;/span>
					&lt;span class="score-icon icon icon-gauge2">&lt;/span>
				&lt;/div>
			&lt;/div>
			&lt;!--
			-->
			&lt;p>
				De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen
				zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.
			&lt;/p>
		&lt;/div>
	&lt;/div>

	&lt;div class="score-item " data-expandible data-expandible-open-on-focus="true">
		&lt;!--data-expandible-close-on-blur="true"-->
		&lt;a href="#0" name="features" class="score-title" data-expandible-handle="toggle">
			&lt;h2>Features&lt;/h2>
			&lt;span class="arrow-box">&lt;span class="score-read-more">Lees meer&lt;/span>&lt;span data-icon-arrow class="icon  icon-arrow-down ">&lt;/span>&lt;/span>
		&lt;/a>
		&lt;div class="score-content " data-expandible-content>
			&lt;div class="score-box-wrapper">
				&lt;div class="score-box">
					&lt;span class="score-number">3&lt;/span>
					&lt;span class="score-icon icon icon-gauge2">&lt;/span>
				&lt;/div>
			&lt;/div>
			&lt;!--
			-->
			&lt;p>
				De blauwe lijnen die op het exterieur en in het interieur te vinden zijn komen ook in de interfaces terug, dit is een mooi detail. Tab-achtige lijnen komen voor zowel in de UI als in het dashboard achter de UI. De backlights van de knoppen om de UI heen
				zijn niet blauw, maar rood. Het font dat gebruikt is is niet hetzelfde als op de buttons, maar dit stoort niet.
			&lt;/p>
		&lt;/div>
	&lt;/div>

&lt;/section>
&lt;!-- /score --></code></pre>
				<ul class="app-guide-code-options">
					<li><a class="app-guide-icon app-guide-icon-code" href="_score.html" title="view source HTML"></a></li>
					<li><a class="app-guide-icon app-guide-icon-download" href="_score.html" download="_score.html" title="download HTML"></a></li>
				</ul>
			</div>
		</section>
		

		
		<section id="section-code-css">
			<h3 class="app-guide-section-title">
				CSS 
<a href="#section-code-css"
   class="app-guide-permalink app-guide-icon"
   title="permalink to this section"></a>

			</h3>
			<div class="app-guide-code">
				<pre class="language-css"><code>/* score component */
.score {
  width: 100%;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
}
.score h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
@media screen and (min-width: 900px) {
  .score h1 {
    display: inline-block;
  }
}
.score .testing-date-person {
  position: relative;
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  color: #ffffff;
}
@media screen and (min-width: 900px) {
  .score .testing-date-person {
    position: absolute;
    right: 0;
    bottom: 4px;
    margin-right: 0;
    margin-left: 0;
  }
}
.score .score-item {
  margin-bottom: 10px;
}
.score .score-heading {
  position: relative;
  margin-top: 60px;
  margin-bottom: 20px;
}
.score .score-title,
.score .score-content {
  background-color: #ffffff;
  padding-left: 2em;
}
@media screen and (min-width: 900px) {
  .score .score-title,
  .score .score-content {
    padding-right: 3em;
  }
}
.score .score-title {
  display: block;
  position: relative;
  padding-top: 1.125em;
  padding-bottom: 1.125em;
  text-decoration: none;
  border-bottom: none;
}
.score .score-title:hover, .score .score-title:focus {
  color: #000000;
  text-decoration: none;
}
.score .score-title h2 {
  font-family: "HelveticaNeue-Bold", Helvetica, Arial, sans-serif;
  font-size: 25px;
  margin: 0;
}
.score .score-title {
  margin-bottom: 1px;
}
.score .is-expandible .score-title {
  margin-bottom: 0;
}
.score .is-expanded.is-expandible .score-title {
  margin-bottom: 1px;
}
.score .arrow-box {
  display: none;
}
.score .is-expandible .arrow-box {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50px;
  background-color: #dcdcdc;
}
@media screen and (min-width: 620px) {
  .score .is-expandible .arrow-box {
    width: 140px;
  }
}
.score .is-expandible .arrow-box .icon {
  position: absolute;
  width: 15px;
  height: 10px;
  top: 20px;
  right: 18px;
}
.score .is-expandible .arrow-box .score-read-more {
  display: none;
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding-left: 15px;
  line-height: 47px;
}
@media screen and (min-width: 620px) {
  .score .is-expandible .arrow-box .score-read-more {
    display: inline;
  }
}
.score .score-content {
  position: relative;
  padding-top: 15px;
  padding-right: 3em;
  padding-bottom: 15px;
}
@media screen and (min-width: 900px) {
  .score .score-content {
    padding-right: 5em;
  }
  .score .score-content.has-visual {
    padding-right: 2em;
  }
  .score .score-content.has-visual p {
    width: 50%;
  }
  .score .score-content.has-visual .score-content-visual {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    vertical-align: top;
    padding-left: 20px;
  }
}
.score .score-content-visual {
  margin-top: 1em;
  max-width: 100%;
}
.score .is-expandible .score-content {
  padding-top: 0;
  padding-bottom: 0;
}
.score .is-expanded.is-expandible .score-content {
  height: auto;
  padding-top: 15px;
  padding-bottom: 30px;
}
.score .score-box-wrapper {
  display: inline-block;
  vertical-align: top;
  width: 25%;
}
.score .score-box {
  position: relative;
  margin-bottom: 20px;
  width: 175px;
  height: 80px;
  background-color: #ffc300;
}
@media screen and (min-width: 900px) {
  .score .score-box {
    margin-bottom: 0;
  }
}
.score .score-number {
  display: inline-block;
  vertical-align: top;
  padding-top: 5px;
  padding-left: 17px;
  font-family: "HelveticaNeue-Bold", Helvetica, Arial, sans-serif;
  font-size: 36px;
}
.score .score-icon.icon-gauge1,
.score .score-icon.icon-gauge2,
.score .score-icon.icon-gauge3,
.score .score-icon.icon-gauge4,
.score .score-icon.icon-gauge5 {
  position: absolute;
  top: 12px;
  right: 50px;
  width: 50px;
  height: 50px;
}
.score .score-content p {
  margin: 0;
}
@media screen and (min-width: 900px) {
  .score .score-content p {
    display: inline-block;
    vertical-align: top;
    width: 75%;
  }
}
.score .is-expandible .score-content {
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease-out;
}

/*# sourceMappingURL=_score.css.map */
</code></pre>
				<ul class="app-guide-code-options">
					<li><a class="app-guide-icon app-guide-icon-code" href="_score.css" title="view source CSS"></a></li>
					<li><a class="app-guide-icon app-guide-icon-download" href="_score.css" download="_score.css" title="download CSS"></a></li>
				</ul>
			</div>
		</section>
		

		
		<section id="section-code-javascript">
			<h3 class="app-guide-section-title">
				JS 
<a href="#section-code-js"
   class="app-guide-permalink app-guide-icon"
   title="permalink to this section"></a>

			</h3>
			<div class="app-guide-code">
				<pre class="language-javascript"><code>(function() {
	'use strict';

	new window.Expandible();
})();</code></pre>
				<ul class="app-guide-code-options">
					<li><a class="app-guide-icon app-guide-icon-code" href="_score.js" title="view source JavaScript"></a></li>
					<li><a class="app-guide-icon app-guide-icon-download" href="_score.js" download="_score.js" title="download JavaScript"></a></li>
				</ul>
			</div>
		</section>
		

	</section>
</main>


	</div>

</div>


		
<footer class="app-guide-footer">
	This page is generated using <a href="http://voorhoede.nl">De Voorhoede</a>'s template builder
</footer>



		

		

		<script src="../../..//assets/scripts/vendor.js"></script>
		<script src="../../..//assets/scripts/main.js"></script>
		
<script src="../../..//guide/vendor/prismjs/prism.js"></script>


<script>

	(function(){
		var iframe = document.getElementById('preview-iframe'),
			widthInput = document.getElementById('resize-width');

		iframe.addEventListener('load', function(){
			widthInput.value = parseInt(window.getComputedStyle(iframe).width);
			iframe.height = iframe.contentWindow.document.body.clientHeight + 10;
		}, false);

		window.onresize = function () {
			widthInput.value = parseInt(window.getComputedStyle(iframe).width);
		};

		document.getElementById('desktop').addEventListener("click", function () {
			iframe.width = "1224px";
		}, false);

		document.getElementById('phone').addEventListener("click", function () {
			iframe.width = "320px";
		}, false);

		document.getElementById('tablet').addEventListener("click", function () {
			iframe.width = "1024px";
		}, false);

		iframe.addEventListener('transitionend', function () {
			iframe.height = iframe.contentWindow.document.body.clientHeight + 10;
			widthInput.value = parseInt(window.getComputedStyle(iframe).width);
		}, false);

		document.getElementById('resize-form').addEventListener('submit', function (event) {
			event.preventDefault();
			iframe.width = widthInput.value + 'px';
		}, false);

	}());

</script>








	</div>
</body>
</html>
