<!DOCTYPE html>
<html class="no-js">
<head>
	<title>
		
		Home | car-ux
		
	</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

	<meta name="description" content="Car UX" />
	<meta name="viewport" content="width=device-width initial-scale=1" />

	<link rel="shortcut icon" href="/assets/images/favicons/favicon.ico" type="image/ico" />
	<link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="/assets/images/favicons/favicon-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="/assets/images/favicons/favicon-160x160.png" sizes="160x160">
	<link rel="icon" type="image/png" href="/assets/images/favicons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/assets/images/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="/assets/images/favicons/favicon-32x32.png" sizes="32x32">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="/assets/images/favicons/mstile-144x144.png">

	<script>
		(function (e) {
			e.className = e.className.replace('no-js','js');
		}(document.documentElement));
	</script>
	
	<script>
		/* grunticon Stylesheet Loader | https://github.com/filamentgroup/grunticon | (c) 2012 Scott Jehl, Filament Group, Inc. | MIT license. */
		window.grunticon=function(e){if(e&&3===e.length){var t=window,n=!(!t.document.createElementNS||!t.document.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect||!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1")||window.opera&&-1===navigator.userAgent.indexOf("Chrome")),o=function(o){var r=t.document.createElement("link"),a=t.document.getElementsByTagName("script")[0];r.rel="stylesheet",r.href=e[o&&n?0:o?1:2],a.parentNode.insertBefore(r,a)},r=new t.Image;r.onerror=function(){o(!1)},r.onload=function(){o(1===r.width&&1===r.height)},r.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="}};
		grunticon(["/assets/images/grunticon-output/icons.data.svg.css", "/assets/images/grunticon-output/icons.data.png.css", "/assets/images/grunticon-output/icons.fallback.css"]);
	</script>
	<noscript>
		<link rel="stylesheet" href="/assets/images/grunticon-output/icons.fallback.css" />
	</noscript>
	
	
	<link rel="stylesheet" href="/assets/style/main.css" />
	
</head>
<body>
	<!-- use data attributes to target in JS -->
	<div id="page">
		
			
			
<!-- header -->
<header class="header" data-component="header">
	<div class="header-content">
		<div class="logo-area">
			<a href="/" class="logo icon-car-ux-logo">CAR UX</a>
		</div>
		<nav>
			<ul>
				
				<li class=" active-nav-item ">
					<a href="/modules/views/home/home.html">Home</a>
				</li>
				
				<li class="">
					<a href="/modules/views/reviews/reviews.html">Reviews</a>
				</li>
				
				<li class="">
					<a href="/modules/views/about/about.html">Over<span class="nav-text-large"> Car UX</span></a>
				</li>
				
			</ul>
		</nav>
	</div>
	<div class="header-background-left"></div>
	<div class="header-background-right"></div>
</header>
<!-- /header -->

		

		


<!-- home-intro -->
<div class="home-intro" data-component="home-intro">
	<img class="home-intro-background" src="/assets/images/home/home-intro.png" alt="" />
	<section class="home-intro-content">
		<h1 itemprop="name">
			WAAR GAAT DIT OVER?
		</h1>
		<p itemprop="description">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		</p>
		<a href="/modules/views/about/about.html" class="about-button ui-button-secondary">Meer over Car UX</a>
	</section>
	<div class="triangle"></div>
</div>
<!-- /home-intro -->

<!-- home-main -->
<main class="home-main" data-component="home-main">
	
	

	
<!-- featured -->
<div class="featured" data-component="featured">
	<section class="max-width-centered">
		<h1>NIEUW DIEPTEPUNT</h1>
		<div class="featured-content">
			<img src="/assets/images/home/home-featured.png" alt="Land Rover Evoque Si4 4WD Dynamic"/>

			<div class="featured-content-wrapper">
				<time>02-02-2014</time>
				<h2>
					<a href="/modules/views/bmw-i3-nl/bmw-i3-nl.html">
						Land Rover Evoque
						<span class="subtitle">Si4 4WD Dynamic</span>
					</a>
				</h2>
				<div class="featured-score">
					<span class="icon icon-gauge1"></span>
					2,2
				</div>
				<hr/>
				<ul>
					
					<li><span class="icon icon-plus-yellow"></span>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
					
					<li><span class="icon icon-plus-yellow"></span>Eliti vestibulum consequat lobortis justo vitae.</li>
					
				</ul><!--
				--><ul>
					
					<li><span class="icon icon-min-red"></span>Vollit vestibulum consequat lobortis justo posuere.</li>
					
					<li><span class="icon icon-min-red"></span>Bestibulum consequat mauris eget diam risus.</li>
					
				</ul>
			</div>

		</div>
	</section>
</div>
<!-- /featured -->


	
<!-- shortlist -->
<div class="shortlist" data-component="shortlist">
	<section class="max-width-centered">
		<h1>DE TOP BESTE INTERFACES</h1>
		<!--
		--><a class="shortlist-product" href="/modules/views/bmw-i3-nl/bmw-i3-nl.html">
		<img src="/assets/images/related/nissan-quashqai-tekna-opique.png" alt="Nissan Quashqai Tekna Opique - Si4 4WD Dynamic" />
		<div class="shortlist-title">
			<h2>Nissan Quashqai Tekna Opique<span>Si4 4WD Dynamic</span></h2>
			<span class="shortlist-score">4.5</span>
		</div>
		<div class="shortlist-summary">
			<hr/>
			<ul>
				
				<li><span class="icon icon-plus-yellow"></span>De UI is contrastrijk</li>
				
				<li><span class="icon icon-plus-yellow"></span>Hardware knop</li>
				
			</ul>
			<ul>
				
				<li><span class="icon icon-min-red"></span>De inputmethode</li>
				
				<li><span class="icon icon-min-red"></span>Navigatie viel tegen</li>
				
			</ul>
			<hr/>
			<time>02-02-2014</time>
		</div>
	</a><!--
	--><!--
		--><a class="shortlist-product" href="/modules/views/bmw-i3-nl/bmw-i3-nl.html">
		<img src="/assets/images/related/opel-insignia-business-edition.png" alt="Opel Insignia - Business Edition" />
		<div class="shortlist-title">
			<h2>Opel Insignia<span>Business Edition</span></h2>
			<span class="shortlist-score">2</span>
		</div>
		<div class="shortlist-summary">
			<hr/>
			<ul>
				
				<li><span class="icon icon-plus-yellow"></span>De UI is contrastrijk</li>
				
				<li><span class="icon icon-plus-yellow"></span>Hardware knop</li>
				
			</ul>
			<ul>
				
				<li><span class="icon icon-min-red"></span>De inputmethode</li>
				
				<li><span class="icon icon-min-red"></span>Navigatie viel tegen</li>
				
			</ul>
			<hr/>
			<time>02-02-2014</time>
		</div>
	</a><!--
	--><!--
		--><a class="shortlist-product" href="/modules/views/bmw-i3-nl/bmw-i3-nl.html">
		<img src="/assets/images/related/citroen-c4-picasso.png" alt="Citroën C4 Picasso - Business Edition" />
		<div class="shortlist-title">
			<h2>Citroën C4 Picasso<span>Business Edition</span></h2>
			<span class="shortlist-score">5.5</span>
		</div>
		<div class="shortlist-summary">
			<hr/>
			<ul>
				
				<li><span class="icon icon-plus-yellow"></span>De UI is contrastrijk</li>
				
				<li><span class="icon icon-plus-yellow"></span>Hardware knop</li>
				
			</ul>
			<ul>
				
				<li><span class="icon icon-min-red"></span>De inputmethode</li>
				
				<li><span class="icon icon-min-red"></span>Navigatie viel tegen</li>
				
			</ul>
			<hr/>
			<time>02-02-2014</time>
		</div>
	</a><!--
	-->
	</section>
</div>
<!-- /shortlist -->

</main>
<!-- /home-main -->




		
			<!-- footer -->
<footer class="footer" data-component="footer">
	<div class="max-width-centered">
		<div class="footer-contact">
			<h2>Review aanvragen of opmerkingen?</h2>
			<p>
				We staan open voor review aanvragen of opmerkingen naar aanleiding van de informatie en reviews op deze website.
			</p>
			<a class="ui-button-secondary" href="mailto:postbus@unitid.nl?subject=Car%20UX%20Review%20aanvragen%20/%20opmerkingen">
				Mail ons
			</a>
		</div>
		<div class="footer-content">
			<h1>Car UX is een initiatief van UNITiD interaction Designers</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo veniam, quis
				nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequaorem ipsum
				dolor sit amet, consectetur ad.
			</p>
			<div class="footer-branding">
				<a href="/">
					<span class="icon icon-car-ux-logo-white">CAR UX</span>
				</a>
				<a href="http://www.unitid.nl/">
					<span class="icon icon-unitid-logo">UNITiD</span>
				</a>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->

		


		

		
		<script src="/assets/scripts/vendor.js"></script>
		<script src="/assets/scripts/main.js"></script>
		
	</div>
</body>
</html>
