{%
	set navigation = [
		{
			label: 'Home',
			href: hrefPrefix + '/modules/views/home/home.html',
			active: false
		},
		{
			label: 'Reviews',
			href: hrefPrefix + '/modules/views/reviews/reviews.html',
			active: true
		},
		{
			label: 'Over<span class="nav-text-large"> Car UI</span>',
			href: hrefPrefix + '/modules/views/about/about.html',
			active: false
		}
	]
		%}

	{%
		set content = {
		pageUrl: 'http://www.car-ux.com/citroen-c4-picasso-business-nl/citroen-c4-picasso-business-nl.html',
		backgroundImage: pathToAssets + 'images/citroen-c4-picasso-business-nl/c4-picasso-business-dashboard.png',
		backgroundImageAlt: 'Citroen C4 Picasso dashboard',
		titleImage: pathToAssets + 'images/citroen-c4-picasso-business-nl/c4-picasso-business-small.png',
		titleImageAlt: 'Citroen C4 Picasso small',
		title: 'Citroen C4 Picasso',
		subtitle: 'Business Versie',
		description: 'Citroën is een nieuwe weg ingeslagen wat betreft het design van de auto\’s. Ze ogen minimalistisch en lijken zo uit de toekomst te komen. Zo ook de nieuwe Citroën C4 Picasso; een ruime auto met een groot dashboard. Zou het gebruikerssysteem net zo stijlvol zijn als het uiterlijk van de auto? Om dat te ontdekken zijn wij van UNITiD de weg op gegaan met de Citroën C4 Picasso.',
		testTagline: 'Getest op 5 mei 2014 door Hylke van Maaren, Miranda Schenkel en Niels Mulder',
		widgetScore: {
			score: '6.5',
			scoreDetails: {
				identiteit: {
					score: '6',
					description: 'De uitstraling van Citroën is vooruitstrevend en minimalistisch. Het gebruikerssysteem sluit daar helaas niet op aan. Het ontwerp van de twee losse schermen verschilt, wat soms verwarrend is. De fysieke knoppen zijn weggewerkt rondom het onderste scherm, in het dashboard.',
                    visual: pathToAssets + 'images/citroen-c4-picasso-business-nl/c4-picasso-business-identiteit.png'
				},
				hardware: {
					score: '6.5',
					description: 'De kleuren zijn duidelijk en spreken voor zich. Er wordt vooral veel blauw gebruikt. Het dashboard waarbij je continu naar rechts moet kijken voelt onwennig aan en is vervelend voor de bestuurder. Door het panoramadak komt er te veel zonlicht binnen, waardoor het lastig is om informatie van beide schermen te lezen.',
                    visual: pathToAssets + 'images/citroen-c4-picasso-business-nl/c4-picasso-business-hardware-2.png'

                },
				toptaken: {
					score: '7',
					description: 'De twee schermen in het dashboard komen niet overeen qua stijl. De iconen zijn echter wel doelgericht en eenvoudig. De toptaken worden alleen gestart met de fysieke knoppen, en de subtaken alleen met het touchscreen. De fysieke knoppen zijn niet fraai om te zien, maar nodigen wel uit om op te drukken.',
                    visual: pathToAssets + 'images/citroen-c4-picasso-business-nl/c4-picasso-business-toptaken.png'
				},
				usability: {
					score: '6.5',
					description: 'Er is rekening gehouden met de positie van de bestuurder. Zo zit de bevestigingsknop bijvoorbeeld links in het scherm, dichtbij de bestuurder.',
                    visual: pathToAssets + 'images/citroen-c4-picasso-business-nl/c4-picasso-business-usability.png'
				},
				technologie: {
					score: '6',
					description: 'De navigatiekaart is niet aantrekkelijk om te zien.',
                    visual: pathToAssets + 'images/citroen-c4-picasso-business-nl/c4-picasso-business-technologie.png'
				}
			},
			summary: {
				good: [
					'Knoppen mooi verwerkt in dashboard',
					'Eenvoudige iconen'
				],
				bad: [
					'Verschillende schermdesigns',
					'Navigatiekaart niet mooi'
				]
			}
		},
		socialSharing: {
			twitter: 'Twitter - share text',
			facebook: 'Facebook - share text'
		}
	}
		%}

	{%
		set summaryContent = {
		title: 'Dashboardschermen passen niet bij elkaar',
		text: 'De nieuwe C4 Picasso heeft twee schermen in het dashboard verwerkt. De schermen zitten vlak onder elkaar en worden gescheiden door de ventilatieschachten. De schermen komen jammer genoeg niet overeen qua stijl. Hierdoor vormen ze geen eenheid, en dat valt op. </br></br>Slim: Er is rekening gehouden met positie van de bestuurder. Zo zit de bevestigingsknop bijvoorbeeld links in het scherm.',
		visual: pathToAssets + 'images/citroen-c4-picasso-business-nl/c4-picasso-business-summary.png'
	}
		%}

	{%
		set quote = 'Er is rekening gehouden met input van de bestuurder. Zo zit de bevestig knop bijvoorbeeld links in het scherm.'
		%}

	{%
		set highlightContent = {
		title: 'Dashboard',
		text: 'Het dashboard oogt vooruitstrevend. Toch voelt hij wat onwennig aan tijdens het gebruiken omdat je automatisch boven je stuur wilt kijken naar je dashboard. Bij dit dashboard moet je als bestuurder continu naar rechts kijken als je bijvoorbeeld je snelheid in de gaten wilt houden. ',
		visual: pathToAssets + 'images/citroen-c4-picasso-business-nl/c4-picasso-business-highlight-2.png'
	}
		%}

	{%
		set relatedContent = [
		{
			title: 'Nissan Qashqai',
			subTitle: 'Tekna 1.5 dCi',
			score: '8',
			visual: pathToAssets + 'images/related/nissan-qashqai.png',
			url: hrefPrefix + '/modules/views/nissan-qashqai-tekna-1-5-dci-nl/nissan-qashqai-tekna-1-5-dci-nl.html'
		},
		{
			title: 'Opel Insignia',
			subTitle: 'Sports Tourer Business+',
			score: '5',
			visual: pathToAssets + 'images/related/opel-insignia-business-edition.png',
			url: hrefPrefix + '/modules/views/opel-insignia-tourer-bplus-2-0-d-nl/opel-insignia-tourer-bplus-2-0-d-nl.html'
		},
		{
			title: 'BMW i3',
			subTitle: 'Full Electric',
			score: '8.5',
			visual: pathToAssets + 'images/related/bmw-i3.png',
			url: hrefPrefix + '/modules/views/bmw-i3-nl/bmw-i3-nl.html'
		}
	]
%}

{% extends "views/_base-view/base-view.html" %}
{% import  "components/detail-intro/_detail-intro.html" as intro %}
{% import  "components/related/_related.html" as related %}

{% block content %}
	{{ intro.detailIntro(content) }}

	{% include "components/detail-main/_detail-main.html" %}

	{% include "components/comments/_comments.html" %}

	{{ related.related(relatedContent) }}

{% endblock %}