{%
	set navigation = [
		{
			label: 'Home',
			href: hrefPrefix + '/modules/views/home/home.html',
			active: false
		},
		{
			label: 'Reviews',
			href: hrefPrefix + '/modules/views/reviews/reviews.html',
			active: true
		},
		{
			label: 'Over<span class="nav-text-large"> Car UI</span>',
			href: hrefPrefix + '/modules/views/about/about.html',
			active: false
		}
	]
		%}

	{%
		set content = {
		pageUrl: 'http://www.car-ux.com/citroen-c4-picasso-business-nl/citroen-c4-picasso-business-nl.html',
		backgroundImage: pathToAssets + 'images/citroen-c4-picasso-business-nl/c4-picasso-business-dashboard.png',
		backgroundImageAlt: 'Citroen C4 Picasso dashboard',
		titleImage: pathToAssets + 'images/citroen-c4-picasso-business-nl/c4-picasso-business-small.png',
		titleImageAlt: 'Citroen C4 Picasso small',
		title: 'Citroen C4 Picasso',
		subtitle: 'Business Versie',
		description: 'Citroën is een nieuwe weg ingeslagen wat betreft het design van
de auto’s. Ze ogen erg minimalistisch en lijken zo uit de
toekomst te komen. Zo ook de nieuwe Citroën C4 Picasso; een
enorme ruime auto met een gigantisch dashboard. Zou het
multimedia systeem net zo stijlvol zijn als het uiterlijk van de
auto? Om dat te ontdekken is UNITiD de weg op gegaan met de
Citroën C4 Picasso Business.',
		testTagline: 'Getest op 5 mei 2014 door Hylke van Maaren, Miranda Schenkel en Niels Mulder',
		widgetScore: {
			score: '65',
			scoreDetails: {
				identiteit: {
					score: '60',
					description: 'De uitstraling van Citroën is vooruitstrevend en minimalistisch.
Het ontwerp van de auto straalt dat goed uit maar de interface
blijft ver achter. De kleuren zijn duidelijk en spreken voor
zich. Er wordt vooral veel blauw gebruikt. De ontwerp stijlen
van de twee losse schermen verschillen soms dusdanig dat het wel
verwarrend is. Een aantal thema\'s lijken futuristisch maar
tegelijkertijd ook erg ouderwets. Hier mag wel wat meer liefde ingestopt worden.',
                    visual: pathToAssets + 'images/citroen-c4-picasso-business-nl/c4-picasso-business-identiteit.png'
				},
				hardware: {
					score: '65',
					description: 'Het dashboard waarbij je continu naar rechts moet kijken voelt
onwennig aan en is vervelend voor sommige bestuurders. Door het
panoramadak komt er veel zonlicht binnen waardoor het lastig is
om informatie van beide schermen te lezen, ondanks dat het
scherm diep in het dashboard verwerkt zit. De knoppen lijken
over te vloeien in het touchscreen en daardoor voel je niet goed
met je vinger welke knop je aanraakt. Je krijgt geen feedback en
tijdens het rijden is dat vervelend. Dat is een groot nadeel
wanneer je alle knoppen gaat vervangen voor een touchscreen.',
                    visual: pathToAssets + 'images/citroen-c4-picasso-business-nl/c4-picasso-business-hardware-2.png'

                },
				toptaken: {
					score: '70',
					description: 'De toptaken worden alleen gestart met de fysieke knoppen, en de
subtaken alleen met het touchscreen. De fysieke knoppen voelen
niet altijd aan als knoppen. De pictogrammen erop zijn
doelgericht en eenvoudig. In de interface zitten de
belangrijkste knoppen links van het scherm en daardoor kan de
bestuurder deze eenvoudig aanraken.',
                    visual: pathToAssets + 'images/citroen-c4-picasso-business-nl/c4-picasso-business-toptaken.png'
				},
				usability: {
					score: '65',
					description: 'Het plannen van een route is niet ingewikkeld maar soms is er
weinig hiërarchie in de interface. Tijdens het rijden is het
overzicht dan lastig te bewaren. De andere schermen zijn niet
erg ingewikkeld maar erg geoptimaliseerd is het ook niet. We
zijn niet onder de indruk. Bovendien werken de menu\'s erg traag,
iets wat de gebruiksvriendelijkheid niet ten goede komt. Het
instellen van de verwarming gebeurt normaal met fysieke knoppen,
in de C4 Picasso gebruik je het touchscreen. Het is niet zo
eenvoudig als dat je gewend bent want het gaat via een menu.',
                    visual: pathToAssets + 'images/citroen-c4-picasso-business-nl/c4-picasso-business-usability.png'
				},
				technologie: {
					score: '60',
					description: 'Er zitten wat leuke technologische snufjes op de Citroën C4
Picasso Business, zoals de parkeerhulp en de Vision 360 waarbij
je het bovenaanzicht van de auto krijgt. Het laat een live beeld
zien waar de auto rijdt. Ook kun je kiezen om de verschillende
camera\'s rondom de auto te bekijken. Ook kun je via een USB
aansluiting een eigen achtergrond op het display inladen.',
                    visual: pathToAssets + 'images/citroen-c4-picasso-business-nl/c4-picasso-business-technologie.png'
				}
			},
			summary: {
				good: [
					'Knoppen netjes verwerkt in het dashboard',
					'Eenvoudige pictogrammen'
				],
				bad: [
					'Verschillende ontwerpen voor de twee displays',
					'Navigatiekaart oogt ouderwets'
				]
			}
		},
		socialSharing: {
			twitter: 'Twitter - share text',
			facebook: 'Facebook - share text'
		}
	}
		%}

	{%
		set summaryContent = {
		title: 'Een zee aan ruimte',
		text: 'Bij het instappen van de Citroën valt direct de ruimte op. De
ramen zijn overweldigend, het dashboard is erg minimalistisch en
de twee grote schermen zijn in het midden van de auto
gepositioneerd, slim verwerkt in het omgekrulde dashboard. Die
locatie is interessante keuze maar niet altijd even prettig voor
de bestuurder die recht vooruit kijkt of snel afgeleid is. Voor
ons was het even wennen.</br></br> De nieuwe C4 Picasso heeft twee digitale schermen waarvan er
maar één te bedienen is. De fysieke knoppen lijken te verdwijnen
en plaats te maken voor het touchscreen. De knoppen zijn zo
gemaakt dat het lijkt alsof ze onderdeel zijn van het scherm; je
voelt ze niet meer met je vingers zitten. Het ontwerp van beide
schermen is redelijk op elkaar gestemd maar het komt in veel
gevallen wat rommelig over. Je kunt uit meerdere thema\'s kiezen waarbij de focus en uitstraling van de interface veranderd. De
één nog futuristischer dan de ander. Eerlijk is eerlijk, het
past bij de uitstraling van Citroën.</br></br>Slim: Er is rekening gehouden met positie van de bestuurder. Zo
zit de bevestigingsknop bijvoorbeeld links in het scherm, binnen
handbereik.',
		visual: pathToAssets + 'images/citroen-c4-picasso-business-nl/c4-picasso-business-summary.png'
	}
		%}

	{%
		set quote = 'Slim: Er is rekening gehouden met positie van de bestuurder. Zo
zit de bevestigingsknop bijvoorbeeld links in het scherm, binnen
handbereik.'
		%}

	{%
		set highlightContent = {
		title: 'Digitale schermen',
		text: 'Het gehele dashboard oogt vooruitstrevend, het idee van een
panorama komt goed over. Toch voelt het wat onwennig aan tijdens
het gebruik omdat je automatisch boven je stuur wilt kijken voor
informatie over je snelheid en verbruik. Wanneer je snel bent
afgeleid is deze wagen een nachtmerrie. Bij dit dashboard moet
je als bestuurder continu naar rechts kijken wanneer je
bijvoorbeeld je snelheid in de gaten wilt houden.',
		visual: pathToAssets + 'images/citroen-c4-picasso-business-nl/c4-picasso-business-highlight-2.png'
	}
		%}

	{%
		set relatedContent = [
		{
			title: 'Nissan Qashqai',
			subTitle: 'Tekna 1.5 dCi',
			score: '8',
			visual: pathToAssets + 'images/related/nissan-qashqai.png',
			url: hrefPrefix + '/modules/views/nissan-qashqai-tekna-1-5-dci-nl/nissan-qashqai-tekna-1-5-dci-nl.html'
		},
		{
			title: 'Opel Insignia',
			subTitle: 'Sports Tourer Business+',
			score: '5',
			visual: pathToAssets + 'images/related/opel-insignia-business-edition.png',
			url: hrefPrefix + '/modules/views/opel-insignia-tourer-bplus-2-0-d-nl/opel-insignia-tourer-bplus-2-0-d-nl.html'
		},
		{
			title: 'BMW i3',
			subTitle: 'Full Electric',
			score: '8.5',
			visual: pathToAssets + 'images/related/bmw-i3.png',
			url: hrefPrefix + '/modules/views/bmw-i3-nl/bmw-i3-nl.html'
		}
	]
%}

{% extends "views/_base-view/base-view.html" %}
{% import  "components/detail-intro/_detail-intro.html" as intro %}
{% import  "components/related/_related.html" as related %}

{% block content %}
	{{ intro.detailIntro(content) }}

	{% include "components/detail-main/_detail-main.html" %}

	{% include "components/comments/_comments.html" %}

	{{ related.related(relatedContent) }}

{% endblock %}