{%
	set navigation = [
		{
			label: 'Home',
			href: hrefPrefix + '/modules/views/home/home.html',
			active: false
		},
		{
			label: 'Reviews',
			href: hrefPrefix + '/modules/views/reviews/reviews.html',
			active: true
		},
		{
			label: 'About<span class="nav-text-large">&nbsp;Car UI</span>',
			href: hrefPrefix + '/modules/views/about/about.html',
			active: false
		}
	]
		%}

	{%
		set content = {
		pageUrl: 'http://www.carui.info/citroen-c4-picasso-business-nl/',
		backgroundImage: pathToAssets + 'images/citroen-c4-picasso-business-nl/c4-picasso-business-dashboard.jpg',
		backgroundImageAlt: 'Citroen C4 Picasso dashboard',
		titleImage: pathToAssets + 'images/citroen-c4-picasso-business-nl/c4-picasso-business-small.jpg',
		titleImageAlt: 'Citroen C4 Picasso small',
		title: 'Citroen C4 Picasso',
		subtitle: 'Business Versie',
		description: 'Citroën has taken a new turn in their car design. With their modern lines they appear to come straight from the future. The new C4 Picasso is no different, A spacious MPV with a huge dashboard. We wonder if the multimedia system is as stylish and well designed as the car\’s bodywork. To find out, UNITiD took to the road with the new C4 Picasso Business edition.',
		testTagline: 'Tested on 5 mei 2014 by Hylke van Maaren, Miranda Schenkel eand Niels Mulder',
		widgetScore: {
			score: '65',
			scoreDetails: {
				identity: {
					score: '60',
					description: 'The design of the Citroën is innovative and minimalistic, unfortunately the interface is lagging behind in this area. Although the colours are clear and apparent, the design styles of the different screens differ so much at times that it starts to get confusing. Some of the themes look futuristic but it just feels like they are trying too hard. It could do with a little more TLC.',
                    visual: pathToAssets + 'images/citroen-c4-picasso-business-nl/c4-picasso-business-identiteit.jpg'
				},
				hardware: {
					score: '65',
					description: 'The dashboard that requires constant looking to the right, feels uncomfortable for some drivers. The huge glass roof lets in a lot of sunlight which makes the screens hard to read at times even though the screens are mounted deep in the dashboard. The flush mounted buttons do not give you the feedback you need to sense which button you are pressing while driving. This is one of the major drawbacks of replacing real buttons by touch screens.',
                    visual: pathToAssets + 'images/citroen-c4-picasso-business-nl/c4-picasso-business-hardware-2.jpg'

                },
				'top-tasks': {
					score: '70',
					description: 'These are only initiated by the actual buttons, the sub tasks only by the touch screen. The actual buttons don\'t always feel like buttons. The icons on the buttons however, are clear and apparent. The most important \'on screen\' buttons are located on the left side of the screen, this makes them easy to reach for the driver.',
                    visual: pathToAssets + 'images/citroen-c4-picasso-business-nl/c4-picasso-business-toptaken.jpg'
				},
				usability: {
					score: '65',
					description: 'The planning of a route is not complicated but lacks some hierarchy in the interface. It is especially hard to keep an overview while you are driving. The other screens are not exactly complicated but they are far from optimal. We are not impressed; the menus are slow, the heating is operated by on-screen buttons. All in all, it just isn\’t convenient to use because it works with on screen menu\’s as opposed to what you might be used to.',
                    visual: pathToAssets + 'images/citroen-c4-picasso-business-nl/c4-picasso-business-usability.jpg'
				},
				technology: {
					score: '60',
					description: 'There are some nice technological features to be found on the C4 however, Like park assist and \‘Vision 360\’ which shows you a top view of the car on screen. It shows a live image of where the car is. Also, you can also choose to view the different camera angles the car has to offer. Another nice feature is the possibility to upload you own display background via a USB stick.',
					visual: pathToAssets + 'images/citroen-c4-picasso-business-nl/c4-picasso-business-technologie.jpg'
				}
			},
			summary: {
				good: [
					'Buttons are neatly mounted in the dashboard',
					'Simple (Clear / Clean) icons'
				],
				bad: [
					'Different designs for two different displays',
					'Navigation map looks old fashioned '
				]
			}
		},
		socialSharing: {
			twitter: 'Twitter - share text',
			facebook: 'Facebook - share text'
		}
	}
		%}

	{%
		set summaryContent = {
		title: 'An ocean of space',
		text: 'The first thing you notice when you enter the Citroën is the space. The windows are just overwhelming. The two screens are positioned in the center of the car, neatly mounted into the curves of the dashboard. The location of the screens is \‘interesting\’ but not always the most convenient for the driver looking straight ahead, nor someone who is easily distracted. We had a hard time getting used to it / It took us a while to get used to.
</br></br> The new C4 Picasso does have two screens, but only one of them can be operated. The actual buttons seem to vanish and make room for the touchscreen. It looks like they are made to be a part of the screen. You do not actually feel them with your fingers. There is no tactile feedback from the buttons. The designs on the two screens appear poorly matched and feel a somewhat cluttered on many occasions. You can choose between different \‘themes\’ in which the focus and the look & feel of the interface change per theme. One even more futuristic than the other. Truth be told; it fits the personality of the Citroën.
</br></br>Smart: Citroën hhas taken the position of the driver into account. The confirmation button is conveniently located in the left part of the screen, well within reach of the driver.
',
		visual: pathToAssets + 'images/citroen-c4-picasso-business-nl/c4-picasso-business-summary.jpg'
	}
		%}

	{%
		set quote = 'Smart: Citroën has taken the position of the driver into account. The confirmation button is conveniently located in the left part of the screen, well within reach of the driver'
		%}

	{%
		set highlightContent = {
		title: 'Digital screens',
		text: 'The entire dashboard feels innovative, the idea of the panoramic view comes across well. But it still feels a little uncomfortable because one is persistently looking for speed and mileage information just above the steering wheel. This car is a nightmare for drivers that are easily distracted because you constantly have to take your eyes of the road for if you want to know how fast you are driving.',
		visual: pathToAssets + 'images/citroen-c4-picasso-business-nl/c4-picasso-business-highlight-2.jpg'
	}
		%}

	{%
		set relatedContent = [
		{
			title: 'Nissan Qashqai',
			subTitle: 'Tekna 1.5 dCi',
			score: '80',
			visual: pathToAssets + 'images/related/nissan-qashqai.jpg',
			url: hrefPrefix + '/modules/views/nissan-qashqai-tekna-1-5-dci-nl/nissan-qashqai-tekna-1-5-dci-nl.html'
		},
		{
			title: 'Opel Insignia',
			subTitle: 'Sports Tourer Business+',
			score: '50',
			visual: pathToAssets + 'images/related/opel-insignia-business-edition.jpg',
			url: hrefPrefix + '/modules/views/opel-insignia-tourer-bplus-2-0-d-nl/opel-insignia-tourer-bplus-2-0-d-nl.html'
		},
		{
			title: 'BMW i3',
			subTitle: 'Full Electric',
			score: '85',
			visual: pathToAssets + 'images/related/bmw-i3.jpg',
			url: hrefPrefix + '/modules/views/bmw-i3-nl/bmw-i3-nl.html'
		}
	]
%}

{% extends "views/_base-view/base-view.html" %}
{% import  "components/detail-intro/_detail-intro.html" as intro %}
{% import  "components/related/_related.html" as related %}

{% block content %}
	{{ intro.detailIntro(content) }}

	{% include "components/detail-main/_detail-main.html" %}

	{% include "components/comments/_comments.html" %}

	{{ related.related(relatedContent) }}

{% endblock %}