<!-- intro -->
<div class="intro" data-component="intro">
    <img class="intro-background" src="http://placekitten.com/960/500" alt="BMW i3 dashboard" />
    <section class="intro-content max-width-centered">
        <article class="intro-text">
            <header>
                <img src="/assets/images/bmw-i3/bmw-i3-small.png" alt="BMW i3 small" />
                <h1>
					BMW i3
					<span class="subtitle">Business model 1.5 TDI</span>
				</h1>
                <p>Introtekst over de nieuwe BMW i3. Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                    ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequa orem psum dolor sit.</p>
            </header>
        </article>
        <!--
		-->
        <div class="widget-score"></div>
    </section>
</div>
<!-- /intro -->