{% macro bulletpoints(content) %}
<!-- bulletpoints -->
<div class="bulletpoints" data-component="bulletpoints">
	<ul>
		{% for text in content %}
		<li>
			<span class="icon icon-plus"></span>
			{{ text }}
		</li>
		{% endfor %}
	</ul>
</div>
<!-- /bulletpoints -->
{% endmacro %}

{%
	set content = [
		'Hanteer een consistent en duidelijk mentaal model voor navigatie door je hele applicatie',
		'Maak gebruik van duidelijk herkenbare knoppen, lijsten en andere interactie elementen',
		'Ken je gebruiker en ken de toptaken. Voor wie ontwerp je het en wat willen ze?',
		'Creëer een gedachte achter het gebruik van kleuren en pas dit consistent en logisch toe',
		'Houdt rekening met contrast en leesafstand',
		'Geef duidelijke visuele feedback na een actie',
		'Het material design van Google is een resultaat van de evolutie in digitaal UI design. Hier kunnen slimme oplossingen uit gebruikt worden.',
		'Pas ‘rijkheid’ (extra design uitwerking toepassen op zaken die dat vanuit de functie niet direct nodig hebben) en extra beleving slim toe.'
	]
%}
{{ bulletpoints(content) }}