<!DOCTYPE html>
<html class="no-js">
<head>
	<title>
		
		Citroen-c4-picasso-business-nl | Car UI
		
	</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

	<meta name="description" content="Car UX" />
	<meta name="viewport" content="width=device-width initial-scale=1" />

	<link rel="shortcut icon" href="/assets/images/favicons/favicon.ico" type="image/ico" />
	<link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="/assets/images/favicons/favicon-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="/assets/images/favicons/favicon-160x160.png" sizes="160x160">
	<link rel="icon" type="image/png" href="/assets/images/favicons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/assets/images/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="/assets/images/favicons/favicon-32x32.png" sizes="32x32">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="/assets/images/favicons/mstile-144x144.png">

	<script>
		(function (e) {
			e.className = e.className.replace('no-js','js');
		}(document.documentElement));
	</script>
	
	<script>
		/* grunticon Stylesheet Loader | https://github.com/filamentgroup/grunticon | (c) 2012 Scott Jehl, Filament Group, Inc. | MIT license. */
		window.grunticon=function(e){if(e&&3===e.length){var t=window,n=!(!t.document.createElementNS||!t.document.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect||!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1")||window.opera&&-1===navigator.userAgent.indexOf("Chrome")),o=function(o){var r=t.document.createElement("link"),a=t.document.getElementsByTagName("script")[0];r.rel="stylesheet",r.href=e[o&&n?0:o?1:2],a.parentNode.insertBefore(r,a)},r=new t.Image;r.onerror=function(){o(!1)},r.onload=function(){o(1===r.width&&1===r.height)},r.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="}};
		grunticon(["/assets/images/grunticon-output/icons.data.svg.css", "/assets/images/grunticon-output/icons.data.png.css", "/assets/images/grunticon-output/icons.fallback.css"]);
	</script>
	<noscript>
		<link rel="stylesheet" href="/assets/images/grunticon-output/icons.fallback.css" />
	</noscript>
	
	
	<link rel="stylesheet" href="/assets/style/main.css" />
	
</head>
<body>
	<!-- use data attributes to target in JS -->
	<div id="page">
		
			
			
<!-- header -->
<header class="header" data-component="header">
	<div class="header-content">
		<div class="logo-area">
			<a href="/" class="logo icon-car-ux-logo">CAR UX</a>
		</div>
		<nav>
			<ul>
				
				<li class="">
					<a href="/modules/views/home/home.html">Home</a>
				</li>
				
				<li class=" active-nav-item ">
					<a href="/modules/views/reviews/reviews.html">Reviews</a>
				</li>
				
				<li class="">
					<a href="/modules/views/about/about.html">Over<span class="nav-text-large"> Car UI</span></a>
				</li>
				
			</ul>
		</nav>
	</div>
	<div class="header-background-left"></div>
	<div class="header-background-right"></div>
</header>
<!-- /header -->

		

		
	

<!-- intro -->
<div class="detail-intro" data-component="detail-intro">
	<img itemprop="image" class="intro-background" src="/assets/images/citroen-c4-picasso-business-nl/c4-picasso-business-dashboard.png" alt="Citroen C4 Picasso dashboard" />
	<section class="intro-content max-width-centered" data-intro-section>
		<article class="intro-text" data-intro-text>
			<header>
				<img class="intro-title-image" src="/assets/images/citroen-c4-picasso-business-nl/c4-picasso-business-small.png" alt="Citroen C4 Picasso small" />
				<h1 itemprop="name">
					Citroen C4 Picasso
					<span class="subtitle">Business Versie</span>
				</h1>
			</header>
			<p itemprop="description">
				Citroën heeft sinds kort een nieuwe weg wat betreft het design verkent. De uitstraling van de auto's worden minimalistischer en lijken zo uit de toekomst te komen. Zo ook de nieuwe Citroën C4 Picasso. Een ruime auto met een groot dashboard. Zou de UI ook net zo designvol zijn als de uitstraling van de auto? Om daar achter te komen zijn wij van UNITiD op pad gegaan met de Citroën C4 Picasso. 
			</p>
		</article><!--
		--><div class="widget-score-block">
			
<!-- widget-score -->
<div class="widget-score" data-component="widget-score">
	<div class="score-overview" data-widget-score-overview>
		<header>
			<span class="icon icon-gauge3"></span>
			<span class="score">6.5</span>
			<span class="icon icon-arrow-down" data-score-header-arrow></span>
		</header>
		<ul>
			
			<li>
				<a href="#identiteit" tabindex="-1">
					<span class="label">Identiteit</span>
					<span class="value">6</span>
				</a>
			</li>
			
			<li>
				<a href="#hardware" tabindex="-1">
					<span class="label">Hardware</span>
					<span class="value">6.5</span>
				</a>
			</li>
			
			<li>
				<a href="#toptaken" tabindex="-1">
					<span class="label">Toptaken</span>
					<span class="value">7</span>
				</a>
			</li>
			
			<li>
				<a href="#usability" tabindex="-1">
					<span class="label">Usability</span>
					<span class="value">6.5</span>
				</a>
			</li>
			
			<li>
				<a href="#technologie" tabindex="-1">
					<span class="label">Technologie</span>
					<span class="value">6</span>
				</a>
			</li>
			
		</ul>
	</div>
	<div class="score-summary">
		<ul>
			
				<li><span class="icon icon-plus"></span>Knoppen verwerkt in dashboard</li>
			
				<li><span class="icon icon-plus"></span>Eenvoudige iconen</li>
			
		</ul>
		<ul>
			
				<li><span class="icon icon-min-red"></span>Verschillende schermdesigns</li>
			
				<li><span class="icon icon-min-red"></span>Navigatiekaart niet mooi</li>
			
		</ul>
	</div>
</div>
<!-- /widget-score -->

		</div><!--
		--><aside class="social-buttons" data-social-buttons>
			<p>Deze test delen via</p>
			<a target="_blank" href="http://www.facebook.com/sharer.php?s=100&amp;p[url]=http%3A%2F%2Fwww.car-ux.com%2Fcitroen-c4-picasso-business-nl%2Fcitroen-c4-picasso-business-nl.html&amp;p[title]=Car%20UX%20-%20Citroen C4 Picasso%20Business Versie&amp;p[summary]=Facebook%20-%20share%20text" class="social-button icon-facebook" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=368,width=600');return false;">Facebook</a>
			<a target="_blank" href="http://twitter.com/share?text=Twitter%20-%20share%20text&amp;url=http%3A%2F%2Fwww.car-ux.com%2Fcitroen-c4-picasso-business-nl%2Fcitroen-c4-picasso-business-nl.html" class="social-button icon-twitter" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=438,width=600');return false;">Twitter</a>
			<a target="_blank" class="social-button icon-gplus" href="https://plus.google.com/share?url=http://www.car-ux.com/citroen-c4-picasso-business-nl/citroen-c4-picasso-business-nl.html" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">Google Plus</a>
		</aside>
	</section>
</div>
<!-- /intro -->


	<!-- detail-main -->
<main class="detail-main" data-component="detail-main">
	<span data-placeholder>&nbsp;</span>

	
	
<!-- summary -->
<div class="summary" data-component="summary">
	<section class="max-width-centered">
		<h1>DE TEST</h1>
		<div class="summary-content">
			<div class="summary-text">
				<h2>Dashboardschermen vormen geen eenheid</h2>
				<p>De nieuwe C4 Picasso heeft twee schermen in het dashboard verwerkt. De schermen zitten vlak onder elkaar en worden gescheiden door de ventilatieschachten. De schermen komen echter niet overeen qua stijl, wat de eenheid in de schermen weghaalt.</p>
			</div>
			<img src="/assets/images/citroen-c4-picasso-business-nl/c4-picasso-business-summary.png" alt="Dashboardschermen vormen geen eenheid"/>
		</div>
	</section>
</div>
<!-- /summary -->


	
	
<!-- quote -->
<div class="quote" data-component="quote">
	<section class="max-width-centered">
		<blockquote>Er is rekening gehouden met input van de bestuurder. Zo zit de bevestig knop bijvoorbeeld links in het scherm.</blockquote>
	</section>
</div>
<!-- /quote -->


	
	
<!-- highlight -->
<div class="highlight" data-component="highlight">
	<section class="max-width-centered">
		<h1>WAT ONS OPVIEL</h1>
		<div class="highlight-content">
			<img src="/assets/images/citroen-c4-picasso-business-nl/c4-picasso-business-highlight-2.png" alt="Dashboard"/>
			<div class="highlight-text">
				<h2>Dashboard</h2>
				<p>Het gecentreerde dashboard oogt vooruitstrevend. Het dashboard voelt echter onwennig aan, omdat je automatisch boven je stuur kijkt naar je dashboard. Het is vervelend voor de bestuurder, omdat hij continu naar rechts moet kijken voor de informatie op het dashboard.</p>
			</div>
		</div>
	</section>
</div>
<!-- /highlight -->


	
	
<!-- score -->
<section class="score" data-component="score">
	<div class="score-heading">
		<h1>DE SCORES</h1>
		<span class="testing-date-person">Getest op 5 mei 2014 door Hylke van Maaren, Miranda Schenkel en Niels Mulder</span>
	</div>
	
	<div class="score-item is-expanded"
		 data-expandible
		 data-expandible-open-on-focus="true"><!--data-expandible-close-on-blur="true"-->
		<a href="#0"
		   name="identiteit"
		   class="score-title"
		   data-expandible-handle="toggle">
			<h2>Identiteit</h2>
			<span class="arrow-box"><span class="score-read-more">Lees meer</span><span data-icon-arrow class="icon  icon-arrow-up "></span></span>
		</a>
		<div class="score-content has-visual" data-expandible-content>
			<div class="score-box-wrapper">
				<div class="score-box">
					<span class="score-number">6</span>
					<span class="score-icon icon icon-gauge3"></span>
				</div>
			</div><!--
			--><p>
				De uitstraling is vooruitstrevend en minimalistisch. De UI sluit daar niet bij aan. Het design van de twee losse schermen verschilt, wat soms verwarrend is. De fysieke knoppen zijn weggewerkt rondom het onderste scherm, in het dashboard.
			</p><!--
			--><img class="score-content-visual" src="/assets/images/citroen-c4-picasso-business-nl/c4-picasso-business-identiteit.png" alt="Identiteit" />
		</div>
	</div>
	
	<div class="score-item "
		 data-expandible
		 data-expandible-open-on-focus="true"><!--data-expandible-close-on-blur="true"-->
		<a href="#0"
		   name="hardware"
		   class="score-title"
		   data-expandible-handle="toggle">
			<h2>Hardware</h2>
			<span class="arrow-box"><span class="score-read-more">Lees meer</span><span data-icon-arrow class="icon  icon-arrow-down "></span></span>
		</a>
		<div class="score-content has-visual" data-expandible-content>
			<div class="score-box-wrapper">
				<div class="score-box">
					<span class="score-number">6.5</span>
					<span class="score-icon icon icon-gauge3"></span>
				</div>
			</div><!--
			--><p>
				De kleuren spreken voor zich. Er is veel blauw gebruikt. Het gecentreerde dashboard voelt onwennig aan en is vervelend voor de bestuurder. Door het panoramadak komt er te veel zonlicht binnen.
			</p><!--
			--><img class="score-content-visual" src="/assets/images/citroen-c4-picasso-business-nl/c4-picasso-business-hardware-2.png" alt="Hardware" />
		</div>
	</div>
	
	<div class="score-item "
		 data-expandible
		 data-expandible-open-on-focus="true"><!--data-expandible-close-on-blur="true"-->
		<a href="#0"
		   name="toptaken"
		   class="score-title"
		   data-expandible-handle="toggle">
			<h2>Toptaken</h2>
			<span class="arrow-box"><span class="score-read-more">Lees meer</span><span data-icon-arrow class="icon  icon-arrow-down "></span></span>
		</a>
		<div class="score-content has-visual" data-expandible-content>
			<div class="score-box-wrapper">
				<div class="score-box">
					<span class="score-number">7</span>
					<span class="score-icon icon icon-gauge4"></span>
				</div>
			</div><!--
			--><p>
				De twee schermen in het dashboard komen niet overeen qua stijl. De iconen zijn echter wel doelgericht en eenvoudig. De toptaken worden alleen gestart met de fysieke knoppen, de subtaken op het touchscreen. De fysieke knoppen zijn niet mooi, maar nodigen wel uit om de drukken. 
			</p><!--
			--><img class="score-content-visual" src="/assets/images/citroen-c4-picasso-business-nl/c4-picasso-business-toptaken.png" alt="Toptaken" />
		</div>
	</div>
	
	<div class="score-item "
		 data-expandible
		 data-expandible-open-on-focus="true"><!--data-expandible-close-on-blur="true"-->
		<a href="#0"
		   name="usability"
		   class="score-title"
		   data-expandible-handle="toggle">
			<h2>Usability</h2>
			<span class="arrow-box"><span class="score-read-more">Lees meer</span><span data-icon-arrow class="icon  icon-arrow-down "></span></span>
		</a>
		<div class="score-content has-visual" data-expandible-content>
			<div class="score-box-wrapper">
				<div class="score-box">
					<span class="score-number">6.5</span>
					<span class="score-icon icon icon-gauge3"></span>
				</div>
			</div><!--
			--><p>
				Er is rekening gehouden met de input van de bestuurder. Zo zit de bevestigingsknop bijvoorbeeld links in het scherm, dicht bij de bestuuder. 
			</p><!--
			--><img class="score-content-visual" src="/assets/images/citroen-c4-picasso-business-nl/c4-picasso-business-usability.png" alt="Usability" />
		</div>
	</div>
	
	<div class="score-item "
		 data-expandible
		 data-expandible-open-on-focus="true"><!--data-expandible-close-on-blur="true"-->
		<a href="#0"
		   name="technologie"
		   class="score-title"
		   data-expandible-handle="toggle">
			<h2>Technologie</h2>
			<span class="arrow-box"><span class="score-read-more">Lees meer</span><span data-icon-arrow class="icon  icon-arrow-down "></span></span>
		</a>
		<div class="score-content has-visual" data-expandible-content>
			<div class="score-box-wrapper">
				<div class="score-box">
					<span class="score-number">6</span>
					<span class="score-icon icon icon-gauge3"></span>
				</div>
			</div><!--
			--><p>
				De navigatiekaart is niet erg mooi.
			</p><!--
			--><img class="score-content-visual" src="/assets/images/citroen-c4-picasso-business-nl/c4-picasso-business-technologie.png" alt="Technologie" />
		</div>
	</div>
	
</section>
<!-- /score -->

</main>
<!-- /detail-main -->


	<!-- comments -->
<div class="comments" data-component="comments">
	<section class="comments-section max-width-centered">
		<h1>DE REACTIES</h1>

		<div class="disqus">
			<div id="disqus_thread"></div>
			<script type="text/javascript">
				/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
				var disqus_shortname = 'carux';

				/* * * DON'T EDIT BELOW THIS LINE * * */
				(function() {
					var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
		</div>
	</section>
</div>
<!-- /comments -->


	
<!-- related -->
<div class="related" data-component="related">
	<section class="max-width-centered">
		<h1>GERELATEERDE TESTS</h1>
		<!--
		--><a class="related-product" href="/modules/views/nissan-qashqai-tekna-1-5-dci-nl/nissan-qashqai-tekna-1-5-dci-nl.html">
			<img src="/assets/images/related/nissan-qashqai.png" alt="Nissan Qashqai - Tekna 1.5 dCi" />
			<div class="related-title">
				<h2>Nissan Qashqai<span>Tekna 1.5 dCi</span></h2>
				<span class="related-score">8</span>
			</div>
		</a><!--
		--><!--
		--><a class="related-product" href="/modules/views/opel-insignia-tourer-bplus-2-0-d-nl/opel-insignia-tourer-bplus-2-0-d-nl.html">
			<img src="/assets/images/related/opel-insignia-business-edition.png" alt="Opel Insignia - Sports Tourer Business+" />
			<div class="related-title">
				<h2>Opel Insignia<span>Sports Tourer Business+</span></h2>
				<span class="related-score">5</span>
			</div>
		</a><!--
		--><!--
		--><a class="related-product" href="/modules/views/bmw-i3-nl/bmw-i3-nl.html">
			<img src="/assets/images/related/bmw-i3.png" alt="BMW i3 - Full Electric" />
			<div class="related-title">
				<h2>BMW i3<span>Full Electric</span></h2>
				<span class="related-score">8.5</span>
			</div>
		</a><!--
		-->
	</section>
</div>
<!-- /related -->




		
			<!-- footer -->
<footer class="footer" data-component="footer">
	<div class="max-width-centered">
		<div class="footer-contact">
			<h2>Review aanvragen of opmerkingen?</h2>
			<p>
                We staan altijd open voor reviewaanvragen of opmerkingen naar aanleiding van de informatie en reviews op deze website.
			</p>
			<a class="ui-button-secondary" href="mailto:postbus@unitid.nl?subject=Car%20UX%20Review%20aanvragen%20/%20opmerkingen">
				Mail ons
			</a>
		</div>
		<div class="footer-content">
			<h1>Car UI is een initiatief van UNITiD Interaction Designers</h1>
			<p>
                In de autowereld wordt steeds meer gebruik gemaakt van geïntegreerde gebruikerssystemen.
                Vaak ontwikkelen autofabrikanten deze zelf, maar door gebrek aan kennis zijn de mogelijkheden tot interactie met de gebruiker vaak beperkt.
                UNITiD vond het tijd om in kaart te brengen wat de knelpunten zijn tijdens het gebruik van de verschillende systemen.
                Hieruit is Car UI ontstaan.
            </p>
			<div class="footer-branding">
				<a href="/">
					<span class="icon icon-car-ux-logo-white">CAR UI</span>
				</a>
				<a href="http://www.unitid.nl/">
					<span class="icon icon-unitid-logo">UNITiD</span>
				</a>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->

		


		

		
		<script src="/assets/scripts/vendor.js"></script>
		<script src="/assets/scripts/main.js"></script>
		
	</div>
</body>
</html>
