{% extends "templates/_base/base.html" %}
{% import "components/detail-intro/_detail-intro.html" as detailIntro %}
{% import "components/main-content/_main-content.html" as mainContent %}

{% block content %}
<div class="about">
  {{ detailIntro.detailIntro(cms.about) }}
  <section class="max-width-centered">
    {{ mainContent.mainContent(cms.about) }}
    {% include "components/bibliography/_bibliography.html" %}
    {% include "components/related/_related.html" %}
  </section>
</div>

{% endblock %}