{% macro featured(content) %}
<!-- featured -->
<div class="featured" data-component="featured">
	<section class="max-width-centered">
		<h1>{{ content.mainTitle }}</h1>
		<div class="featured-content">
			<div class="featured-content-wrapper">
				<time>{{ content.date }}</time>
				<h2>
					{{ content.title }}
					<span class="subtitle">{{ content.subTitle }}</span>
				</h2>
				<div class="featured-score">
					<span class="icon icon-gauge1"></span>
					{{ content.score}}
				</div>
				<hr/>
				<ul>
					{% for goodText in content.summary.good %}
					<li><span class="icon icon-plus-yellow"></span>{{ goodText }}</li>
					{% endfor %}
				</ul><!--
				--><ul>
					{% for badText in content.summary.bad %}
					<li><span class="icon icon-min-light-grey"></span>{{ badText }}</li>
					{% endfor %}
				</ul>
			</div>
			<img src="{{ content.visual }}" alt="{{ content.title + ' ' + content.subTitle }}"/>
		</div>
	</section>
</div>
<!-- /featured -->
{% endmacro %}
