@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* demo-component component */

.demo-component {
    border: 1px solid gray;

    p {
        font-weight: bold;
        color: blue;
    }

    .icon-left {
        width: 14px;
        height: 22px;
        display: block;
    }

}