<!-- widget-score -->
<div class="widget-score" data-component="widget-score">
    <div class="score-overview">
        <header>	<span class="icon icon-meter"></span>
            <span class="score"></span>
            <span class="icon icon-arrow-down"></span>
        </header>
        <ul>
            <li>
                <a href="#presence">	<span class="label">Uitstraling</span>
                    <span class="value"></span>
                </a>
            </li>
            <li>
                <a href="#contrast">	<span class="label">Contrast</span>
                    <span class="value"></span>
                </a>
            </li>
            <li>
                <a href="#focus">	<span class="label">Focus</span>
                    <span class="value"></span>
                </a>
            </li>
            <li>
                <a href="#usability">	<span class="label">Usability</span>
                    <span class="value"></span>
                </a>
            </li>
            <li>
                <a href="#features">	<span class="label">Features</span>
                    <span class="value"></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="score-summary">
        <ul></ul>
        <ul></ul>
    </div>
</div>
<!-- /widget-score -->