// Button styling
.ui-button-primary,
.ui-button-secondary,
.ui-button-tertiary {
	@include transition(color .2s ease-out, background-color .2s ease-out);

	background-color: $black;
	border: none;
	color: $white;
	display: inline-block;
	padding: 20px;
	text-decoration: none;
	font-family: $helvetica-neue-bold;
	font-size: 14px;

	&:hover,
	&:focus {
		@include transition(color .2s ease-out, background-color .2s ease-out);

		background-color: $yellow;
		color: $black;
	}
}

.ui-button-secondary,
.ui-button-tertiary {
	padding: 15px;
	font-size: 12px;
}

.ui-button-tertiary {
	background-color: $medium-grey;
	color: $dark-grey;
}