// Button styling
.ui-button-primary,
.ui-button-secondary,
.ui-button-tertiary {
	@include transition(color 0.3s ease-out, background-color 0.3s ease-out);

	background-color: $black;
	border: none;
	color: $white;
	padding: 20px;
	text-decoration: none;
	font-size: 1.4em;

	&:hover {
		@include transition(color 0.3s ease-out, background-color 0.3s ease-out);

		background-color: $yellow;
		color: $black;
	}
}

.ui-button-secondary,
.ui-button-tertiary {
	padding: 15px;
	font-size: 1.2em;
}

.ui-button-tertiary,
.ui-button-tertiary:hover {
	background-color: $medium-grey;
	color: $dark-grey;
}