<!DOCTYPE html>
<html class="no-js">
<head>
	<title>
		
		Reviews | Car UI
		
	</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

	<meta name="description" content="Car UX" />
	<meta name="viewport" content="width=device-width initial-scale=1" />

	<link rel="shortcut icon" href="/assets/images/favicons/favicon.ico" type="image/ico" />
	<link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="/assets/images/favicons/favicon-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="/assets/images/favicons/favicon-160x160.png" sizes="160x160">
	<link rel="icon" type="image/png" href="/assets/images/favicons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/assets/images/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="/assets/images/favicons/favicon-32x32.png" sizes="32x32">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="/assets/images/favicons/mstile-144x144.png">

	<script>
		(function (e) {
			e.className = e.className.replace('no-js','js');
		}(document.documentElement));
	</script>
	
	<script>
		/* grunticon Stylesheet Loader | https://github.com/filamentgroup/grunticon | (c) 2012 Scott Jehl, Filament Group, Inc. | MIT license. */
		window.grunticon=function(e){if(e&&3===e.length){var t=window,n=!(!t.document.createElementNS||!t.document.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect||!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1")||window.opera&&-1===navigator.userAgent.indexOf("Chrome")),o=function(o){var r=t.document.createElement("link"),a=t.document.getElementsByTagName("script")[0];r.rel="stylesheet",r.href=e[o&&n?0:o?1:2],a.parentNode.insertBefore(r,a)},r=new t.Image;r.onerror=function(){o(!1)},r.onload=function(){o(1===r.width&&1===r.height)},r.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="}};
		grunticon(["/assets/images/grunticon-output/icons.data.svg.css", "/assets/images/grunticon-output/icons.data.png.css", "/assets/images/grunticon-output/icons.fallback.css"]);
	</script>
	<noscript>
		<link rel="stylesheet" href="/assets/images/grunticon-output/icons.fallback.css" />
	</noscript>
	
	
	<link rel="stylesheet" href="/assets/style/main.css" />
	
</head>
<body>
	<!-- use data attributes to target in JS -->
	<div id="page">
		
			
			
<!-- header -->
<header class="header" data-component="header">
	<div class="header-content">
		<div class="logo-area">
			<a href="/" class="logo icon-car-ux-logo">CAR UX</a>
		</div>
		<nav>
			<ul>
				
				<li class="">
					<a href="/modules/views/home/home.html">Home</a>
				</li>
				
				<li class=" active-nav-item ">
					<a href="/modules/views/reviews/reviews.html">Reviews</a>
				</li>
				
				<li class="">
					<a href="/modules/views/about/about.html">Over<span class="nav-text-large"> Car UI</span></a>
				</li>
				
			</ul>
		</nav>
	</div>
	<div class="header-background-left"></div>
	<div class="header-background-right"></div>
</header>
<!-- /header -->

		

		
<section class="view-reviews">
	
	
<!-- shortlist -->
<div class="shortlist" data-component="shortlist">
	<section class="max-width-centered">
		<h1>REVIEWS</h1>
		<!--
		--><a class="shortlist-product" href="/modules/views/nissan-qashqai-tekna-1-5-dci-nl/nissan-qashqai-tekna-1-5-dci-nl.html">
		<img src="/assets/images/related/nissan-qashqai.png" alt="Nissan Qashqai - Tekna 1.5 dCi" />
		<div class="shortlist-title">
			<h2>Nissan Qashqai<span>Tekna 1.5 dCi</span></h2>
			<span class="shortlist-score">8</span>
		</div>
		<div class="shortlist-summary">
			<hr/>
			<ul>
				
				<li><span class="icon icon-plus-yellow"></span>Per optie een duidelijke uitleg</li>
				
				<li><span class="icon icon-plus-yellow"></span>Zicht op je rijgedrag</li>
				
			</ul>
			<ul>
				
				<li><span class="icon icon-min-red"></span>Stijl van de iconen</li>
				
				<li><span class="icon icon-min-red"></span>Display niet leesbaar met dak open</li>
				
			</ul>
			<hr/>
			<time>15-05-2014</time>
		</div>
	</a><!--
	--><!--
		--><a class="shortlist-product" href="/modules/views/opel-insignia-tourer-bplus-2-0-d-nl/opel-insignia-tourer-bplus-2-0-d-nl.html">
		<img src="/assets/images/related/opel-insignia-business-edition.png" alt="Opel Insignia - Sports Tourer Business+ 2.0 CDTI" />
		<div class="shortlist-title">
			<h2>Opel Insignia<span>Sports Tourer Business+ 2.0 CDTI</span></h2>
			<span class="shortlist-score">5</span>
		</div>
		<div class="shortlist-summary">
			<hr/>
			<ul>
				
				<li><span class="icon icon-plus-yellow"></span>Schakelen van licht naar donker</li>
				
				<li><span class="icon icon-plus-yellow"></span>Helder scherm</li>
				
			</ul>
			<ul>
				
				<li><span class="icon icon-min-red"></span>Bevestigen van het touchpad</li>
				
				<li><span class="icon icon-min-red"></span>Stijl van de iconen</li>
				
			</ul>
			<hr/>
			<time>15-05-2014</time>
		</div>
	</a><!--
	--><!--
		--><a class="shortlist-product" href="/modules/views/citroen-c4-picasso-business-nl/citroen-c4-picasso-business-nl.html">
		<img src="/assets/images/related/citroen-c4-picasso.png" alt="Citroën C4 Picasso - Business Edition" />
		<div class="shortlist-title">
			<h2>Citroën C4 Picasso<span>Business Edition</span></h2>
			<span class="shortlist-score">6.5</span>
		</div>
		<div class="shortlist-summary">
			<hr/>
			<ul>
				
				<li><span class="icon icon-plus-yellow"></span>Knoppen verwerkt in dashboard</li>
				
				<li><span class="icon icon-plus-yellow"></span>Eenvoudige iconen</li>
				
			</ul>
			<ul>
				
				<li><span class="icon icon-min-red"></span>Verschillende schermdesigns</li>
				
				<li><span class="icon icon-min-red"></span>Navigatiekaart niet mooi</li>
				
			</ul>
			<hr/>
			<time>05-05-2014</time>
		</div>
	</a><!--
	--><!--
		--><a class="shortlist-product" href="/modules/views/mercedes-c2-2-nl/mercedes-c2-2-nl.html">
		<img src="/assets/images/related/mercedes-c220.png" alt="Mercedes-Benz C-Klasse - C220 CDI Ambition Comfort" />
		<div class="shortlist-title">
			<h2>Mercedes-Benz C-Klasse<span>C220 CDI Ambition Comfort</span></h2>
			<span class="shortlist-score">7.5</span>
		</div>
		<div class="shortlist-summary">
			<hr/>
			<ul>
				
				<li><span class="icon icon-plus-yellow"></span>Past goed bij het interieur</li>
				
				<li><span class="icon icon-plus-yellow"></span>Leesbaar en helder scherm</li>
				
			</ul>
			<ul>
				
				<li><span class="icon icon-min-red"></span>Scherm op dashboard voelt goedkoop</li>
				
				<li><span class="icon icon-min-red"></span>Kleurgebruik niet altijd consistent</li>
				
			</ul>
			<hr/>
			<time>05-05-2014</time>
		</div>
	</a><!--
	--><!--
		--><a class="shortlist-product" href="/modules/views/bmw-i3-nl/bmw-i3-nl.html">
		<img src="/assets/images/related/bmw-i3.png" alt="BMW i3 - Full Electric" />
		<div class="shortlist-title">
			<h2>BMW i3<span>Full Electric</span></h2>
			<span class="shortlist-score">8.5</span>
		</div>
		<div class="shortlist-summary">
			<hr/>
			<ul>
				
				<li><span class="icon icon-plus-yellow"></span>UI past goed bij interieur en werkt soepel</li>
				
				<li><span class="icon icon-plus-yellow"></span>Bedieningsknop binnen handbereik</li>
				
			</ul>
			<ul>
				
				<li><span class="icon icon-min-red"></span>De invoermethode</li>
				
				<li><span class="icon icon-min-red"></span>Navigatie werkt omslachtig</li>
				
			</ul>
			<hr/>
			<time>18-07-2014</time>
		</div>
	</a><!--
	-->
	</section>
</div>
<!-- /shortlist -->

</section>


		
			<!-- footer -->
<footer class="footer" data-component="footer">
	<div class="max-width-centered">
		<div class="footer-contact">
			<h2>Review aanvragen of opmerkingen?</h2>
			<p>
                We staan altijd open voor reviewaanvragen of opmerkingen naar aanleiding van de informatie en reviews op deze website.
			</p>
			<a class="ui-button-secondary" href="mailto:postbus@unitid.nl?subject=Car%20UX%20Review%20aanvragen%20/%20opmerkingen">
				Mail ons
			</a>
		</div>
		<div class="footer-content">
			<h1>Car UI is een initiatief van UNITiD Interaction Designers</h1>
			<p>
                In de autowereld wordt steeds meer gebruik gemaakt van geïntegreerde gebruikerssystemen.
                Vaak ontwikkelen autofabrikanten deze zelf, maar door gebrek aan kennis zijn de mogelijkheden tot interactie met de gebruiker vaak beperkt.
                UNITiD vond het tijd om in kaart te brengen wat de knelpunten zijn tijdens het gebruik van de verschillende systemen.
                Hieruit is Car UI ontstaan.
            </p>
			<div class="footer-branding">
				<a href="/">
					<span class="icon icon-car-ux-logo-white">CAR UI</span>
				</a>
				<a href="http://www.unitid.nl/">
					<span class="icon icon-unitid-logo">UNITiD</span>
				</a>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->

		


		

		
		<script src="/assets/scripts/vendor.js"></script>
		<script src="/assets/scripts/main.js"></script>
		
	</div>
</body>
</html>
