<!-- intro -->
<div class="detail-intro" data-component="detail-intro">
    <img class="intro-background" src="/assets/images/" alt="" />
    <section class="intro-content max-width-centered">
        <article class="intro-text" data-intro-text>
            <header>
                <img itemprop="image" class="intro-title-image" src="/assets/images/" alt="" />
                <h1 itemprop="name">
					
					<span class="subtitle"></span>
				</h1>
            </header>
            <p itemprop="description"></p>
            <aside class="social-buttons">
                <p>Deze test delen via</p>	<a target="_blank" href="http://www.facebook.com/sharer.php?s=100&amp;p[url]=&amp;p[title]=Car%20UX%20-%20%20&amp;p[summary]="
                class="social-button button-facebook" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=368,width=600');return false;">Facebook</a>
                <a target="_blank" href="http://twitter.com/share?text=&amp;url=" class="social-button button-twitter"
                onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=438,width=600');return false;">Twitter</a>
                <a target="_blank" class="social-button button-gplus" href="https://plus.google.com/share?url=" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">Google Plus</a>
            </aside>
        </article>
        <!--
		-->
        <div class="widget-score-block">
            <!-- widget-score -->
            <div class="widget-score" data-component="widget-score">
                <div class="score-overview">
                    <header>	<span class="icon icon-meter"></span>
                        <span class="score"></span>
                        <span class="icon icon-arrow-down"></span>
                    </header>
                    <ul>
                        <li>
                            <a href="#uitstraling">	<span class="label">Uitstraling</span>
                                <span class="value"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#contrast">	<span class="label">Contrast</span>
                                <span class="value"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#focus">	<span class="label">Focus</span>
                                <span class="value"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#usability">	<span class="label">Usability</span>
                                <span class="value"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#features">	<span class="label">Features</span>
                                <span class="value"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="score-summary">
                    <ul></ul>
                    <ul></ul>
                </div>
            </div>
            <!-- /widget-score -->
        </div>
    </section>
</div>
<!-- /intro -->