<!DOCTYPE html>
<html class="no-js">
<head>
	<title>
		
Detail intro (preview) 
		Detail-intro | car-ux
		

	</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

	<meta name="description" content="Car UX" />
	<meta name="viewport" content="width=device-width initial-scale=1" />
	<base href="http://voorhoede.github.io/car-ux/" />

	<link rel="shortcut icon" href="../../..//assets/images/favicons/favicon.ico" type="image/ico" />
	<link rel="apple-touch-icon" sizes="57x57" href="../../..//assets/images/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="../../..//assets/images/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="../../..//assets/images/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="../../..//assets/images/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="../../..//assets/images/favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="../../..//assets/images/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="../../..//assets/images/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="../../..//assets/images/favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="../../..//assets/images/favicons/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="../../..//assets/images/favicons/favicon-192x192.png" sizes="192x192">
	<link rel="icon" type="image/png" href="../../..//assets/images/favicons/favicon-160x160.png" sizes="160x160">
	<link rel="icon" type="image/png" href="../../..//assets/images/favicons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="../../..//assets/images/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="../../..//assets/images/favicons/favicon-32x32.png" sizes="32x32">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-TileImage" content="../../..//assets/images/favicons/mstile-144x144.png">

	<script>
		(function (e) {
			e.className = e.className.replace('no-js','js');
		}(document.documentElement));
	</script>
	
	<script>
		/* grunticon Stylesheet Loader | https://github.com/filamentgroup/grunticon | (c) 2012 Scott Jehl, Filament Group, Inc. | MIT license. */
		window.grunticon=function(e){if(e&&3===e.length){var t=window,n=!(!t.document.createElementNS||!t.document.createElementNS("http://www.w3.org/2000/svg","svg").createSVGRect||!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Image","1.1")||window.opera&&-1===navigator.userAgent.indexOf("Chrome")),o=function(o){var r=t.document.createElement("link"),a=t.document.getElementsByTagName("script")[0];r.rel="stylesheet",r.href=e[o&&n?0:o?1:2],a.parentNode.insertBefore(r,a)},r=new t.Image;r.onerror=function(){o(!1)},r.onload=function(){o(1===r.width&&1===r.height)},r.src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw=="}};
		grunticon(["../../..//assets/images/grunticon-output/icons.data.svg.css?"+new Date().getTime(), "../../..//assets/images/grunticon-output/icons.data.png.css?"+new Date().getTime(), "../../..//assets/images/grunticon-output/icons.fallback.css?"+new Date().getTime()]);
	</script>
	<noscript>
		<link rel="stylesheet" href="../../..//assets/images/grunticon-output/icons.fallback.css" />
	</noscript>
	
	

<link rel="stylesheet" href="../../..//assets/style/main.css">
<!--<link rel="stylesheet" href="../../..//guide//voorhoede-core-styles.css">-->
<!--<link rel="stylesheet" href="../../..//guide//core-layout.css">-->
<link rel="stylesheet" href="../../..//guide/guide.css">

<link rel="stylesheet" href="../../..//guide/vendor/prismjs/prism.css">





<link rel="stylesheet" href="../../..//assets/style/main.css">




</head>
<body>
	<!-- use data attributes to target in JS -->
	<div id="page">
		

		
<div class="page">
	<div class="core-layout">
		<header class="app-guide-content">
			<img src="../../..//guide/images/voorhoede-logo.svg"
			     onerror="this.src='../../..//guide/images/voorhoede-logo.min.png'"
			     alt="De Voorhoede"
			     height="75" width="75"/>
				<h1>car-ux</h1>
				<h2>Front-end guide for car-ux by de Voorhoede</h2>
		</header>

		

<main class="app-guide-main">
	<script>window.testApp = {}; // namespace to register modules for testing</script>
	<h1 class="section-title">Detail intro</h1>
	<div class="app-guide-content language-markdown">
		<!--
Add an optional short description here for `detail-intro` component.
Or delete this file if not applicable.
-->
	</div>

	
	<div class="resize-buttons">
		<button id="desktop">desktop</button>
		<button id="phone">phone</button>
		<button id="tablet">tablet</button>
	</div>

	<p>Or set your own width in px:</p>
	<form id="resize-form">
		<label>
			<span>Width</span>
			<input type="number" name="width" id="resize-width" required/>
		</label>
		<button type="submit">Set!</button>
	</form>

	<iframe id="preview-iframe" src="object.html" width="100%" height="400px"></iframe>
	

	
	
	

	

	<section id="section-code" class="app-guide-section">
		<h2 class="app-guide-section-title">
			Code 
<a href="#section-code"
   class="app-guide-permalink app-guide-icon"
   title="permalink to this section"></a>

		</h2>
		

		
		<section id="section-code-html">
			<h3 class="app-guide-section-title">
				HTML 
<a href="#section-code-html"
   class="app-guide-permalink app-guide-icon"
   title="permalink to this section"></a>

			</h3>
			<div class="app-guide-code">
				<pre class="language-markup"><code>&lt;!-- intro -->
&lt;div class="detail-intro" data-component="detail-intro">
	&lt;img class="intro-background" src="assets/images/bmw-i3/bmw-i3-dashboard.png" alt="BMW i3 dashboard" />
	&lt;section class="intro-content max-width-centered" data-intro-section>
		&lt;article class="intro-text" data-intro-text>
			&lt;header>
				&lt;img itemprop="image" class="intro-title-image" src="assets/images/bmw-i3/bmw-i3-small.png" alt="BMW i3 small" />
				&lt;h1 itemprop="name">
					BMW i3
					&lt;span class="subtitle">Business model 1.5 TDI&lt;/span>
				&lt;/h1>
			&lt;/header>
			&lt;p itemprop="description">
				Introtekst over de nieuwe BMW i3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequa orem psum dolor sit.
			&lt;/p>
		&lt;/article>
		&lt;!--
		-->
		&lt;div class="widget-score-block">

			&lt;!-- widget-score -->
			&lt;div class="widget-score" data-component="widget-score">
				&lt;div class="score-overview" data-widget-score-overview>
					&lt;header>
						&lt;span class="icon icon-gauge4">&lt;/span>
						&lt;span class="score">8,5&lt;/span>
						&lt;span class="icon icon-arrow-down" data-score-header-arrow>&lt;/span>
					&lt;/header>
					&lt;ul>

						&lt;li>
							&lt;a href="#uitstraling">
								&lt;span class="label">Uitstraling&lt;/span>
								&lt;span class="value">4&lt;/span>
							&lt;/a>
						&lt;/li>

						&lt;li>
							&lt;a href="#contrast">
								&lt;span class="label">Contrast&lt;/span>
								&lt;span class="value">5&lt;/span>
							&lt;/a>
						&lt;/li>

						&lt;li>
							&lt;a href="#focus">
								&lt;span class="label">Focus&lt;/span>
								&lt;span class="value">4&lt;/span>
							&lt;/a>
						&lt;/li>

						&lt;li>
							&lt;a href="#usability">
								&lt;span class="label">Usability&lt;/span>
								&lt;span class="value">4&lt;/span>
							&lt;/a>
						&lt;/li>

						&lt;li>
							&lt;a href="#features">
								&lt;span class="label">Features&lt;/span>
								&lt;span class="value">3&lt;/span>
							&lt;/a>
						&lt;/li>

					&lt;/ul>
				&lt;/div>
				&lt;div class="score-summary">
					&lt;ul>

						&lt;li>&lt;span class="icon icon-plus">&lt;/span>De UI is contrastrijk&lt;/li>

						&lt;li>&lt;span class="icon icon-plus">&lt;/span>Hardware knop&lt;/li>

					&lt;/ul>
					&lt;ul>

						&lt;li>&lt;span class="icon icon-min-dark-grey">&lt;/span>De inputmethode&lt;/li>

						&lt;li>&lt;span class="icon icon-min-dark-grey">&lt;/span>Navigatie viel tegen&lt;/li>

					&lt;/ul>
				&lt;/div>
			&lt;/div>
			&lt;!-- /widget-score -->

		&lt;/div>
		&lt;!--
		-->
		&lt;aside class="social-buttons" data-social-buttons>
			&lt;p>Deze test delen via&lt;/p>
			&lt;a target="_blank" href="http://www.facebook.com/sharer.php?s=100&amp;p[url]=http%3A%2F%2Fwww.car-ux.com%2Fbmw-i3%2Fbmw-i3.html&amp;p[title]=Car%20UX%20-%20BMW i3%20Business model 1.5 TDI&amp;p[summary]=Facebook%20-%20share%20text" class="social-button icon-facebook"
			onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=368,width=600');return false;">Facebook&lt;/a>
			&lt;a target="_blank" href="http://twitter.com/share?text=Twitter%20-%20share%20text&amp;url=http%3A%2F%2Fwww.car-ux.com%2Fbmw-i3%2Fbmw-i3.html" class="social-button icon-twitter" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=438,width=600');return false;">Twitter&lt;/a>
			&lt;a target="_blank" class="social-button icon-gplus" href="https://plus.google.com/share?url=http://www.car-ux.com/bmw-i3/bmw-i3.html" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">Google Plus&lt;/a>
		&lt;/aside>
	&lt;/section>
&lt;/div>
&lt;!-- /intro --></code></pre>
				<ul class="app-guide-code-options">
					<li><a class="app-guide-icon app-guide-icon-code" href="_detail-intro.html" title="view source HTML"></a></li>
					<li><a class="app-guide-icon app-guide-icon-download" href="_detail-intro.html" download="_detail-intro.html" title="download HTML"></a></li>
				</ul>
			</div>
		</section>
		

		
		<section id="section-code-css">
			<h3 class="app-guide-section-title">
				CSS 
<a href="#section-code-css"
   class="app-guide-permalink app-guide-icon"
   title="permalink to this section"></a>

			</h3>
			<div class="app-guide-code">
				<pre class="language-css"><code>/* intro component */
.detail-intro {
  background-color: #f2f2f2;
  padding-top: 0;
  padding-bottom: 500px;
}
@media screen and (min-width: 920px) {
  .detail-intro {
    padding-top: 30px;
  }
}
.detail-intro .intro-background {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.detail-intro .intro-content {
  background-color: #ffffff;
}
@media screen and (min-width: 920px) {
  .detail-intro .intro-content {
    margin-top: -170px;
  }
}
.detail-intro .intro-text {
  -webkit-transition: height 0.2s ease-out;
  transition: height 0.2s ease-out;
  background-color: #ffffff;
  padding: 30px 30px 25px 33px;
}
@media screen and (min-width: 620px) {
  .detail-intro .intro-text {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 66.66%;
    padding-bottom: 0;
  }
}
.detail-intro .intro-text h1,
.detail-intro .intro-text .intro-title-image {
  display: inline-block;
  vertical-align: top;
  width: 33%;
}
@media screen and (min-width: 620px) {
  .detail-intro .intro-text h1,
  .detail-intro .intro-text .intro-title-image {
    width: auto;
  }
}
.detail-intro .intro-text .intro-title-image {
  margin-right: 20px;
}
.detail-intro .intro-text h1 {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  max-width: 70%;
}
.detail-intro .intro-text .subtitle {
  display: block;
  font-size: .55em;
}
.detail-intro .intro-text p {
  font-size: 1.6em;
}
.detail-intro .widget-score-block .widget-score {
  -webkit-transition: height 0.2s ease-out;
  transition: height 0.2s ease-out;
}
@media screen and (min-width: 620px) {
  .detail-intro .widget-score-block {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
  }
}
.detail-intro .social-buttons {
  -webkit-transition: margin 0.2s ease-out;
  transition: margin 0.2s ease-out;
  background-color: #ffffff;
  padding: 0 0 30px 30px;
}
@media screen and (min-width: 620px) {
  .detail-intro .social-buttons {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 66.66%;
    margin-top: -102px;
  }
}
.detail-intro .social-buttons .social-button {
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
  text-indent: 9999px;
  white-space: nowrap;
  overflow: hidden;
  outline: none;
  display: inline-block;
  border: none;
  width: 30px;
  height: 30px;
}
.detail-intro .social-buttons p {
  color: #7f7f7f;
  font-size: 1.2em;
  margin: 0;
  padding: 10px 0;
}

/*# sourceMappingURL=_detail-intro.css.map */
</code></pre>
				<ul class="app-guide-code-options">
					<li><a class="app-guide-icon app-guide-icon-code" href="_detail-intro.css" title="view source CSS"></a></li>
					<li><a class="app-guide-icon app-guide-icon-download" href="_detail-intro.css" download="_detail-intro.css" title="download CSS"></a></li>
				</ul>
			</div>
		</section>
		

		
		<section id="section-code-javascript">
			<h3 class="app-guide-section-title">
				JS 
<a href="#section-code-js"
   class="app-guide-permalink app-guide-icon"
   title="permalink to this section"></a>

			</h3>
			<div class="app-guide-code">
				<pre class="language-javascript"><code>(function(d, w){
	'use strict';

	var introComponentElm = d.querySelector('[data-component="detail-intro"]');
	if (!introComponentElm) {
		return;
	}
	var introTextElm = introComponentElm.querySelector('[data-intro-text]');
	var widgetScoreElm = introComponentElm.querySelector('[data-component="widget-score"]');
	var introSectionElm = introComponentElm.querySelector('[data-intro-section]');
	var socialButtonsElm = introComponentElm.querySelector('[data-social-buttons]');

	// Make the widget height equal to the height of introTextElm
	function equalizeHeight() {
		if (helpers.breakSize !== 'extra-small') {
			introSectionElm.style.height = widgetScoreElm.style.height = (introTextElm.offsetHeight + socialButtonsElm.offsetHeight) + 'px';
			socialButtonsElm.style.marginTop = -(socialButtonsElm.offsetHeight) + 'px';
		} else {
			socialButtonsElm.style.marginTop = introSectionElm.style.height = widgetScoreElm.style.height = '';
		}
	}

	// Fire equalizeHeight debounced on the resize event
	w.addEventListener('resize', debounce(equalizeHeight, 250), false);

	// Make sure all images inside introTextElm are loaded
	w.addEventListener('load', equalizeHeight, false);
}(document, window));</code></pre>
				<ul class="app-guide-code-options">
					<li><a class="app-guide-icon app-guide-icon-code" href="_detail-intro.js" title="view source JavaScript"></a></li>
					<li><a class="app-guide-icon app-guide-icon-download" href="_detail-intro.js" download="_detail-intro.js" title="download JavaScript"></a></li>
				</ul>
			</div>
		</section>
		

	</section>
</main>


	</div>

</div>



		
<footer class="app-guide-footer">
	This page is generated using <a href="http://voorhoede.nl">De Voorhoede</a>'s template builder
</footer>



		

		

		<script src="../../..//assets/scripts/vendor.js"></script>
		<script src="../../..//assets/scripts/main.js"></script>
		
<script src="../../..//guide/vendor/prismjs/prism.js"></script>


<script>

	(function(){
		var iframe = document.getElementById('preview-iframe'),
			widthInput = document.getElementById('resize-width');

		iframe.addEventListener('load', function(){
			widthInput.value = parseInt(window.getComputedStyle(iframe).width);
			iframe.height = iframe.contentWindow.document.body.clientHeight + 10;
		}, false);

		window.onresize = function () {
			widthInput.value = parseInt(window.getComputedStyle(iframe).width);
		};

		document.getElementById('desktop').addEventListener("click", function () {
			iframe.width = "1224px";
		}, false);

		document.getElementById('phone').addEventListener("click", function () {
			iframe.width = "320px";
		}, false);

		document.getElementById('tablet').addEventListener("click", function () {
			iframe.width = "1024px";
		}, false);

		iframe.addEventListener('transitionend', function () {
			iframe.height = iframe.contentWindow.document.body.clientHeight + 10;
			widthInput.value = parseInt(window.getComputedStyle(iframe).width);
		}, false);

		document.getElementById('resize-form').addEventListener('submit', function (event) {
			event.preventDefault();
			iframe.width = widthInput.value + 'px';
		}, false);

	}());

</script>








	</div>
</body>
</html>
