<!-- highlight -->
<div class="highlight" data-component="highlight">
	<section class="max-width-centered">
		<h1>WAT ONS OPVIEL</h1>
		<div class="highlight-content">
			<img src="assets/images/bmw-i3-nl/bmw-i3-highlight.png" alt="Kleurgebruik" />
			<div class="highlight-text">
				<h2>Kleurgebruik</h2>
				<p>Het is logisch dat de kleur blauw gebruikt wordt, maar dit had verder doorgevoerd kunnen worden in de rest van de auto. Verder worden er naast blauw en oranje bijna geen signaalkleuren gebruikt, terwijl die wel in de rest van het interieur gebruikt
					worden. Een uitzondering hier op zijn de parkeersignalen in het dashboard-schermpje.</p>
			</div>
		</div>
	</section>
</div>
<!-- /highlight -->