{%
	set navigation = [
		{
			label: 'Home',
			href: hrefPrefix + '/modules/views/home/home.html',
			active: false
		},
		{
			label: 'Reviews',
			href: hrefPrefix + '/modules/views/reviews/reviews.html',
			active: true
		},
		{
			label: 'Over<span class="nav-text-large"> Car UI</span>',
			href: hrefPrefix + '/modules/views/about/about.html',
			active: false
		}
	]
		%}

	{%
		set content = {
		pageUrl: 'http://www.car-ux.com/nissan-qashqai-tekna-1-5-dci-nl/nissan-qashqai-tekna-1-5-dci-nl.html',
		backgroundImage: pathToAssets + 'images/nissan-qashqai-tekna-1-5-dci-nl/nissan-qashqai-dashboard.png',
		backgroundImageAlt: 'Nissan Qashqai dashboard',
		titleImage: pathToAssets + 'images/nissan-qashqai-tekna-1-5-dci-nl/nissan-qashqai-small.png',
		titleImageAlt: 'Nissan Qashqai small',
		title: 'Nissan Qashqai',
		subtitle: 'Tekna 1.5 dCi',
		description: 'We kunnen natuurlijk niet om het succes heen van de Qashqai uit 2007. Sinds februari 2014 is de vernieuwde versie van de Qashqai op de weg te bewonderen. Het nieuwe design is opvallend, maar heeft wel wat overeenkomsten met het model uit 2007. Er gingen geruchten dat de Qashqai vol spannende nieuwe opties zit. Daar werden we natuurlijk nieuwsgierig van. We lieten ons verrassen door deze nieuwe Nissan. ',
		testTagline: 'Getest op 15 mei 2014 door Hylke van Maaren, Helder Mota en Robbert Ouwerkerk',
		widgetScore: {
			score: '8',
			scoreDetails: {
				identiteit: {
					score: '8.5',
					description: 'De Qashqai is voorzien van twee ingebouwde displays: een in de middenconsole en een achter het stuur. De displays zijn mooi ingebouwd en passen bij de rest van het interieur. De display achter het stuur zit tussen de snelheidsmeter en toerenteller in. Op de displays kun je eenvoudig door de informatie bladeren. Waardevolle informatie wordt simpel weergegeven. Er is een duidelijk en consistent gebruik van kleuren en bedieningsknoppen.',
                    visual: pathToAssets + 'images/nissan-qashqai-tekna-1-5-dci-nl/nissan-qashqai-identiteit.png'
				},
				hardware: {
					score: '7.5',
					description: 'De auto is voorzien van een kleurenschema dat perfect leest met fel of veel licht. Als bestuurder word je niet verblind bij omstandigheden met weinig licht, zoals in ’s nachts of in een tunnel. De schermhelderheid kun je handmatig en automatisch dimmen. De automatische dimming verandert echter vrij traag bij het binnenrijden van tunnels en andere momenten waarop er plotseling weinig licht is.</br></br><b>Kleur</b></br>Het kleurenschema is gebaseerd op een zwarte achtergrond. Blauw wordt gebruikt voor labelknoppen, wit voor tekst of primaire acties en oranje voor actieve onderdelen of interactieve elementen. Bij de navigatie en iconen worden sommige kleuren wat inconsistent gebruikt.',
                    visual: pathToAssets + 'images/nissan-qashqai-tekna-1-5-dci-nl/nissan-qashqai-hardware.png'
				},
				toptaken: {
					score: '7',
					description: 'De menu\'s bieden een aantal beperkte, maar zinvolle opties om uit te kiezen. Als de optie uit meerdere stappen bestaat, dan wordt de toegang tot de volgende stap duidelijk aangegeven. Bij sommige optie-lijsten ontbreekt er een duidelijke rangorde.</br></br>De gebruikte iconen zijn vaak lastig te interpreteren. Ze lijken in eerste instantie een geheel te vormen met de tekst. Dit dwingt je om ook de tekst te lezen: iets wat tijd en aandacht vraagt tijdens het rijden. Ook zijn de iconen niet consistent in formaat, kleur en stijl. De labels zijn echter duidelijk.',
                    visual: pathToAssets + 'images/nissan-qashqai-tekna-1-5-dci-nl/nissan-qashqai-toptaken.png'
				},
				usability: {
					score: '8',
					description: 'Per optie wordt een heldere omschrijving gegeven. Deze wordt ondersteund met een beeldend icoon. Ook verlopen de animaties redelijk soepel. Dit draagt bij aan de ondersteuning van de interactie met de gebruiker. De invoermethode is tijdens het rijden makkelijk te gebruiken. Ook zijn er duidelijke meldingen voor als het systeem niet werkt: bijvoorbeeld als de sleutel niet is geplaatst of als je geen veiligheidsgordel om hebt.',
                    visual: pathToAssets + 'images/nissan-qashqai-tekna-1-5-dci-nl/nissan-qashqai-usability.png'
				},
				technologie: {
					score: '8',
					description: 'De voorspelfunctie tijdens het invoeren van een locatie zorgt ervoor dat je snel je bestemming kunt invoeren. Je hoeft dus niet de volledige straatnaam in te voeren om je bestemming te vinden. Je bestemming wordt gevonden op basis van de adressen die in het systeem zitten. </br></br>Het rijgedrag wordt bewaakt. Als bestuurder word je aangespoord om pauze te nemen zodra er verlies van aandacht, slaperigheid of afleiding wordt geconstateerd.',
                    visual: pathToAssets + 'images/nissan-qashqai-tekna-1-5-dci-nl/nissan-qashqai-technologie.png'
				}
			},
			summary: {
				good: [
					'Per optie een duidelijke uitleg',
					'Zicht op je rijgedrag'
				],
				bad: [
					'Stijl van de iconen',
					'Display niet leesbaar met dak open'
				]
			}
		},
		socialSharing: {
			twitter: 'Twitter - share text',
			facebook: 'Facebook - share text'
		}
	}
		%}

	{%
		set summaryContent = {
		title: 'Snel, overzichtelijk en kwalitatief sterk',
		text: 'Beide displays werken snel. Er treden geen vertragingen of haperingen op in de menu\'s. De schermen zelf tonen een helder en scherp beeld en geven je het gevoel van een goede kwaliteit. Ook is alles uitstekend leesbaar. Zelf als je met veel lichtinval te maken hebt. Het scherm dat op het midden van je dashboard zit is echter niet goed leesbaar als het panoramadak open staat.</br></br>Elk menu biedt een beperkte, maar duidelijke reeks van opties om uit te kiezen. Tijdens het rijden wil je natuurlijk niet verdwalen in een wirwar van opties die op dat moment niet eens relevant zijn.</br></br>De parkeerhulp voor achteruit rijden zorgt ervoor dat je precies ziet in welke richting je rijdt of draait. Met de automatische parkeerrem kan de auto niet van zijn plek rollen.</br></br>Als bestuurder krijg je het advies om even pauze te nemen als er slaperigheid, afleiding of het verlies van aandacht door het systeem wordt geconstateerd.',
		visual: pathToAssets + 'images/nissan-qashqai-tekna-1-5-dci-nl/nissan-qashqai-summary.png'
	}
		%}

	{%
		set quote = 'De bestuurder wordt aangespoord om een pauze te nemen zodra het verlies van aandacht, slaperigheid of afleiding wordt geconstateerd.'
		%}

	{%
		set highlightContent = {
		title: 'Safety Shield Plus',
		text: 'Op de Nissan zit een \'Safety Shield Plus\'-pakket. Zo zit er een waarschuwingsfunctie voor de dode hoek op, maar ook een functie die de alertheid van de bestuurder in de gaten houdt. Zo merkt hij of je bijvoorbeeld slaperig of afgeleid wordt tijdens het rijden. Is hier sprake van, dan krijg je het advies om een pauze in te lassen.',
		visual: pathToAssets + 'images/nissan-qashqai-tekna-1-5-dci-nl/nissan-qashqai-highline.png'
	}
		%}

	{%
		set relatedContent = [
		{
			title: 'BMW i3',
			subTitle: 'Full Electric',
			score: '8.5',
			visual: pathToAssets + 'images/related/bmw-i3.png',
			url: hrefPrefix + '/modules/views/bmw-i3-nl/bmw-i3-nl.html'
		},
		{
			title: 'Opel Insignia',
			subTitle: 'Sports Tourer Business+',
			score: '5',
			visual: pathToAssets + 'images/related/opel-insignia-business-edition.png',
			url: hrefPrefix + '/modules/views/opel-insignia-tourer-bplus-2-0-d-nl/opel-insignia-tourer-bplus-2-0-d-nl.html'
		},
		{
			title: 'Citroën C4 Picasso',
			subTitle: 'Business Edition',
			score: '6.5',
			visual: pathToAssets + 'images/related/citroen-c4-picasso.png',
			url: hrefPrefix + '/modules/views/citroen-c4-picasso-business-nl/citroen-c4-picasso-business-nl.html'
		}
	]
%}

{% extends "views/_base-view/base-view.html" %}
{% import  "components/detail-intro/_detail-intro.html" as intro %}
{% import  "components/related/_related.html" as related %}

{% block content %}
	{{ intro.detailIntro(content) }}

	{% include "components/detail-main/_detail-main.html" %}

	{% include "components/comments/_comments.html" %}

	{{ related.related(relatedContent) }}

{% endblock %}