{%
	set navigation = [
		{
			label: 'Home',
			href: hrefPrefix + '/modules/views/home/home.html',
			active: false
		},
		{
			label: 'Reviews',
			href: hrefPrefix + '/modules/views/reviews/reviews.html',
			active: true
		},
		{
			label: 'About<span class="nav-text-large">&nbsp;Car UI</span>',
			href: hrefPrefix + '/modules/views/about/about.html',
			active: false
		}
	]
		%}

	{%
		set content = {
		pageUrl: 'http://www.carui.info/nissan-qashqai-tekna-1-5-dci-nl/',
		backgroundImage: pathToAssets + 'images/nissan-qashqai-tekna-1-5-dci-nl/nissan-qashqai-dashboard.jpg',
		backgroundImageAlt: 'Nissan Qashqai dashboard',
		titleImage: pathToAssets + 'images/nissan-qashqai-tekna-1-5-dci-nl/nissan-qashqai-small.png',
		titleImageAlt: 'Nissan Qashqai small',
		title: 'Nissan Qashqai',
		subtitle: 'Tekna 1.5 dCi',
		description: '       
        Of course we can not ignore the success since 2007 of the Qashqai. On February 2014, the updated version of the Qashqai can be admired on the road. The new design is striking, but has some similarities with the previous model. There were rumors that the Qashqai is full of exciting new technology. We were curious and ready to be suprised in our review.',
		testTagline: 'Tested on May 15 2014 by Hylke van Maaren, Helder Mota and Robbert Ouwerkerk',
		widgetScore: {
			score: '80',
			scoreDetails: {
				identity: {
					score: '85',
					description: '                    
                    The two displays are nicely integrated in the interior. The physical buttons are well placed next to it. The display behind the wheel is fitted between the speedometer and tachometer. On this display you can easely scroll through the information from the steering wheel. Relevant information is shown in a simple and easy to understand way. </b><br/><br/>
<b>Color</b><br/>
The color scheme is based on a black background. Blue is used to label buttons, white for text or primary actions and orange for active components or interactive elements. Some colors in the navigation and icons are used inconsistent and random. But overall there is a clear and consistent use of colors and control visualisations. </b><br/><br/>
In the interior there is an orange ambient lighting applied. This color can also be found in the interface. A nice detail that connects the interface with the interior.',
                    visual: pathToAssets + 'images/nissan-qashqai-tekna-1-5-dci-nl/nissan-qashqai-identiteit.jpg'
				},
				hardware: {
					score: '75',
					description: '                    
                    The car is equipped with a color scheme that has sufficient contrast in bright light. The night modus also funtions well at night, but lacks contrast on a drizzling day. The screen can be adjusted manually or automaticly. However, the automatic dimming does not change when entering a tunnel, and can be to bright then.</b><br/><br/>Operating the screen can be done via the knobs on either side, and feels solid. The ministry is also logically arranged in the dashboard. The touch function of the screen does not always work as expected. You really have to press and sometimes the screen responses a bit to slow.',
                    visual: pathToAssets + 'images/nissan-qashqai-tekna-1-5-dci-nl/nissan-qashqai-hardware.png'
				},
				toptasks: {
					score: '70',
					description: 'The menus offer some limited but useful options to choose from. The access to the next step, if the option consists of several steps, is clearly marked. Some option lists lack a clear hierarchy.<br/><br/>The icons used are often difficult to interpret. At first instance they seem to constitute an integral part of the text. This forces you to read the text: something that requires time and attention while driving. Also, the icons are not consistent in size, color and style. The labels, however, are clear.<br/><br/>The prediction function when entering a location ensures that you can quickly enter your destination. You do not have to enter the full street name to find your destination. Your destination is found on the basis of the addresses that are in the system.',
                    visual: pathToAssets + 'images/nissan-qashqai-tekna-1-5-dci-nl/nissan-qashqai-toptaken.jpg'
				},
				usability: {
					score: '80',
					description: 'A clear definition is given for each option. This is supported by a visual icon. Also, the animations run fairly smoothly. This contributes to the support of the interaction with the user. The input method is easy to use while driving. There are also clear messages as the system does not work for: for example, if the key is not present (keyless driving) or if you do not use your seatbelt.',
                    visual: pathToAssets + 'images/nissan-qashqai-tekna-1-5-dci-nl/nissan-qashqai-usability.jpg'
				},
				technology: {
					score: '80',
					description: 'This version of the Qashqai is loaded with technical features. From Blind Spot Assist parallel to fully automatic parking, and tire pressure monitoring to warn for taking a break. Most of these functions can be set up, operated and read from the small screen in front of the driver. These are all convenient to operate with buttons on the steering wheel.',
                    visual: pathToAssets + 'images/nissan-qashqai-tekna-1-5-dci-nl/nissan-qashqai-technologie.jpg'
				}
			},
			summary: {
				good: [
					'No nonsense interface',
                        'Consistent application of the visual style'
				],
				bad: [
					'Sometimes a bit of a dull interface',
                        'Display not readable with direct sun froom the glass roof'
				]
			}
		},
		socialSharing: {
			twitter: 'Nissan Qashqai Tekna 1.5 dCi. Score: 80/100'
		}
	}
		%}

	{%
		set summaryContent = {
		title: 'Smooth, easy and qualitatively strong ',
		text: '     
        The Nissan is equipped with two displays. A 5 inch in the middle of the console, and one between the dials. Both displays work smoothly. You experience no delays or glitches in the menus. The screens themselves demonstrate a clear and sharp image and give you the feeling of a good quality. All is perfectly legible. Even if you\'re dealing with lots of light. the screen that sits on the middle of your dashboard however, is not legible when the glass roof is open.<br/><br/>Each menu offers a limited but clear set of options to choose from. While driving ofcourse you don\'t want to get lost in a maze of options that are not even relevant at the time.<br/><br/> The automatic parking option we see in more and more cars these days. It can provide a helping hand, especially in tight parking areas. It just takes a bit of preperation setting up for automatic parking. If you are a skilled driver, it is still often faster to do it manualy than the automatic function.',
		visual: pathToAssets + 'images/nissan-qashqai-tekna-1-5-dci-nl/nissan-qashqai-summary.png'
	}
		%}

	{%
		set quote = 'We are welcomed with a very nice boot animation as we start the car. This provides something of a premium feel.'
		%}

	{%
		set highlightContent = {
		title: 'Safety Shield Plus',
		text: 'The Nissan has a \'Safety Shield Plus\'-option. 16 sensors keep track of the environment of the car. They for example allert you on traffic in your blind spots, but also warn you if you get to close and to fast to the car in front of you.',
		visual: pathToAssets + 'images/nissan-qashqai-tekna-1-5-dci-nl/nissan-qashqai-highlight.png'
	}
		%}

	{%
		set relatedContent = [
		{
			title: 'BMW i3',
			subTitle: 'Full Electric',
			score: '85',
			visual: pathToAssets + 'images/related/bmw-i3.jpg',
			url: hrefPrefix + '/modules/views/bmw-i3-nl/bmw-i3-nl.html'
		},
		{
			title: 'Opel Insignia',
			subTitle: 'Sports Tourer Business+',
			score: '50',
			visual: pathToAssets + 'images/related/opel-insignia-business-edition.jpg',
			url: hrefPrefix + '/modules/views/opel-insignia-tourer-bplus-2-0-d-nl/opel-insignia-tourer-bplus-2-0-d-nl.html'
		},
		{
			title: 'Citroën C4 Picasso',
			subTitle: 'Business Edition',
			score: '65',
			visual: pathToAssets + 'images/related/citroen-c4-picasso.jpg',
			url: hrefPrefix + '/modules/views/citroen-c4-picasso-business-nl/citroen-c4-picasso-business-nl.html'
		}
	]
%}

{% extends "views/_base-view/base-view.html" %}
{% import  "components/detail-intro/_detail-intro.html" as intro %}
{% import  "components/related/_related.html" as related %}

{% block content %}
	{{ intro.detailIntro(content) }}

	{% include "components/detail-main/_detail-main.html" %}

	{% include "components/comments/_comments.html" %}

	{{ related.related(relatedContent) }}

{% endblock %}