@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* footer component */

.footer {
	background-color: $black;
	color: $white;
	padding-top: 2em;
	padding-bottom: 5em;
	.footer-content {
		width: 100%;
		max-width: 900px;
		margin-right: auto;
		margin-left: auto;
	}
	.logo {
		display: inline-block;
		vertical-align: top;
		background-color: $white;
		height: 40px;
		width: 55px;
		color: $black;
		text-align: right;
		font-size: 1.6em;
	}
	.inline-header {
		display: inline-block;
	}
	.footer-button.ui-button-tertiary {
		display: inline-block;
		vertical-align: top;
		color: $black;
		background-color: $white;
		&:hover {
			background-color: $yellow;
		}
	}
}