@import "../../../assets/scss/variables";
@import "../../../assets/scss/helpers";

/* footer component */

.footer {
	@include clearfix;

	background-color: $black;

	h1,
	h2 {
		margin-top: 0;
	}

	.footer-contact {
		@include box-sizing(border-box);

		background-color: $medium-grey;
		padding: 30px;

		@include min-screen($break-medium) {
			float: right;
			width: 31.5%;
		}

		h2 {
			@include header-font();

			font-size: 25px;
		}

		p {
			background-color: $white;
			padding: 20px;
		}
	}

	.footer-content {
		@include box-sizing(border-box);

		color: $white;
		padding: 30px;

		@include min-screen($break-medium) {
			float: right;
			width: 68.5%;
		}

		@include min-screen($break-large) {
			padding-left: 0;
		}
	}

	.footer-branding {
		a {
			display: inline-block;
			margin-right: 30px;
			border-bottom: none;
		}
		.icon {
			&:last-of-type {
				margin-right: 0;
			}
		}
	}
}