



<!-- featured -->
<div class="featured" data-component="featured">
	<section class="max-width-centered">
		<h1>NIEUW DIEPTEPUNT</h1>
		<div class="featured-content">
			<img src="/assets/images/home/home-featured.png" alt="Land Rover Evoque Si4 4WD Dynamic"/>

			<div class="featured-content-wrapper">
				<time>02-02-2014</time>
				<h2>
					<a href="#">
						Land Rover Evoque
						<span class="subtitle">Si4 4WD Dynamic</span>
					</a>
				</h2>
				<div class="featured-score">
					<span class="icon icon-gauge1"></span>
					2,2
				</div>
				<hr/>
				<ul>
					
					<li><span class="icon icon-plus-yellow"></span>Lorem ipsum dolor sit amet, consectetur adipiscing</li>
					
					<li><span class="icon icon-plus-yellow"></span>Eliti vestibulum consequat lobortis justo vitae.</li>
					
				</ul><!--
				--><ul>
					
					<li><span class="icon icon-min-red"></span>Vollit vestibulum consequat lobortis justo posuere.</li>
					
					<li><span class="icon icon-min-red"></span>Bestibulum consequat mauris eget diam risus.</li>
					
				</ul>
			</div>

		</div>
	</section>
</div>
<!-- /featured -->

