<!-- shortlist -->
<div class="shortlist" data-component="shortlist">
	<section class="max-width-centered">
		<h1>DE TOP BESTE INTERFACES</h1>
		<!--
		-->
		<a class="shortlist-product" href="/bmw-i3-nl/">
			<img src="/assets/images/related/nissan-quashqai-tekna-opique.png" alt="Nissan Quashqai Tekna Opique - Si4 4WD Dynamic" />
			<div class="equalHeight" data-equal-height>
				<div class="shortlist-title">
					<h2>Nissan Quashqai Tekna Opique<span>Si4 4WD Dynamic</span></h2>
					<span class="shortlist-score">4.5</span>
				</div>
				<div class="shortlist-summary">
					<hr/>
					<ul>

						<li><span class="icon icon-plus-yellow"></span>De UI is contrastrijk</li>

						<li><span class="icon icon-plus-yellow"></span>Hardware knop</li>

					</ul>
					<ul>

						<li><span class="icon icon-min-red"></span>De inputmethode</li>

						<li><span class="icon icon-min-red"></span>Navigatie viel tegen</li>

					</ul>
					<hr/>
					<time>02-02-2014</time>
				</div>
			</div>
		</a>
		<!--
	-->
		<!--
		-->
		<a class="shortlist-product" href="/bmw-i3-nl/">
			<img src="/assets/images/related/opel-insignia-business-edition.png" alt="Opel Insignia - Business Edition" />
			<div class="equalHeight" data-equal-height>
				<div class="shortlist-title">
					<h2>Opel Insignia<span>Business Edition</span></h2>
					<span class="shortlist-score">2</span>
				</div>
				<div class="shortlist-summary">
					<hr/>
					<ul>

						<li><span class="icon icon-plus-yellow"></span>De UI is contrastrijk</li>

						<li><span class="icon icon-plus-yellow"></span>Hardware knop</li>

					</ul>
					<ul>

						<li><span class="icon icon-min-red"></span>De inputmethode</li>

						<li><span class="icon icon-min-red"></span>Navigatie viel tegen</li>

					</ul>
					<hr/>
					<time>02-02-2014</time>
				</div>
			</div>
		</a>
		<!--
	-->
		<!--
		-->
		<a class="shortlist-product" href="/bmw-i3-nl/">
			<img src="/assets/images/related/citroen-c4-picasso.png" alt="Citroën C4 Picasso - Business Edition" />
			<div class="equalHeight" data-equal-height>
				<div class="shortlist-title">
					<h2>Citroën C4 Picasso<span>Business Edition</span></h2>
					<span class="shortlist-score">5.5</span>
				</div>
				<div class="shortlist-summary">
					<hr/>
					<ul>

						<li><span class="icon icon-plus-yellow"></span>De UI is contrastrijk</li>

						<li><span class="icon icon-plus-yellow"></span>Hardware knop</li>

					</ul>
					<ul>

						<li><span class="icon icon-min-red"></span>De inputmethode</li>

						<li><span class="icon icon-min-red"></span>Navigatie viel tegen</li>

					</ul>
					<hr/>
					<time>02-02-2014</time>
				</div>
			</div>
		</a>
		<!--
	-->
	</section>
</div>
<!-- /shortlist -->