



<!-- bibliography -->
<div class="bibliography" data-component="bibliography">
	<section class="max-width-centered">
		<h1>Bronnen</h1>
		<ol>
			
			<li>
				1:
				
					History of the automobile
				
				(<a href="http://en.wikipedia.org/wiki/History_of_the_automobile" target="_blank">http://en.wikipedia.org/wiki/History_of_the_automobile</a>),
			</li>
			
			<li>
				2:
				
					Automotive design
				
				(<a href="http://en.wikipedia.org/wiki/Automotive_design" target="_blank">http://en.wikipedia.org/wiki/Automotive_design</a>),
			</li>
			
			<li>
				3:
				
					Car design history
				
				(<a href="http://www.diseno-art.com/car_design_history.html" target="_blank">http://www.diseno-art.com/car_design_history.html</a>),
			</li>
			
			<li>
				4:
				
					What web designers can learn from Google’s Material Design
				
				(<a href="http://www.webdesignerdepot.com/2014/10/what-web-designers-can-learn-from-googles-material-design/" target="_blank">http://www.webdesignerdepot.com/2014/10/what-web-designers-can-learn-from-googles-material-design/</a>),
			</li>
			
			<li>
				5:
				
				(<a href="http://youtu.be/i3GC4dQ7Cs8?list=FLt5EQDiHorFm9HCLwSSBRRw" target="_blank">http://youtu.be/i3GC4dQ7Cs8?list=FLt5EQDiHorFm9HCLwSSBRRw</a>),
			</li>
			
			<li>
				6:
				
				(<a href="http://youtu.be/Vhygzio7oA0?list=FLt5EQDiHorFm9HCLwSSBRRw" target="_blank">http://youtu.be/Vhygzio7oA0?list=FLt5EQDiHorFm9HCLwSSBRRw</a>)
			</li>
			
		</ol>
	</section>
</div>
<!-- /bibliography -->
