<!-- footer -->
<footer class="footer" data-component="footer">
    <div class="footer-content">
        <h1>Car UX is een initiatief van UNITiD interaction Designers</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequaorem ipsum dolor sit amet,
            consectetur ad.</p>
        <h2 class="inline-header">Review aanvragen of opmerkingen?</h2>
        <a class="footer-button ui-button-tertiary" href="mailto:postbus@unitid.nl?subject=Car UX Review aanvragen / opmerkingen">
			Mail ons
		</a>
        <div>	<span class="logo">CAR UX</span>
            <span class="logo">UNITiD</span>
        </div>
    </div>
</footer>
<!-- /footer -->