<!-- footer -->
<footer class="footer" data-component="footer">
	<div class="max-width-centered">
		<div class="footer-contact">
			<h2>Review aanvragen of opmerkingen?</h2>
			<p>
				We staan open voor review aanvragen of opmerkingen naar aanleiding van de informatie en reviews op deze website.
			</p>
			<a class="ui-button-secondary" href="mailto:postbus@unitid.nl?subject=Car%20UX%20Review%20aanvragen%20/%20opmerkingen">
				Mail ons
			</a>
		</div>
		<div class="footer-content">
			<h1>Car UX is een initiatief van UNITiD interaction Designers</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequaorem ipsum dolor sit amet, consectetur ad.
			</p>
			<div class="footer-branding">
				<span class="icon icon-logo">CAR UX</span>
				<span class="icon icon-logo-unitid">UNITiD</span>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->